{:type :invoke, :f :write, :value 3, :time 15733018221, :process 67, :index 162}
{:type :info, :f :write, :value 3, :time 15739828731, :process 67, :error [:unknown "not leader"], :index 163}
{:type :invoke, :f :read, :time 16055972710, :process 1, :value nil, :index 164}
{:type :fail, :f :read, :time 16061848751, :process 1, :value nil, :error [:unknown "not leader"], :index 165}
{:type :invoke, :f :read, :time 16067821006, :process 4, :value nil, :index 166}
{:type :fail, :f :read, :time 16073014840, :process 4, :value nil, :error [:unknown "not leader"], :index 167}
{:type :invoke, :f :cas, :value [3 1], :time 16183476248, :process 65, :index 168}
{:type :info, :f :cas, :value [3 1], :time 16204860690, :process 65, :error [:unknown "not found"], :index 169}
{:type :invoke, :f :read, :time 16243967022, :process 3, :value nil, :index 170}
{:type :fail, :f :read, :time 16246408651, :process 3, :value nil, :error [:unknown "not leader"], :index 171}
{:type :invoke, :f :read, :time 16565764293, :process 3, :value nil, :index 172}
{:type :fail, :f :read, :time 16571710003, :process 3, :value nil, :error [:unknown "not leader"], :index 173}
{:type :invoke, :f :read, :time 16854856775, :process 4, :value nil, :index 174}
{:type :fail, :f :read, :time 16861421578, :process 4, :value nil, :error [:unknown "not leader"], :index 175}
{:type :invoke, :f :cas, :value [3 4], :time 17228129249, :process 98, :index 176}
{:type :info, :f :cas, :value [3 4], :time 17233256091, :process 98, :error [:unknown "not leader"], :index 177}
{:type :invoke, :f :write, :value 1, :time 17509570648, :process 116, :index 178}
{:type :info, :f :write, :value 1, :time 17515461446, :process 116, :error [:unknown "not leader"], :index 179}
{:type :invoke, :f :cas, :value [4 1], :time 17660619202, :process 77, :index 180}
{:type :info, :f :cas, :value [4 1], :time 17664193393, :process 77, :error [:unknown "not leader"], :index 181}
{:type :invoke, :f :read, :time 17981203711, :process 4, :value nil, :index 182}
{:type :fail, :f :read, :time 17987715448, :process 4, :value nil, :error [:unknown "not leader"], :index 183}
{:type :invoke, :f :read, :time 18338550125, :process 1, :value nil, :index 184}
{:type :fail, :f :read, :time 18343731544, :process 1, :value nil, :error [:unknown "not leader"], :index 185}
{:type :invoke, :f :write, :value 4, :time 18696642844, :process 126, :index 186}
{:type :info, :f :write, :value 4, :time 18702645822, :process 126, :error [:unknown "not leader"], :index 187}
{:type :invoke, :f :read, :time 19022090087, :process 1, :value nil, :index 188}
{:type :invoke, :f :read, :time 19025440230, :process 2, :value nil, :index 189}
{:type :fail, :f :read, :time 19027567571, :process 1, :value nil, :error [:unknown "not leader"], :index 190}
{:type :fail, :f :read, :time 19031001029, :process 2, :value nil, :error [:unknown "not leader"], :index 191}
{:type :invoke, :f :cas, :value [3 3], :time 19392623236, :process 136, :index 192}
{:type :info, :f :cas, :value [3 3], :time 19398434281, :process 136, :error [:unknown "not leader"], :index 193}
{:type :invoke, :f :read, :time 19706748131, :process 1, :value nil, :index 194}
{:type :fail, :f :read, :time 19711881921, :process 1, :value nil, :error [:unknown "not leader"], :index 195}
{:type :invoke, :f :cas, :value [0 3], :time 19800570303, :process 129, :index 196}
{:type :info, :f :cas, :value [0 3], :time 19807267016, :process 129, :error [:unknown "not leader"], :index 197}
