{:type :invoke, :f :read, :time 7653947824, :process 4, :value nil, :index 75}
{:type :invoke, :f :read, :time 7712950989, :process 2, :value nil, :index 76}
{:type :fail, :f :read, :time 7839772658, :process 2, :value nil, :error [:unknown "not leader"], :index 77}
{:type :fail, :f :read, :time 7841654023, :process 4, :value nil, :error [:unknown "not leader"], :index 78}
{:type :invoke, :f :cas, :value [2 1], :time 7920618257, :process 85, :index 79}
{:type :info, :f :cas, :value [2 1], :time 7927059479, :process 85, :error [:unknown "not leader"], :index 80}
{:type :invoke, :f :write, :value 0, :time 8075425375, :process 46, :index 82}
{:type :invoke, :f :cas, :value [1 0], :time 8304935171, :process 95, :index 83}
{:type :info, :f :cas, :value [1 0], :time 8591219254, :process 95, :error [:unknown "not leader"], :index 84}
{:type :invoke, :f :cas, :value [3 0], :time 8651043992, :process 48, :index 85}
{:type :invoke, :f :cas, :value [2 4], :time 8712259166, :process 39, :index 86}
{:type :invoke, :f :read, :time 8719873118, :process 1, :value nil, :index 87}
{:type :invoke, :f :read, :time 8736838542, :process 4, :value nil, :index 88}
{:type :invoke, :f :cas, :value [0 2], :time 8740895719, :process 57, :index 89}
{:type :info, :f :cas, :value [0 2], :time 8842234499, :process 57, :error [:unknown "not leader"], :index 90}
{:type :info, :f :cas, :value [3 0], :time 8842911712, :process 48, :error [:unknown "not leader"], :index 91}
{:type :info, :f :cas, :value [2 4], :time 8843471984, :process 39, :error [:unknown "not leader"], :index 92}
{:type :fail, :f :read, :time 8843615868, :process 4, :value nil, :error [:unknown "not leader"], :index 93}
{:type :invoke, :f :write, :value 1, :time 9051770229, :process 49, :index 94}
{:type :invoke, :f :read, :time 9311251269, :process 4, :value nil, :index 95}
{:type :info, :f :write, :value 1, :time 9343946308, :process 49, :error [:unknown "not leader"], :index 96}
{:type :fail, :f :read, :time 9346699653, :process 4, :value nil, :error [:unknown "not leader"], :index 97}
{:type :ok, :f :write, :value 0, :time 9348950105, :process 46, :index 98}
{:type :invoke, :f :read, :time 9579657825, :process 4, :value nil, :index 99}
{:type :fail, :f :read, :time 9602610753, :process 4, :value nil, :error [:unknown "not leader"], :index 100}
{:type :invoke, :f :write, :value 1, :time 9935736047, :process 67, :index 101}
{:type :invoke, :f :write, :value 3, :time 10086873972, :process 46, :index 102}
{:type :info, :f :write, :value 1, :time 10093121111, :process 67, :error [:unknown "not leader"], :index 103}
{:type :ok, :f :read, :time 10103993862, :process 1, :value 0, :index 104}
{:type :invoke, :f :read, :time 10244926864, :process 2, :value nil, :index 105}
{:type :invoke, :f :cas, :value [2 2], :time 10579739779, :process 77, :index 106}
{:type :fail, :f :read, :time 10605498324, :process 2, :value nil, :error [:unknown "not leader"], :index 107}
{:type :info, :f :cas, :value [2 2], :time 10606207653, :process 77, :error [:unknown "not leader"], :index 108}
{:type :invoke, :f :write, :value 1, :time 10941097884, :process 58, :index 109}
{:type :info, :f :write, :value 1, :time 10946772003, :process 58, :error [:unknown "not leader"], :index 110}
{:type :invoke, :f :read, :time 11178910633, :process 2, :value nil, :index 111}
{:type :invoke, :f :read, :time 11490014626, :process 0, :value nil, :index 112}
{:type :fail, :f :read, :time 11594178701, :process 2, :value nil, :error [:unknown "not leader"], :index 113}
{:type :fail, :f :read, :time 11594589780, :process 0, :value nil, :error [:unknown "not leader"], :index 114}
{:type :invoke, :f :cas, :value [3 0], :time 11668642760, :process 59, :index 115}
{:type :info, :f :cas, :value [3 0], :time 11675084139, :process 59, :error [:unknown "not leader"], :index 116}
{:type :info, :f :write, :value 3, :time 15089612946, :process 46, :error :net-timeout, :index 151}
