{:type :invoke, :f :read, :time 42551736978, :process 2, :value nil, :index 403}
{:type :invoke, :f :read, :time 42640855726, :process 1, :value nil, :index 405}
{:type :fail, :f :read, :time 42758239021, :process 2, :value nil, :error [:unknown "locked state"], :index 406}
{:type :fail, :f :read, :time 42879573472, :process 1, :value nil, :error [:unknown "locked state"], :index 407}
{:type :invoke, :f :read, :time 42951393394, :process 0, :value nil, :index 408}
{:type :invoke, :f :read, :time 43272735415, :process 1, :value nil, :index 409}
{:type :fail, :f :read, :time 43364951583, :process 0, :value nil, :error [:unknown "not found"], :index 410}
{:type :fail, :f :read, :time 43479880944, :process 1, :value nil, :error [:unknown "locked state"], :index 411}
{:type :invoke, :f :read, :time 43632692055, :process 1, :value nil, :index 412}
{:type :invoke, :f :cas, :value [4 4], :time 43834683223, :process 135, :index 413}
{:type :fail, :f :read, :time 43841889470, :process 1, :value nil, :error [:unknown "locked state"], :index 414}
{:type :invoke, :f :read, :time 44004722220, :process 2, :value nil, :index 415}
{:type :info, :f :cas, :value [4 4], :time 44043688193, :process 135, :error [:unknown "locked state"], :index 416}
{:type :fail, :f :read, :time 44214136426, :process 2, :value nil, :error [:unknown "locked state"], :index 417}
{:type :invoke, :f :cas, :value [0 3], :time 44339427037, :process 141, :index 418}
{:type :invoke, :f :cas, :value [4 1], :time 44349699697, :process 161, :index 419}
{:type :invoke, :f :read, :time 44531569087, :process 2, :value nil, :index 420}
{:type :info, :f :cas, :value [4 1], :time 44652963127, :process 161, :error [:unknown "locked state"], :index 421}
{:type :invoke, :f :read, :time 44725871935, :process 0, :value nil, :index 422}
{:type :info, :f :cas, :value [0 3], :time 44754345273, :process 141, :error [:unknown "not found"], :index 423}
{:type :fail, :f :read, :time 44957628091, :process 2, :value nil, :error [:unknown "not found"], :index 424}
{:type :fail, :f :read, :time 44957984504, :process 0, :value nil, :error [:unknown "locked state"], :index 425}
{:type :invoke, :f :read, :time 45065343716, :process 0, :value nil, :index 426}
{:type :invoke, :f :read, :time 45424477447, :process 1, :value nil, :index 427}
{:type :fail, :f :read, :time 45476177725, :process 0, :value nil, :error [:unknown "not found"], :index 428}
{:type :invoke, :f :read, :time 45673414062, :process 2, :value nil, :index 429}
{:type :invoke, :f :read, :time 45828408541, :process 0, :value nil, :index 430}
{:type :fail, :f :read, :time 45837441517, :process 1, :value nil, :error [:unknown "not found"], :index 431}
{:type :fail, :f :read, :time 46042415116, :process 0, :value nil, :error [:unknown "locked state"], :index 432}
{:type :fail, :f :read, :time 46145117771, :process 2, :value nil, :error [:unknown "not found"], :index 433}
{:type :invoke, :f :cas, :value [4 2], :time 46219524830, :process 167, :index 434}
{:type :invoke, :f :write, :value 2, :time 46299975343, :process 147, :index 435}
{:type :invoke, :f :read, :time 46380193963, :process 2, :value nil, :index 436}
{:type :info, :f :write, :value 2, :time 46531861454, :process 147, :error [:unknown "locked_state"], :index 437}
{:type :fail, :f :read, :time 46634291674, :process 2, :value nil, :error [:unknown "locked state"], :index 438}
{:type :info, :f :cas, :value [4 2], :time 46634656417, :process 167, :error [:unknown "not found"], :index 439}
{:type :invoke, :f :read, :time 46736112762, :process 2, :value nil, :index 440}
{:type :invoke, :f :cas, :value [0 0], :time 47112573200, :process 166, :index 441}
{:type :fail, :f :read, :time 47148296343, :process 2, :value nil, :error [:unknown "not found"], :index 442}
{:type :invoke, :f :write, :value 1, :time 47382048119, :process 153, :index 443}
{:type :info, :f :cas, :value [0 0], :time 47525554172, :process 166, :error [:unknown "not found"], :index 444}
{:type :invoke, :f :write, :value 2, :time 47588454845, :process 173, :index 445}
{:type :invoke, :f :write, :value 2, :time 47650696689, :process 172, :index 446}
{:type :invoke, :f :read, :time 47654389846, :process 0, :value nil, :index 447}
{:type :invoke, :f :read, :time 47792115996, :process 1, :value nil, :index 448}
{:type :info, :f :write, :value 2, :time 47797591480, :process 173, :error [:unknown "locked_state"], :index 449}
{:type :invoke, :f :read, :time 47817362006, :process 2, :value nil, :index 450}
{:type :ok, :f :write, :value 1, :time 47829553160, :process 153, :index 451}
{:type :invoke, :f :write, :value 4, :time 47895401292, :process 153, :index 452}
{:type :fail, :f :read, :time 47899394070, :process 0, :value nil, :error [:unknown "locked state"], :index 453}
{:type :fail, :f :read, :time 48002293574, :process 1, :value nil, :error [:unknown "locked state"], :index 454}
{:type :invoke, :f :read, :time 48065470530, :process 1, :value nil, :index 455}
{:type :fail, :f :read, :time 48104809193, :process 2, :value nil, :error [:unknown "locked state"], :index 456}
{:type :ok, :f :write, :value 2, :time 48105682520, :process 172, :index 457}
{:type :ok, :f :write, :value 4, :time 48307704551, :process 153, :index 458}
{:type :fail, :f :read, :time 48308512934, :process 1, :value nil, :error [:unknown "locked state"], :index 459}
{:type :invoke, :f :cas, :value [1 3], :time 48322671946, :process 153, :index 460}
{:type :invoke, :f :read, :time 48389843175, :process 0, :value nil, :index 461}
{:type :invoke, :f :read, :time 48453891209, :process 1, :value nil, :index 462}
{:type :fail, :f :read, :time 48617802899, :process 0, :value nil, :error [:unknown "locked state"], :index 463}
{:type :fail, :f :read, :time 48718689324, :process 1, :value nil, :error [:unknown "locked state"], :index 464}
{:type :invoke, :f :cas, :value [0 2], :time 48756938391, :process 179, :index 465}
{:type :info, :f :cas, :value [1 3], :time 48818603027, :process 153, :error [:unknown "does not match"], :index 466}
{:type :invoke, :f :read, :time 48872829276, :process 2, :value nil, :index 467}
{:type :invoke, :f :read, :time 49037371988, :process 1, :value nil, :index 468}
{:type :invoke, :f :read, :time 49114574878, :process 0, :value nil, :index 469}
{:type :fail, :f :read, :time 49171684056, :process 2, :value nil, :error [:unknown "locked state"], :index 470}
{:type :info, :f :cas, :value [0 2], :time 49172546219, :process 179, :error [:unknown "does not match"], :index 471}
{:type :fail, :f :read, :time 49324107843, :process 0, :value nil, :error [:unknown "locked state"], :index 472}
{:type :invoke, :f :read, :time 49411051313, :process 0, :value nil, :index 473}
{:type :ok, :f :read, :time 49477067343, :process 1, :value 4, :index 474}
{:type :invoke, :f :write, :value 2, :time 49497574219, :process 172, :index 475}
{:type :invoke, :f :read, :time 49555527835, :process 1, :value nil, :index 476}
{:type :invoke, :f :read, :time 49653418235, :process 2, :value nil, :index 477}
{:type :info, :f :write, :value 2, :time 49705988450, :process 172, :error [:unknown "locked_state"], :index 478}
{:type :fail, :f :read, :time 49809057149, :process 1, :value nil, :error [:unknown "locked state"], :index 479}
{:type :ok, :f :read, :time 49821128668, :process 0, :value 4, :index 480}
{:type :invoke, :f :read, :time 49968610106, :process 0, :value nil, :index 481}
{:type :ok, :f :read, :time 50113122736, :process 2, :value 4, :index 482}
{:type :invoke, :f :read, :time 50169636669, :process 1, :value nil, :index 483}
{:type :invoke, :f :write, :value 4, :time 50366155796, :process 159, :index 484}
{:type :fail, :f :read, :time 50379024471, :process 1, :value nil, :error [:unknown "locked state"], :index 485}
{:type :ok, :f :read, :time 50419969076, :process 0, :value 4, :index 486}
{:type :invoke, :f :read, :time 50470814523, :process 0, :value nil, :index 487}
{:type :invoke, :f :read, :time 50725302184, :process 2, :value nil, :index 488}
{:type :fail, :f :read, :time 50727792580, :process 0, :value nil, :error [:unknown "locked state"], :index 489}
{:type :invoke, :f :write, :value 3, :time 50815563501, :process 178, :index 490}
{:type :ok, :f :write, :value 4, :time 50828768769, :process 159, :index 491}
{:type :info, :f :write, :value 3, :time 51036988818, :process 178, :error [:unknown "locked_state"], :index 492}
{:type :invoke, :f :read, :time 51094161285, :process 0, :value nil, :index 493}
{:type :ok, :f :read, :time 51138083280, :process 2, :value 4, :index 494}
{:type :invoke, :f :cas, :value [2 4], :time 51485896124, :process 159, :index 495}
{:type :ok, :f :read, :time 51545853157, :process 0, :value 4, :index 496}
{:type :invoke, :f :read, :time 51590920487, :process 2, :value nil, :index 497}
{:type :fail, :f :read, :time 51853611608, :process 2, :value nil, :error [:unknown "locked state"], :index 498}
{:type :invoke, :f :write, :value 2, :time 51931704989, :process 185, :index 499}
{:type :ok, :f :cas, :value [2 4], :time 51952355065, :process 159, :index 500}
{:type :invoke, :f :write, :value 0, :time 52274667903, :process 159, :index 501}
{:type :ok, :f :write, :value 2, :time 52344435445, :process 185, :index 502}
{:type :invoke, :f :cas, :value [4 1], :time 52407680764, :process 184, :index 503}
{:type :info, :f :cas, :value [4 1], :time 52616793905, :process 184, :error [:unknown "locked state"], :index 504}
{:type :ok, :f :write, :value 0, :time 52685505474, :process 159, :index 505}
{:type :invoke, :f :read, :time 52774823170, :process 1, :value nil, :index 506}
{:type :invoke, :f :read, :time 52905858529, :process 0, :value nil, :index 507}
{:type :fail, :f :read, :time 52984227686, :process 1, :value nil, :error [:unknown "locked state"], :index 508}
{:type :fail, :f :read, :time 53115076287, :process 0, :value nil, :error [:unknown "locked state"], :index 509}
{:type :invoke, :f :read, :time 53305300575, :process 1, :value nil, :index 510}
{:type :invoke, :f :read, :time 53410001758, :process 0, :value nil, :index 511}
{:type :fail, :f :read, :time 53514949251, :process 1, :value nil, :error [:unknown "locked state"], :index 512}
{:type :invoke, :f :read, :time 53526733601, :process 1, :value nil, :index 513}
{:type :invoke, :f :cas, :value [1 2], :time 53610787584, :process 190, :index 514}
{:type :fail, :f :read, :time 53618752817, :process 0, :value nil, :error [:unknown "locked state"], :index 515}
{:type :fail, :f :read, :time 53736508815, :process 1, :value nil, :error [:unknown "locked state"], :index 516}
{:type :info, :f :cas, :value [1 2], :time 53837330259, :process 190, :error [:unknown "locked state"], :index 517}
{:type :invoke, :f :read, :time 53888795604, :process 2, :value nil, :index 518}
{:type :invoke, :f :read, :time 53983177759, :process 0, :value nil, :index 519}
{:type :invoke, :f :read, :time 53993941383, :process 1, :value nil, :index 520}
{:type :fail, :f :read, :time 54097904088, :process 2, :value nil, :error [:unknown "locked state"], :index 521}
{:type :invoke, :f :cas, :value [2 0], :time 54160289773, :process 185, :index 522}
{:type :fail, :f :read, :time 54199302927, :process 0, :value nil, :error [:unknown "locked state"], :index 523}
{:type :fail, :f :read, :time 54201936129, :process 1, :value nil, :error [:unknown "locked state"], :index 524}
{:type :invoke, :f :write, :value 2, :time 54269108992, :process 159, :index 525}
{:type :info, :f :cas, :value [2 0], :time 54404282110, :process 185, :error [:unknown "locked state"], :index 526}
{:type :invoke, :f :read, :time 54492926092, :process 0, :value nil, :index 527}
{:type :info, :f :write, :value 2, :time 54506585782, :process 159, :error [:unknown "locked_state"], :index 528}
{:type :ok, :f :read, :time 54913544026, :process 0, :value 0, :index 532}
