{:type :invoke, :f :read, :time 11630365659, :process 1, :value nil, :index 122}
{:type :fail, :f :read, :time 11638170058, :process 1, :value nil, :error [:unknown "not leader"], :index 123}
{:type :invoke, :f :cas, :value [0 0], :time 11918987254, :process 35, :index 125}
{:type :info, :f :cas, :value [0 0], :time 11924251826, :process 35, :error [:unknown "not leader"], :index 126}
{:type :invoke, :f :read, :time 11995111841, :process 3, :value nil, :index 127}
{:type :fail, :f :read, :time 12000822491, :process 3, :value nil, :error [:unknown "not leader"], :index 128}
{:type :invoke, :f :read, :time 12074510461, :process 1, :value nil, :index 129}
{:type :fail, :f :read, :time 12078392278, :process 1, :value nil, :error [:unknown "not leader"], :index 130}
{:type :invoke, :f :cas, :value [3 3], :time 12093723502, :process 45, :index 131}
{:type :info, :f :cas, :value [3 3], :time 12095927827, :process 45, :error [:unknown "not leader"], :index 132}
{:type :invoke, :f :write, :value 3, :time 12475341197, :process 66, :index 133}
{:type :info, :f :write, :value 3, :time 12480540444, :process 66, :error [:unknown "not leader"], :index 134}
{:type :invoke, :f :cas, :value [3 4], :time 12752371990, :process 55, :index 135}
{:type :info, :f :cas, :value [3 4], :time 12897340355, :process 55, :error [:unknown "not leader"], :index 136}
{:type :invoke, :f :read, :time 13044581934, :process 1, :value nil, :index 137}
{:type :fail, :f :read, :time 13049822594, :process 1, :value nil, :error [:unknown "not leader"], :index 138}
{:type :invoke, :f :read, :time 13386161823, :process 4, :value nil, :index 140}
{:type :fail, :f :read, :time 13401636451, :process 4, :value nil, :error [:unknown "not leader"], :index 141}
{:type :invoke, :f :cas, :value [1 2], :time 13518092629, :process 89, :index 142}
{:type :info, :f :cas, :value [1 2], :time 13522544588, :process 89, :error [:unknown "not leader"], :index 143}
{:type :invoke, :f :read, :time 13522811621, :process 1, :value nil, :index 144}
{:type :fail, :f :read, :time 13527986750, :process 1, :value nil, :error [:unknown "not leader"], :index 145}
{:type :invoke, :f :cas, :value [4 2], :time 13817482565, :process 65, :index 146}
{:type :info, :f :cas, :value [4 2], :time 13900912977, :process 65, :error [:unknown "not leader"], :index 147}
{:type :invoke, :f :read, :time 14049940668, :process 3, :value nil, :index 148}
{:type :fail, :f :read, :time 14054849017, :process 3, :value nil, :error [:unknown "not leader"], :index 149}
{:type :invoke, :f :cas, :value [4 0], :time 14224082501, :process 75, :index 150}
{:type :info, :f :cas, :value [4 0], :time 14401184643, :process 75, :error [:unknown "not leader"], :index 151}
{:type :invoke, :f :read, :time 14525128372, :process 0, :value nil, :index 152}
{:type :fail, :f :read, :time 14529914724, :process 0, :value nil, :error [:unknown "not leader"], :index 153}
{:type :invoke, :f :write, :value 3, :time 14886406934, :process 67, :index 154}
{:type :invoke, :f :read, :time 14979081433, :process 4, :value nil, :index 155}
{:type :fail, :f :read, :time 15094992274, :process 4, :value nil, :error [:unknown "not leader"], :index 156}
{:type :invoke, :f :write, :value 0, :time 15184882024, :process 118, :index 157}
{:type :info, :f :write, :value 0, :time 15190108317, :process 118, :error [:unknown "not leader"], :index 158}
{:type :invoke, :f :cas, :value [0 4], :time 15310161433, :process 85, :index 159}
{:type :info, :f :cas, :value [0 4], :time 15401726892, :process 85, :error [:unknown "not leader"], :index 160}
{:type :invoke, :f :cas, :value [1 3], :time 15622560244, :process 76, :index 161}
{:type :info, :f :cas, :value [1 3], :time 15627796092, :process 76, :error [:unknown "not leader"], :index 162}
{:type :info, :f :write, :value 3, :time 16889944048, :process 67, :error :net-timeout, :index 169}
