{:type :invoke, :f :read, :time 18653326975, :process 0, :value nil, :index 187}
{:type :fail, :f :read, :time 18655496575, :process 0, :value nil, :error [:unknown "not leader"], :index 188}
{:type :invoke, :f :cas, :value [1 4], :time 19047159445, :process 117, :index 189}
{:type :invoke, :f :read, :time 19054719686, :process 4, :value nil, :index 190}
{:type :info, :f :cas, :value [1 4], :time 19104758513, :process 117, :error [:unknown "not leader"], :index 191}
{:type :fail, :f :read, :time 19105313437, :process 4, :value nil, :error [:unknown "not leader"], :index 192}
{:type :invoke, :f :cas, :value [0 3], :time 19248268518, :process 85, :index 193}
{:type :info, :f :cas, :value [0 3], :time 19250559710, :process 85, :error [:unknown "not leader"], :index 194}
{:type :invoke, :f :read, :time 19493891059, :process 4, :value nil, :index 195}
{:type :fail, :f :read, :time 19603669266, :process 4, :value nil, :error [:unknown "not leader"], :index 196}
{:type :invoke, :f :read, :time 19765062178, :process 0, :value nil, :index 197}
{:type :fail, :f :read, :time 19769672018, :process 0, :value nil, :error [:unknown "not leader"], :index 198}
{:type :invoke, :f :cas, :value [3 1], :time 19837859319, :process 106, :index 199}
{:type :info, :f :cas, :value [3 1], :time 21840307723, :process 106, :error :net-timeout, :index 201}
