{:type :invoke, :f :read, :time 7899282858, :process 4, :value nil, :index 71}
{:type :invoke, :f :read, :time 8239373203, :process 0, :value nil, :index 72}
{:type :invoke, :f :cas, :value [4 1], :time 8246996223, :process 6, :index 73}
{:type :fail, :f :read, :time 8277846032, :process 0, :value nil, :error [:unknown "not leader"], :index 74}
{:type :info, :f :cas, :value [4 1], :time 8278340748, :process 6, :error [:unknown "not leader"], :index 75}
{:type :invoke, :f :cas, :value [0 1], :time 8495305847, :process 15, :index 76}
{:type :info, :f :cas, :value [0 1], :time 8501020018, :process 15, :error [:unknown "not leader"], :index 77}
{:type :invoke, :f :cas, :value [3 1], :time 8592290839, :process 16, :index 78}
{:type :info, :f :cas, :value [3 1], :time 8599400133, :process 16, :error [:unknown "not leader"], :index 79}
{:type :invoke, :f :cas, :value [1 0], :time 8746103460, :process 29, :index 81}
{:type :invoke, :f :read, :time 9001474949, :process 2, :value nil, :index 82}
{:type :fail, :f :read, :time 9009056193, :process 2, :value nil, :error [:unknown "not leader"], :index 83}
{:type :invoke, :f :read, :time 9266387272, :process 1, :value nil, :index 84}
{:type :fail, :f :read, :time 9374553706, :process 1, :value nil, :error [:unknown "not leader"], :index 85}
{:type :invoke, :f :cas, :value [3 1], :time 9522346458, :process 25, :index 86}
{:type :info, :f :cas, :value [3 1], :time 9528212024, :process 25, :error [:unknown "not leader"], :index 87}
{:type :fail, :f :read, :time 9902552487, :process 4, :value nil, :error :net-timeout, :index 88}
{:type :invoke, :f :cas, :value [0 2], :time 9913329153, :process 26, :index 89}
{:type :info, :f :cas, :value [0 2], :time 9920029859, :process 26, :error [:unknown "not leader"], :index 90}
{:type :invoke, :f :cas, :value [3 1], :time 9926799551, :process 36, :index 91}
{:type :info, :f :cas, :value [3 1], :time 9932725418, :process 36, :error [:unknown "not leader"], :index 92}
{:type :invoke, :f :read, :time 10291013998, :process 4, :value nil, :index 93}
{:type :invoke, :f :read, :time 10293109463, :process 0, :value nil, :index 94}
{:type :fail, :f :read, :time 10376971766, :process 0, :value nil, :error [:unknown "not leader"], :index 95}
{:type :invoke, :f :write, :value 2, :time 10625610851, :process 46, :index 96}
{:type :info, :f :write, :value 2, :time 10631153527, :process 46, :error [:unknown "not leader"], :index 97}
{:type :invoke, :f :cas, :value [4 2], :time 10741393001, :process 38, :index 98}
{:type :info, :f :cas, :value [1 0], :time 10756190738, :process 29, :error :net-timeout, :index 99}
{:type :info, :f :cas, :value [4 2], :time 10876550733, :process 38, :error [:unknown "not leader"], :index 100}
{:type :invoke, :f :write, :value 3, :time 11075944788, :process 67, :index 101}
{:type :info, :f :write, :value 3, :time 11082569363, :process 67, :error [:unknown "not leader"], :index 102}
{:type :fail, :f :read, :time 12295353911, :process 4, :value nil, :error :net-timeout, :index 118}
