{:type :invoke, :f :read, :time 8927291921, :process 1, :value nil, :index 86}
{:type :fail, :f :read, :time 8945381895, :process 1, :value nil, :error [:unknown "not found"], :index 87}
{:type :invoke, :f :read, :time 9229282638, :process 0, :value nil, :index 88}
{:type :fail, :f :read, :time 9236469493, :process 0, :value nil, :error [:unknown "not found"], :index 89}
{:type :invoke, :f :cas, :value [1 4], :time 9530855923, :process 34, :index 90}
{:type :info, :f :cas, :value [1 4], :time 9546651073, :process 34, :error [:unknown "not found"], :index 91}
{:type :invoke, :f :cas, :value [0 0], :time 9624107199, :process 40, :index 92}
{:type :info, :f :cas, :value [0 0], :time 9639038692, :process 40, :error [:unknown "not found"], :index 93}
{:type :invoke, :f :read, :time 9979223151, :process 1, :value nil, :index 94}
{:type :fail, :f :read, :time 9995857352, :process 1, :value nil, :error [:unknown "not found"], :index 95}
