{:type :invoke, :f :read, :time 11381137, :process 0, :value nil, :index 0}
{:type :invoke, :f :read, :time 32927641, :process 2, :value nil, :index 1}
{:type :fail, :f :read, :time 41160754, :process 0, :value nil, :error [:unknown "not leader"], :index 2}
{:type :fail, :f :read, :time 41508532, :process 2, :value nil, :error [:unknown "not leader"], :index 3}
{:type :invoke, :f :read, :time 80169248, :process 1, :value nil, :index 4}
{:type :fail, :f :read, :time 92010462, :process 1, :value nil, :error [:unknown "not leader"], :index 5}
{:type :invoke, :f :read, :time 124833377, :process 3, :value nil, :index 6}
{:type :fail, :f :read, :time 134135514, :process 3, :value nil, :error [:unknown "not leader"], :index 7}
{:type :invoke, :f :cas, :value [0 3], :time 148376746, :process 8, :index 8}
{:type :info, :f :cas, :value [0 3], :time 155274054, :process 8, :error [:unknown "not leader"], :index 9}
{:type :invoke, :f :read, :time 201241058, :process 3, :value nil, :index 10}
{:type :fail, :f :read, :time 203662523, :process 3, :value nil, :error [:unknown "not leader"], :index 11}
{:type :invoke, :f :write, :value 2, :time 268206886, :process 7, :index 12}
{:type :info, :f :write, :value 2, :time 271841523, :process 7, :error [:unknown "not leader"], :index 13}
{:type :invoke, :f :cas, :value [3 3], :time 331343734, :process 17, :index 14}
{:type :info, :f :cas, :value [3 3], :time 334841224, :process 17, :error [:unknown "not leader"], :index 15}
{:type :invoke, :f :read, :time 412054270, :process 4, :value nil, :index 16}
{:type :fail, :f :read, :time 416201476, :process 4, :value nil, :error [:unknown "not leader"], :index 17}
{:type :invoke, :f :cas, :value [3 2], :time 488977807, :process 9, :index 18}
{:type :info, :f :cas, :value [3 2], :time 493829645, :process 9, :error [:unknown "not leader"], :index 19}
{:type :invoke, :f :read, :time 517922752, :process 1, :value nil, :index 20}
{:type :fail, :f :read, :time 521639724, :process 1, :value nil, :error [:unknown "not leader"], :index 21}
{:type :invoke, :f :read, :time 529720236, :process 0, :value nil, :index 22}
{:type :fail, :f :read, :time 532430468, :process 0, :value nil, :error [:unknown "not leader"], :index 23}
{:type :invoke, :f :cas, :value [2 0], :time 598130171, :process 27, :index 24}
{:type :info, :f :cas, :value [2 0], :time 600736769, :process 27, :error [:unknown "not leader"], :index 25}
{:type :invoke, :f :write, :value 4, :time 673894484, :process 37, :index 26}
{:type :info, :f :write, :value 4, :time 678933875, :process 37, :error [:unknown "not leader"], :index 27}
{:type :invoke, :f :read, :time 702545434, :process 3, :value nil, :index 28}
{:type :fail, :f :read, :time 707058254, :process 3, :value nil, :error [:unknown "not leader"], :index 29}
{:type :invoke, :f :cas, :value [2 3], :time 707231203, :process 6, :index 30}
{:type :invoke, :f :read, :time 708024006, :process 4, :value nil, :index 31}
{:type :info, :f :cas, :value [2 3], :time 710906262, :process 6, :error [:unknown "not leader"], :index 32}
{:type :fail, :f :read, :time 711218050, :process 4, :value nil, :error [:unknown "not leader"], :index 33}
{:type :invoke, :f :read, :time 752097954, :process 4, :value nil, :index 34}
{:type :fail, :f :read, :time 754674094, :process 4, :value nil, :error [:unknown "not leader"], :index 35}
{:type :invoke, :f :read, :time 754863509, :process 1, :value nil, :index 36}
{:type :fail, :f :read, :time 757641530, :process 1, :value nil, :error [:unknown "not leader"], :index 37}
{:type :invoke, :f :read, :time 766693134, :process 4, :value nil, :index 38}
{:type :fail, :f :read, :time 769958943, :process 4, :value nil, :error [:unknown "not leader"], :index 39}
{:type :invoke, :f :cas, :value [0 3], :time 799021125, :process 19, :index 40}
{:type :info, :f :cas, :value [0 3], :time 801549979, :process 19, :error [:unknown "not leader"], :index 41}
{:type :invoke, :f :cas, :value [4 4], :time 804979078, :process 5, :index 42}
{:type :info, :f :cas, :value [4 4], :time 812111125, :process 5, :error [:unknown "not leader"], :index 43}
{:type :invoke, :f :read, :time 847716112, :process 4, :value nil, :index 44}
{:type :fail, :f :read, :time 851348472, :process 4, :value nil, :error [:unknown "not leader"], :index 45}
{:type :invoke, :f :read, :time 861182035, :process 4, :value nil, :index 46}
{:type :fail, :f :read, :time 864939699, :process 4, :value nil, :error [:unknown "not leader"], :index 47}
{:type :invoke, :f :read, :time 876197916, :process 0, :value nil, :index 48}
{:type :fail, :f :read, :time 878989388, :process 0, :value nil, :error [:unknown "not leader"], :index 49}
{:type :invoke, :f :read, :time 929735238, :process 4, :value nil, :index 50}
{:type :fail, :f :read, :time 932304894, :process 4, :value nil, :error [:unknown "not leader"], :index 51}
{:type :invoke, :f :read, :time 977058600, :process 2, :value nil, :index 52}
{:type :fail, :f :read, :time 980320504, :process 2, :value nil, :error [:unknown "not leader"], :index 53}
{:type :invoke, :f :write, :value 2, :time 1018707382, :process 29, :index 54}
{:type :info, :f :write, :value 2, :time 1022610992, :process 29, :error [:unknown "not leader"], :index 55}
{:type :invoke, :f :read, :time 1113997786, :process 0, :value nil, :index 56}
{:type :fail, :f :read, :time 1116571701, :process 0, :value nil, :error [:unknown "not leader"], :index 57}
{:type :invoke, :f :cas, :value [4 2], :time 1190702560, :process 39, :index 58}
{:type :invoke, :f :read, :time 1201634168, :process 1, :value nil, :index 59}
{:type :fail, :f :read, :time 1207978918, :process 1, :value nil, :error [:unknown "not leader"], :index 60}
{:type :invoke, :f :write, :value 0, :time 1238021090, :process 47, :index 61}
{:type :invoke, :f :read, :time 1248613653, :process 4, :value nil, :index 62}
{:type :invoke, :f :read, :time 1262482317, :process 3, :value nil, :index 63}
{:type :invoke, :f :cas, :value [0 4], :time 1283912700, :process 16, :index 64}
{:type :info, :f :cas, :value [0 4], :time 1290497721, :process 16, :error [:unknown "not leader"], :index 65}
{:type :fail, :f :read, :time 1326072049, :process 3, :value nil, :error [:unknown "not leader"], :index 68}
{:type :info, :f :write, :value 0, :time 1326814729, :process 47, :error [:unknown "not leader"], :index 69}
{:type :info, :f :cas, :value [4 2], :time 1327488869, :process 39, :error [:unknown "not leader"], :index 70}
{:type :fail, :f :read, :time 1327667090, :process 4, :value nil, :error [:unknown "not leader"], :index 71}
