{:type :invoke, :f :read, :time 17317611959, :process 4, :value nil, :index 702}
{:type :invoke, :f :read, :time 17379083889, :process 1, :value nil, :index 704}
{:type :fail, :f :read, :time 17381516699, :process 1, :value nil, :error [:unknown "not leader"], :index 705}
{:type :invoke, :f :write, :value 0, :time 17432772437, :process 398, :index 706}
{:type :invoke, :f :read, :time 17492239871, :process 3, :value nil, :index 707}
{:type :invoke, :f :write, :value 2, :time 17500065788, :process 276, :index 708}
{:type :invoke, :f :write, :value 1, :time 17570831794, :process 347, :index 709}
{:type :info, :f :write, :value 0, :time 17620363215, :process 398, :error [:unknown "not leader"], :index 710}
{:type :info, :f :write, :value 1, :time 17620511105, :process 347, :error [:unknown "not leader"], :index 711}
{:type :fail, :f :read, :time 17620584362, :process 3, :value nil, :error [:unknown "not leader"], :index 712}
{:type :info, :f :write, :value 2, :time 17620653940, :process 276, :error [:unknown "not leader"], :index 713}
{:type :invoke, :f :cas, :value [4 4], :time 17657111018, :process 408, :index 714}
{:type :invoke, :f :read, :time 17676459221, :process 0, :value nil, :index 715}
{:type :fail, :f :read, :time 17721193409, :process 0, :value nil, :error [:unknown "not leader"], :index 716}
{:type :info, :f :cas, :value [4 4], :time 17721324678, :process 408, :error [:unknown "not leader"], :index 717}
{:type :invoke, :f :read, :time 17761462101, :process 1, :value nil, :index 718}
{:type :fail, :f :read, :time 17763595374, :process 1, :value nil, :error [:unknown "not leader"], :index 719}
{:type :invoke, :f :cas, :value [2 1], :time 17790732992, :process 357, :index 720}
{:type :info, :f :cas, :value [2 1], :time 17792739577, :process 357, :error [:unknown "not leader"], :index 721}
{:type :invoke, :f :write, :value 4, :time 17817326773, :process 286, :index 722}
{:type :info, :f :write, :value 4, :time 17819261029, :process 286, :error [:unknown "not leader"], :index 723}
{:type :invoke, :f :read, :time 17847343098, :process 3, :value nil, :index 724}
{:type :fail, :f :read, :time 17848948852, :process 3, :value nil, :error [:unknown "not leader"], :index 725}
{:type :invoke, :f :read, :time 17932192739, :process 1, :value nil, :index 726}
{:type :fail, :f :read, :time 17934913477, :process 1, :value nil, :error [:unknown "not leader"], :index 727}
{:type :invoke, :f :write, :value 2, :time 17941829249, :process 185, :index 728}
{:type :info, :f :write, :value 2, :time 17944396502, :process 185, :error [:unknown "not leader"], :index 729}
{:type :invoke, :f :cas, :value [3 2], :time 17963261453, :process 367, :index 730}
{:type :info, :f :cas, :value [3 2], :time 17965065985, :process 367, :error [:unknown "not leader"], :index 731}
{:type :invoke, :f :cas, :value [1 1], :time 18018237805, :process 296, :index 732}
{:type :info, :f :cas, :value [1 1], :time 18020415968, :process 296, :error [:unknown "not leader"], :index 733}
{:type :invoke, :f :read, :time 18089119322, :process 0, :value nil, :index 734}
{:type :invoke, :f :cas, :value [1 4], :time 18103452455, :process 306, :index 735}
{:type :invoke, :f :read, :time 18110320941, :process 2, :value nil, :index 736}
{:type :fail, :f :read, :time 18112439768, :process 2, :value nil, :error [:unknown "not leader"], :index 737}
{:type :invoke, :f :cas, :value [2 4], :time 18140747185, :process 195, :index 738}
{:type :invoke, :f :write, :value 3, :time 18160496910, :process 377, :index 739}
{:type :info, :f :write, :value 3, :time 18163605838, :process 377, :error [:unknown "not leader"], :index 740}
{:type :info, :f :cas, :value [1 4], :time 18220832122, :process 306, :error [:unknown "not leader"], :index 743}
{:type :info, :f :cas, :value [2 4], :time 18221086960, :process 195, :error [:unknown "not leader"], :index 744}
{:type :fail, :f :read, :time 18221277556, :process 0, :value nil, :error [:unknown "not leader"], :index 745}
{:type :fail, :f :read, :time 19319320883, :process 4, :value nil, :error :net-timeout, :index 793}
