{:type :invoke, :f :read, :time 12946295737, :process 4, :value nil, :index 534}
{:type :fail, :f :read, :time 12952151128, :process 4, :value nil, :error [:unknown "not leader"], :index 535}
{:type :invoke, :f :read, :time 13004112479, :process 1, :value nil, :index 536}
{:type :fail, :f :read, :time 13007060535, :process 1, :value nil, :error [:unknown "not leader"], :index 537}
{:type :invoke, :f :read, :time 13040506491, :process 1, :value nil, :index 538}
{:type :fail, :f :read, :time 13042970841, :process 1, :value nil, :error [:unknown "not leader"], :index 539}
{:type :invoke, :f :read, :time 13074449154, :process 2, :value nil, :index 540}
{:type :fail, :f :read, :time 13076676829, :process 2, :value nil, :error [:unknown "not leader"], :index 541}
{:type :invoke, :f :read, :time 13086160823, :process 2, :value nil, :index 542}
{:type :fail, :f :read, :time 13087808699, :process 2, :value nil, :error [:unknown "not leader"], :index 543}
{:type :invoke, :f :cas, :value [2 1], :time 13124962905, :process 227, :index 544}
{:type :invoke, :f :write, :value 0, :time 13127973780, :process 389, :index 545}
{:type :info, :f :cas, :value [2 1], :time 13129968783, :process 227, :error [:unknown "not leader"], :index 546}
{:type :info, :f :write, :value 0, :time 13131701663, :process 389, :error [:unknown "not leader"], :index 547}
{:type :invoke, :f :read, :time 13163175362, :process 2, :value nil, :index 548}
{:type :invoke, :f :write, :value 3, :time 13164446338, :process 278, :index 549}
{:type :info, :f :write, :value 3, :time 13168523170, :process 278, :error [:unknown "not leader"], :index 550}
{:type :fail, :f :read, :time 13168839789, :process 2, :value nil, :error [:unknown "not leader"], :index 551}
{:type :invoke, :f :read, :time 13253784176, :process 4, :value nil, :index 552}
{:type :invoke, :f :cas, :value [4 1], :time 13255573956, :process 288, :index 553}
{:type :fail, :f :read, :time 13256342506, :process 4, :value nil, :error [:unknown "not leader"], :index 554}
{:type :info, :f :cas, :value [4 1], :time 13257164997, :process 288, :error [:unknown "not leader"], :index 555}
{:type :invoke, :f :read, :time 13287093822, :process 3, :value nil, :index 556}
{:type :fail, :f :read, :time 13289161654, :process 3, :value nil, :error [:unknown "not leader"], :index 557}
{:type :invoke, :f :read, :time 13304965309, :process 2, :value nil, :index 558}
{:type :fail, :f :read, :time 13306519431, :process 2, :value nil, :error [:unknown "not leader"], :index 559}
{:type :invoke, :f :cas, :value [0 4], :time 13402582534, :process 298, :index 560}
{:type :info, :f :cas, :value [0 4], :time 13405582726, :process 298, :error [:unknown "not leader"], :index 561}
{:type :invoke, :f :read, :time 13481444912, :process 3, :value nil, :index 562}
{:type :fail, :f :read, :time 13486311739, :process 3, :value nil, :error [:unknown "not leader"], :index 563}
{:type :invoke, :f :read, :time 13501456276, :process 1, :value nil, :index 564}
{:type :fail, :f :read, :time 13506239925, :process 1, :value nil, :error [:unknown "not leader"], :index 565}
{:type :invoke, :f :read, :time 13536769454, :process 1, :value nil, :index 566}
{:type :fail, :f :read, :time 13539230802, :process 1, :value nil, :error [:unknown "not leader"], :index 567}
{:type :invoke, :f :read, :time 13543966286, :process 2, :value nil, :index 568}
{:type :fail, :f :read, :time 13545721821, :process 2, :value nil, :error [:unknown "not leader"], :index 569}
{:type :invoke, :f :write, :value 2, :time 13565141648, :process 399, :index 570}
{:type :info, :f :write, :value 2, :time 13566939772, :process 399, :error [:unknown "not leader"], :index 571}
{:type :invoke, :f :write, :value 3, :time 13631957446, :process 308, :index 572}
{:type :info, :f :write, :value 3, :time 13636930949, :process 308, :error [:unknown "not leader"], :index 573}
{:type :invoke, :f :cas, :value [2 2], :time 13687543294, :process 216, :index 574}
{:type :info, :f :cas, :value [2 2], :time 13689770513, :process 216, :error [:unknown "not leader"], :index 575}
{:type :invoke, :f :write, :value 0, :time 13738770700, :process 237, :index 576}
{:type :info, :f :write, :value 0, :time 13741512927, :process 237, :error [:unknown "not leader"], :index 577}
{:type :invoke, :f :read, :time 13787360753, :process 1, :value nil, :index 578}
{:type :fail, :f :read, :time 13789076588, :process 1, :value nil, :error [:unknown "not leader"], :index 579}
{:type :invoke, :f :read, :time 13878548734, :process 3, :value nil, :index 581}
{:type :fail, :f :read, :time 13881209076, :process 3, :value nil, :error [:unknown "not leader"], :index 582}
{:type :invoke, :f :cas, :value [2 1], :time 13965708594, :process 409, :index 583}
{:type :info, :f :cas, :value [2 1], :time 13968635437, :process 409, :error [:unknown "not leader"], :index 584}
{:type :invoke, :f :read, :time 13983432425, :process 3, :value nil, :index 585}
{:type :fail, :f :read, :time 13986234442, :process 3, :value nil, :error [:unknown "not leader"], :index 586}
{:type :invoke, :f :cas, :value [0 0], :time 13993706549, :process 318, :index 587}
{:type :info, :f :cas, :value [0 0], :time 13997252339, :process 318, :error [:unknown "not leader"], :index 588}
