{:type :invoke, :f :read, :time 29453306, :process 4, :value nil, :index 0}
{:type :fail, :f :read, :time 52120580, :process 4, :value nil, :error [:unknown "not leader"], :index 1}
{:type :invoke, :f :read, :time 411396838, :process 3, :value nil, :index 2}
{:type :fail, :f :read, :time 415642022, :process 3, :value nil, :error [:unknown "not leader"], :index 3}
{:type :invoke, :f :write, :value 1, :time 439647657, :process 5, :index 4}
{:type :info, :f :write, :value 1, :time 442935479, :process 5, :error [:unknown "not leader"], :index 5}
{:type :invoke, :f :read, :time 461978556, :process 2, :value nil, :index 6}
{:type :fail, :f :read, :time 466685860, :process 2, :value nil, :error [:unknown "not leader"], :index 7}
{:type :invoke, :f :read, :time 628613120, :process 2, :value nil, :index 8}
{:type :fail, :f :read, :time 636863655, :process 2, :value nil, :error [:unknown "not leader"], :index 9}
{:type :invoke, :f :cas, :value [4 4], :time 942354330, :process 9, :index 10}
{:type :info, :f :cas, :value [4 4], :time 952604794, :process 9, :error [:unknown "not leader"], :index 11}
{:type :invoke, :f :cas, :value [2 2], :time 1118721139, :process 6, :index 12}
{:type :info, :f :cas, :value [2 2], :time 1127947309, :process 6, :error [:unknown "not leader"], :index 13}
{:type :invoke, :f :write, :value 0, :time 1313628094, :process 16, :index 14}
{:type :info, :f :write, :value 0, :time 1322937237, :process 16, :error [:unknown "not leader"], :index 15}
{:type :invoke, :f :cas, :value [2 0], :time 1345884698, :process 26, :index 16}
{:type :info, :f :cas, :value [2 0], :time 1355370703, :process 26, :error [:unknown "not leader"], :index 17}
{:type :invoke, :f :write, :value 0, :time 1487113018, :process 19, :index 18}
{:type :info, :f :write, :value 0, :time 1490422425, :process 19, :error [:unknown "not leader"], :index 19}
{:type :invoke, :f :read, :time 1600442250, :process 1, :value nil, :index 20}
{:type :fail, :f :read, :time 1604937419, :process 1, :value nil, :error [:unknown "not leader"], :index 21}
{:type :invoke, :f :read, :time 1879185245, :process 1, :value nil, :index 22}
{:type :fail, :f :read, :time 1886405818, :process 1, :value nil, :error [:unknown "not leader"], :index 23}
{:type :invoke, :f :read, :time 2187503078, :process 2, :value nil, :index 24}
{:type :fail, :f :read, :time 2195282783, :process 2, :value nil, :error [:unknown "not leader"], :index 25}
{:type :invoke, :f :cas, :value [1 1], :time 2461879400, :process 29, :index 26}
{:type :info, :f :cas, :value [1 1], :time 2469589018, :process 29, :error [:unknown "not leader"], :index 27}
{:type :invoke, :f :read, :time 2572634457, :process 0, :value nil, :index 28}
{:type :fail, :f :read, :time 2606750486, :process 0, :value nil, :error [:unknown "not found"], :index 29}
{:type :invoke, :f :cas, :value [2 2], :time 2827262039, :process 15, :index 30}
{:type :info, :f :cas, :value [2 2], :time 2848076243, :process 15, :error [:unknown "not found"], :index 31}
{:type :invoke, :f :cas, :value [4 2], :time 2983370901, :process 25, :index 32}
{:type :info, :f :cas, :value [4 2], :time 2990743196, :process 25, :error [:unknown "not found"], :index 33}
{:type :invoke, :f :write, :value 2, :time 3365895737, :process 39, :index 34}
{:type :info, :f :write, :value 2, :time 3373402186, :process 39, :error [:unknown "not leader"], :index 35}
{:type :invoke, :f :cas, :value [0 3], :time 3529955939, :process 36, :index 36}
{:type :info, :f :cas, :value [0 3], :time 3539121502, :process 36, :error [:unknown "not leader"], :index 37}
