{:type :invoke, :f :read, :time 11206300813, :process 0, :value nil, :index 100}
{:type :fail, :f :read, :time 11418517104, :process 0, :value nil, :error [:unknown "locked state"], :index 103}
{:type :invoke, :f :read, :time 11475213451, :process 2, :value nil, :index 104}
{:type :invoke, :f :write, :value 1, :time 11728418875, :process 35, :index 105}
{:type :invoke, :f :read, :time 11838051550, :process 1, :value nil, :index 106}
{:type :fail, :f :read, :time 11888288570, :process 2, :value nil, :error [:unknown "not found"], :index 107}
{:type :invoke, :f :write, :value 3, :time 12021952966, :process 34, :index 108}
{:type :fail, :f :read, :time 12049654119, :process 1, :value nil, :error [:unknown "locked state"], :index 109}
{:type :invoke, :f :write, :value 2, :time 12079790450, :process 39, :index 110}
{:type :ok, :f :write, :value 1, :time 12193641792, :process 35, :index 111}
{:type :info, :f :write, :value 3, :time 12253317869, :process 34, :error [:unknown "locked_state"], :index 112}
{:type :invoke, :f :cas, :value [3 2], :time 12356364952, :process 40, :index 113}
{:type :ok, :f :write, :value 2, :time 12500090966, :process 39, :index 114}
{:type :invoke, :f :read, :time 12629823917, :process 2, :value nil, :index 115}
{:type :info, :f :cas, :value [3 2], :time 12808302583, :process 40, :error [:unknown "does not match"], :index 116}
{:type :invoke, :f :read, :time 12833155839, :process 1, :value nil, :index 117}
{:type :ok, :f :read, :time 13044929475, :process 2, :value 2, :index 118}
{:type :fail, :f :read, :time 13046238658, :process 1, :value nil, :error [:unknown "locked state"], :index 119}
{:type :invoke, :f :write, :value 4, :time 13098294447, :process 35, :index 120}
{:type :invoke, :f :read, :time 13389770620, :process 0, :value nil, :index 121}
{:type :ok, :f :write, :value 4, :time 13513445896, :process 35, :index 122}
{:type :invoke, :f :cas, :value [4 4], :time 13578530836, :process 35, :index 123}
{:type :info, :f :cas, :value [4 4], :time 13789016905, :process 35, :error [:unknown "locked state"], :index 124}
{:type :ok, :f :read, :time 13817210387, :process 0, :value 4, :index 125}
{:type :invoke, :f :cas, :value [3 1], :time 13845630001, :process 46, :index 126}
{:type :invoke, :f :cas, :value [0 4], :time 13935318883, :process 41, :index 127}
{:type :info, :f :cas, :value [0 4], :time 14195686345, :process 41, :error [:unknown "locked state"], :index 128}
{:type :info, :f :cas, :value [3 1], :time 14297208391, :process 46, :error [:unknown "does not match"], :index 129}
{:type :invoke, :f :cas, :value [1 1], :time 14332775655, :process 39, :index 130}
{:type :invoke, :f :read, :time 14433786269, :process 0, :value nil, :index 131}
{:type :info, :f :cas, :value [1 1], :time 14544176592, :process 39, :error [:unknown "locked state"], :index 132}
{:type :invoke, :f :write, :value 4, :time 14587043458, :process 45, :index 133}
{:type :fail, :f :read, :time 14643944029, :process 0, :value nil, :error [:unknown "locked state"], :index 134}
{:type :invoke, :f :read, :time 14787908410, :process 1, :value nil, :index 135}
{:type :info, :f :write, :value 4, :time 14848203300, :process 45, :error [:unknown "locked_state"], :index 136}
{:type :invoke, :f :cas, :value [4 1], :time 14939432724, :process 51, :index 137}
{:type :fail, :f :read, :time 14997712386, :process 1, :value nil, :error [:unknown "locked state"], :index 138}
{:type :info, :f :cas, :value [4 1], :time 15155078688, :process 51, :error [:unknown "locked state"], :index 139}
{:type :invoke, :f :cas, :value [4 0], :time 15280095004, :process 52, :index 140}
{:type :invoke, :f :read, :time 15415904647, :process 0, :value nil, :index 141}
{:type :invoke, :f :cas, :value [2 3], :time 15472890398, :process 57, :index 142}
{:type :fail, :f :read, :time 15626017942, :process 0, :value nil, :error [:unknown "locked state"], :index 143}
{:type :info, :f :cas, :value [2 3], :time 15682951851, :process 57, :error [:unknown "locked state"], :index 144}
{:type :invoke, :f :read, :time 15687817117, :process 0, :value nil, :index 145}
{:type :ok, :f :cas, :value [4 0], :time 15693562559, :process 52, :index 146}
{:type :invoke, :f :read, :time 15887280710, :process 1, :value nil, :index 147}
{:type :invoke, :f :cas, :value [2 3], :time 15909458253, :process 52, :index 148}
{:type :fail, :f :read, :time 16101062369, :process 1, :value nil, :error [:unknown "locked state"], :index 149}
{:type :ok, :f :read, :time 16101430089, :process 0, :value 0, :index 150}
{:type :invoke, :f :cas, :value [2 1], :time 16104929665, :process 47, :index 151}
{:type :info, :f :cas, :value [2 3], :time 16201997053, :process 52, :error [:unknown "locked state"], :index 152}
{:type :invoke, :f :write, :value 2, :time 16477611244, :process 58, :index 153}
{:type :info, :f :cas, :value [2 1], :time 16519198606, :process 47, :error [:unknown "does not match"], :index 154}
{:type :invoke, :f :read, :time 16703408855, :process 2, :value nil, :index 155}
{:type :invoke, :f :read, :time 16791499336, :process 1, :value nil, :index 156}
{:type :ok, :f :write, :value 2, :time 16889310291, :process 58, :index 157}
{:type :fail, :f :read, :time 17016483543, :process 1, :value nil, :error [:unknown "locked state"], :index 158}
{:type :ok, :f :read, :time 17117020141, :process 2, :value 2, :index 159}
{:type :invoke, :f :read, :time 17145269185, :process 2, :value nil, :index 160}
{:type :fail, :f :read, :time 17355072513, :process 2, :value nil, :error [:unknown "locked state"], :index 161}
{:type :invoke, :f :read, :time 17443199853, :process 0, :value nil, :index 162}
{:type :invoke, :f :write, :value 4, :time 17760390165, :process 53, :index 163}
{:type :ok, :f :read, :time 17861401926, :process 0, :value 2, :index 164}
{:type :info, :f :write, :value 4, :time 17969889378, :process 53, :error [:unknown "locked_state"], :index 165}
{:type :invoke, :f :read, :time 18033195509, :process 0, :value nil, :index 166}
{:type :fail, :f :read, :time 18276041868, :process 0, :value nil, :error [:unknown "locked state"], :index 167}
{:type :invoke, :f :read, :time 18393612920, :process 0, :value nil, :index 168}
{:type :invoke, :f :read, :time 18477118050, :process 1, :value nil, :index 169}
{:type :fail, :f :read, :time 18603403313, :process 0, :value nil, :error [:unknown "locked state"], :index 170}
{:type :fail, :f :read, :time 18687261799, :process 1, :value nil, :error [:unknown "locked state"], :index 171}
{:type :invoke, :f :read, :time 18865372742, :process 2, :value nil, :index 172}
{:type :invoke, :f :read, :time 19010200103, :process 1, :value nil, :index 173}
{:type :fail, :f :read, :time 19075798991, :process 2, :value nil, :error [:unknown "locked state"], :index 174}
{:type :fail, :f :read, :time 19221222379, :process 1, :value nil, :error [:unknown "locked state"], :index 175}
{:type :invoke, :f :read, :time 19391491032, :process 1, :value nil, :index 176}
{:type :invoke, :f :cas, :value [4 3], :time 19790648249, :process 59, :index 177}
{:type :ok, :f :read, :time 19803897862, :process 1, :value 2, :index 178}
{:type :info, :f :cas, :value [4 3], :time 20001734385, :process 59, :error [:unknown "locked state"], :index 179}
{:type :invoke, :f :cas, :value [1 4], :time 20161852295, :process 65, :index 180}
{:type :invoke, :f :write, :value 3, :time 20545476820, :process 58, :index 181}
{:type :info, :f :cas, :value [1 4], :time 20576534873, :process 65, :error [:unknown "does not match"], :index 182}
{:type :info, :f :write, :value 3, :time 20756196095, :process 58, :error [:unknown "locked_state"], :index 184}
