{:type :invoke, :f :read, :time 8163795613, :process 4, :value nil, :index 165}
{:type :fail, :f :read, :time 8169740548, :process 4, :value nil, :error [:unknown "not leader"], :index 166}
{:type :invoke, :f :cas, :value [4 3], :time 8251199328, :process 67, :index 167}
{:type :info, :f :cas, :value [4 3], :time 8263017792, :process 67, :error [:unknown "not leader"], :index 168}
{:type :invoke, :f :write, :value 0, :time 8310480177, :process 99, :index 169}
{:type :info, :f :write, :value 0, :time 8314413849, :process 99, :error [:unknown "not leader"], :index 170}
{:type :invoke, :f :read, :time 8357912014, :process 4, :value nil, :index 171}
{:type :fail, :f :read, :time 8359680616, :process 4, :value nil, :error [:unknown "not leader"], :index 172}
{:type :invoke, :f :read, :time 8437699785, :process 4, :value nil, :index 173}
{:type :fail, :f :read, :time 8446140687, :process 4, :value nil, :error [:unknown "not leader"], :index 174}
{:type :invoke, :f :read, :time 8517051745, :process 1, :value nil, :index 175}
{:type :invoke, :f :read, :time 8607456829, :process 2, :value nil, :index 176}
{:type :fail, :f :read, :time 8613127989, :process 2, :value nil, :error [:unknown "not leader"], :index 177}
{:type :invoke, :f :read, :time 8626388299, :process 3, :value nil, :index 178}
{:type :fail, :f :read, :time 8633567390, :process 3, :value nil, :error [:unknown "not leader"], :index 179}
{:type :fail, :f :read, :time 8722273296, :process 1, :value nil, :error [:unknown "not leader"], :index 180}
{:type :invoke, :f :cas, :value [0 3], :time 8821071950, :process 66, :index 181}
{:type :info, :f :cas, :value [0 3], :time 8826352714, :process 66, :error [:unknown "not leader"], :index 182}
{:type :invoke, :f :cas, :value [1 2], :time 8888218759, :process 78, :index 183}
{:type :info, :f :cas, :value [1 2], :time 8894507386, :process 78, :error [:unknown "not leader"], :index 184}
{:type :invoke, :f :write, :value 0, :time 8913579731, :process 75, :index 185}
{:type :invoke, :f :write, :value 1, :time 8973982822, :process 109, :index 186}
{:type :info, :f :write, :value 1, :time 8976186187, :process 109, :error [:unknown "not leader"], :index 187}
{:type :invoke, :f :cas, :value [2 3], :time 9013480951, :process 77, :index 188}
{:type :info, :f :cas, :value [2 3], :time 9017693182, :process 77, :error [:unknown "not leader"], :index 189}
{:type :invoke, :f :cas, :value [3 2], :time 9163078783, :process 87, :index 190}
{:type :invoke, :f :read, :time 9168131407, :process 1, :value nil, :index 191}
{:type :info, :f :cas, :value [3 2], :time 9170015405, :process 87, :error [:unknown "not leader"], :index 192}
{:type :invoke, :f :read, :time 9184208562, :process 3, :value nil, :index 193}
{:type :fail, :f :read, :time 9191392524, :process 3, :value nil, :error [:unknown "not leader"], :index 194}
{:type :invoke, :f :cas, :value [1 4], :time 9314875892, :process 88, :index 196}
{:type :info, :f :cas, :value [1 4], :time 9317674296, :process 88, :error [:unknown "not leader"], :index 197}
{:type :invoke, :f :read, :time 9367741975, :process 2, :value nil, :index 198}
{:type :fail, :f :read, :time 9370077016, :process 2, :value nil, :error [:unknown "not leader"], :index 199}
{:type :invoke, :f :cas, :value [3 2], :time 9421879256, :process 119, :index 200}
{:type :info, :f :cas, :value [3 2], :time 9423688145, :process 119, :error [:unknown "not leader"], :index 201}
{:type :invoke, :f :read, :time 9424764150, :process 2, :value nil, :index 202}
{:type :fail, :f :read, :time 9426407904, :process 2, :value nil, :error [:unknown "not leader"], :index 203}
{:type :fail, :f :read, :time 9475344125, :process 1, :value nil, :error [:unknown "not leader"], :index 204}
{:type :invoke, :f :read, :time 9513570216, :process 3, :value nil, :index 205}
{:type :fail, :f :read, :time 9516510239, :process 3, :value nil, :error [:unknown "not leader"], :index 206}
{:type :invoke, :f :read, :time 9632475799, :process 1, :value nil, :index 207}
{:type :fail, :f :read, :time 9639385350, :process 1, :value nil, :error [:unknown "not leader"], :index 208}
{:type :invoke, :f :read, :time 9787324972, :process 2, :value nil, :index 209}
{:type :fail, :f :read, :time 9789343393, :process 2, :value nil, :error [:unknown "not leader"], :index 210}
{:type :invoke, :f :read, :time 9975246672, :process 0, :value nil, :index 211}
{:type :invoke, :f :read, :time 10155500926, :process 1, :value nil, :index 212}
{:type :invoke, :f :cas, :value [1 1], :time 10220292681, :process 98, :index 213}
{:type :invoke, :f :read, :time 10406607317, :process 3, :value nil, :index 214}
{:type :fail, :f :read, :time 10484732455, :process 1, :value nil, :error [:unknown "not leader"], :index 215}
{:type :info, :f :cas, :value [1 1], :time 10490641281, :process 98, :error [:unknown "not leader"], :index 216}
{:type :fail, :f :read, :time 10491076045, :process 3, :value nil, :error [:unknown "not leader"], :index 217}
{:type :invoke, :f :read, :time 10606349250, :process 4, :value nil, :index 218}
{:type :fail, :f :read, :time 10609003912, :process 4, :value nil, :error [:unknown "not leader"], :index 219}
{:type :invoke, :f :write, :value 2, :time 10777326957, :process 108, :index 220}
{:type :info, :f :write, :value 2, :time 10782534502, :process 108, :error [:unknown "not leader"], :index 221}
{:type :ok, :f :write, :value 0, :time 10988457613, :process 75, :index 226}
{:type :ok, :f :read, :time 12684607973, :process 0, :value 0, :index 258}
