{:type :invoke, :f :write, :value 4, :time 59334053277, :process 195, :index 578}
{:type :invoke, :f :cas, :value [3 0], :time 59344182651, :process 238, :index 579}
{:type :invoke, :f :cas, :value [2 0], :time 59543604704, :process 209, :index 582}
{:type :info, :f :write, :value 4, :time 59604428120, :process 195, :error [:unknown "locked_state"], :index 583}
{:type :info, :f :cas, :value [3 0], :time 59604660196, :process 238, :error [:unknown "locked state"], :index 584}
{:type :invoke, :f :read, :time 59719618918, :process 1, :value nil, :index 585}
{:type :info, :f :cas, :value [2 0], :time 59752419024, :process 209, :error [:unknown "locked state"], :index 586}
{:type :invoke, :f :read, :time 59790199378, :process 0, :value nil, :index 587}
{:type :invoke, :f :read, :time 59984295100, :process 2, :value nil, :index 588}
{:type :fail, :f :read, :time 60132937632, :process 1, :value nil, :error [:unknown "not found"], :index 589}
{:type :fail, :f :read, :time 60202337696, :process 0, :value nil, :error [:unknown "not found"], :index 590}
{:type :fail, :f :read, :time 60438145046, :process 2, :value nil, :error [:unknown "not found"], :index 591}
