{:type :invoke, :f :write, :value 1, :time 9312424278, :process 148, :index 197}
{:type :info, :f :write, :value 1, :time 9315484420, :process 148, :error [:unknown "not leader"], :index 198}
{:type :invoke, :f :read, :time 9473048772, :process 4, :value nil, :index 199}
{:type :fail, :f :read, :time 9477603653, :process 4, :value nil, :error [:unknown "not leader"], :index 200}
{:type :invoke, :f :write, :value 1, :time 9606845151, :process 95, :index 201}
{:type :info, :f :write, :value 1, :time 9613546925, :process 95, :error [:unknown "not leader"], :index 202}
{:type :invoke, :f :read, :time 9709969981, :process 4, :value nil, :index 203}
{:type :invoke, :f :read, :time 9760502750, :process 3, :value nil, :index 204}
{:type :fail, :f :read, :time 9769446214, :process 4, :value nil, :error [:unknown "not leader"], :index 205}
{:type :fail, :f :read, :time 9769609421, :process 3, :value nil, :error [:unknown "not leader"], :index 206}
{:type :invoke, :f :cas, :value [2 2], :time 9932704096, :process 158, :index 208}
{:type :info, :f :cas, :value [2 2], :time 9938255097, :process 158, :error [:unknown "not leader"], :index 209}
{:type :invoke, :f :cas, :value [3 1], :time 10067972297, :process 105, :index 210}
{:type :info, :f :cas, :value [3 1], :time 10070195440, :process 105, :error [:unknown "not leader"], :index 211}
{:type :invoke, :f :write, :value 1, :time 10145771604, :process 67, :index 212}
{:type :info, :f :write, :value 1, :time 10148165759, :process 67, :error [:unknown "not leader"], :index 213}
{:type :invoke, :f :cas, :value [1 2], :time 10192998051, :process 115, :index 214}
{:type :info, :f :cas, :value [1 2], :time 10195834632, :process 115, :error [:unknown "not leader"], :index 215}
{:type :invoke, :f :read, :time 10359506060, :process 1, :value nil, :index 216}
{:type :invoke, :f :cas, :value [4 1], :time 10527188444, :process 77, :index 217}
{:type :info, :f :cas, :value [4 1], :time 10531664825, :process 77, :error [:unknown "not leader"], :index 218}
{:type :invoke, :f :read, :time 10607808512, :process 0, :value nil, :index 219}
{:type :fail, :f :read, :time 10613561115, :process 0, :value nil, :error [:unknown "not leader"], :index 220}
{:type :invoke, :f :cas, :value [0 1], :time 10782172732, :process 99, :index 221}
{:type :info, :f :cas, :value [0 1], :time 10787454262, :process 99, :error [:unknown "not leader"], :index 222}
{:type :invoke, :f :read, :time 10915328191, :process 0, :value nil, :index 223}
{:type :fail, :f :read, :time 10918984170, :process 0, :value nil, :error [:unknown "not leader"], :index 224}
{:type :invoke, :f :read, :time 11019079778, :process 2, :value nil, :index 225}
{:type :fail, :f :read, :time 11022087482, :process 2, :value nil, :error [:unknown "not leader"], :index 226}
{:type :invoke, :f :read, :time 11169197629, :process 3, :value nil, :index 227}
{:type :invoke, :f :write, :value 4, :time 11263133405, :process 87, :index 228}
{:type :fail, :f :read, :time 11273000762, :process 3, :value nil, :error [:unknown "not leader"], :index 229}
{:type :info, :f :write, :value 4, :time 11273453573, :process 87, :error [:unknown "not leader"], :index 230}
{:type :fail, :f :read, :time 11362630016, :process 1, :value nil, :error :net-timeout, :index 231}
{:type :invoke, :f :cas, :value [3 4], :time 11449782924, :process 125, :index 232}
{:type :info, :f :cas, :value [3 4], :time 11451631306, :process 125, :error [:unknown "not leader"], :index 233}
{:type :invoke, :f :cas, :value [1 4], :time 11592134473, :process 76, :index 234}
{:type :invoke, :f :cas, :value [4 3], :time 11788486371, :process 168, :index 235}
{:type :info, :f :cas, :value [4 3], :time 11793315224, :process 168, :error [:unknown "not leader"], :index 236}
{:type :info, :f :cas, :value [1 4], :time 12354723254, :process 76, :error [:unknown "not found"], :index 244}
