{:type :invoke, :f :read, :time 3494335674, :process 3, :value nil, :index 34}
{:type :fail, :f :read, :time 3497209523, :process 3, :value nil, :error [:unknown "not leader"], :index 35}
{:type :invoke, :f :cas, :value [4 1], :time 3846940673, :process 27, :index 36}
{:type :invoke, :f :read, :time 3936036816, :process 0, :value nil, :index 37}
{:type :info, :f :cas, :value [4 1], :time 4084101294, :process 27, :error [:unknown "not leader"], :index 38}
{:type :fail, :f :read, :time 4084656285, :process 0, :value nil, :error [:unknown "not leader"], :index 39}
{:type :invoke, :f :cas, :value [1 1], :time 4118718009, :process 18, :index 40}
{:type :info, :f :cas, :value [1 1], :time 4128721297, :process 18, :error [:unknown "not leader"], :index 41}
{:type :invoke, :f :read, :time 4490511481, :process 4, :value nil, :index 42}
{:type :invoke, :f :write, :value 3, :time 4508384771, :process 19, :index 43}
{:type :invoke, :f :read, :time 4523033679, :process 1, :value nil, :index 44}
{:type :invoke, :f :cas, :value [1 4], :time 4664911110, :process 55, :index 45}
{:type :info, :f :cas, :value [1 4], :time 4835192199, :process 55, :error [:unknown "not leader"], :index 46}
{:type :fail, :f :read, :time 4836032681, :process 4, :value nil, :error [:unknown "not leader"], :index 47}
{:type :info, :f :write, :value 3, :time 4837965656, :process 19, :error [:unknown "not leader"], :index 48}
{:type :invoke, :f :write, :value 0, :time 4863602160, :process 65, :index 49}
{:type :invoke, :f :read, :time 5085885440, :process 2, :value nil, :index 50}
{:type :info, :f :write, :value 0, :time 5086995535, :process 65, :error [:unknown "not leader"], :index 51}
{:type :invoke, :f :write, :value 4, :time 5185409206, :process 29, :index 52}
{:type :invoke, :f :read, :time 5340424500, :process 3, :value nil, :index 53}
{:type :invoke, :f :read, :time 5410698765, :process 0, :value nil, :index 54}
{:type :invoke, :f :cas, :value [2 4], :time 5511940600, :process 75, :index 55}
{:type :fail, :f :read, :time 5586691407, :process 3, :value nil, :error [:unknown "not leader"], :index 56}
{:type :fail, :f :read, :time 5587232202, :process 0, :value nil, :error [:unknown "not leader"], :index 57}
{:type :fail, :f :read, :time 5587593078, :process 2, :value nil, :error [:unknown "not leader"], :index 58}
{:type :info, :f :write, :value 4, :time 5587986913, :process 29, :error [:unknown "not leader"], :index 59}
{:type :info, :f :cas, :value [2 4], :time 5588884175, :process 75, :error [:unknown "not leader"], :index 60}
{:type :fail, :f :read, :time 5590882864, :process 1, :value nil, :error [:unknown "not found"], :index 61}
{:type :invoke, :f :read, :time 5794876523, :process 0, :value nil, :index 62}
{:type :fail, :f :read, :time 5797998170, :process 0, :value nil, :error [:unknown "not leader"], :index 63}
{:type :invoke, :f :read, :time 5899394372, :process 2, :value nil, :index 64}
{:type :invoke, :f :cas, :value [0 2], :time 6244113896, :process 37, :index 65}
{:type :fail, :f :read, :time 6338810822, :process 2, :value nil, :error [:unknown "not leader"], :index 66}
{:type :info, :f :cas, :value [0 2], :time 6339298652, :process 37, :error [:unknown "not leader"], :index 67}
{:type :invoke, :f :cas, :value [3 0], :time 6624614543, :process 28, :index 68}
{:type :invoke, :f :write, :value 0, :time 6880953518, :process 47, :index 69}
{:type :invoke, :f :cas, :value [2 2], :time 7047895169, :process 36, :index 70}
{:type :info, :f :write, :value 0, :time 7089293797, :process 47, :error [:unknown "not leader"], :index 71}
{:type :info, :f :cas, :value [3 0], :time 7089691574, :process 28, :error [:unknown "not leader"], :index 72}
{:type :invoke, :f :cas, :value [3 0], :time 7350124637, :process 38, :index 73}
{:type :info, :f :cas, :value [3 0], :time 7558906963, :process 38, :error [:unknown "not leader"], :index 74}
{:type :info, :f :cas, :value [2 2], :time 8058765037, :process 36, :error [:unknown "not found"], :index 81}
