{:type :invoke, :f :write, :value 3, :time 4041585988, :process 36, :index 40}
{:type :info, :f :write, :value 3, :time 4051509590, :process 36, :error [:unknown "not leader"], :index 41}
{:type :invoke, :f :cas, :value [0 3], :time 4227425906, :process 46, :index 42}
{:type :invoke, :f :read, :time 4311308235, :process 3, :value nil, :index 43}
{:type :invoke, :f :write, :value 2, :time 4330218875, :process 18, :index 44}
{:type :info, :f :cas, :value [0 3], :time 4422287416, :process 46, :error [:unknown "not leader"], :index 45}
{:type :invoke, :f :cas, :value [1 1], :time 4716203732, :process 56, :index 46}
{:type :fail, :f :read, :time 4725691197, :process 3, :value nil, :error [:unknown "not found"], :index 47}
{:type :ok, :f :write, :value 2, :time 4748066617, :process 18, :index 48}
{:type :invoke, :f :read, :time 4757245822, :process 0, :value nil, :index 49}
{:type :fail, :f :read, :time 4920559007, :process 0, :value nil, :error [:unknown "not leader"], :index 50}
{:type :info, :f :cas, :value [1 1], :time 4921769321, :process 56, :error [:unknown "not leader"], :index 51}
{:type :invoke, :f :cas, :value [2 3], :time 5085873536, :process 19, :index 52}
{:type :info, :f :cas, :value [2 3], :time 5088595846, :process 19, :error [:unknown "not leader"], :index 53}
{:type :invoke, :f :read, :time 5306081853, :process 1, :value nil, :index 54}
{:type :fail, :f :read, :time 5315772712, :process 1, :value nil, :error [:unknown "not leader"], :index 55}
{:type :invoke, :f :read, :time 5440581470, :process 4, :value nil, :index 56}
{:type :fail, :f :read, :time 5445534652, :process 4, :value nil, :error [:unknown "not leader"], :index 57}
{:type :invoke, :f :cas, :value [1 4], :time 5445763980, :process 18, :index 58}
{:type :invoke, :f :read, :time 5711967196, :process 3, :value nil, :index 59}
{:type :invoke, :f :write, :value 3, :time 5742058751, :process 29, :index 60}
{:type :info, :f :write, :value 3, :time 5924538251, :process 29, :error [:unknown "not leader"], :index 61}
{:type :invoke, :f :read, :time 5996921807, :process 2, :value nil, :index 62}
{:type :fail, :f :read, :time 6006828214, :process 2, :value nil, :error [:unknown "not leader"], :index 63}
{:type :info, :f :cas, :value [1 4], :time 6123381041, :process 18, :error [:unknown "does not match"], :index 64}
{:type :ok, :f :read, :time 6124149295, :process 3, :value 2, :index 65}
{:type :invoke, :f :read, :time 6183950803, :process 1, :value nil, :index 66}
{:type :fail, :f :read, :time 6191813870, :process 1, :value nil, :error [:unknown "not leader"], :index 67}
{:type :invoke, :f :read, :time 6411942583, :process 0, :value nil, :index 68}
{:type :fail, :f :read, :time 6418033433, :process 0, :value nil, :error [:unknown "not leader"], :index 69}
{:type :invoke, :f :read, :time 6469200663, :process 2, :value nil, :index 70}
{:type :fail, :f :read, :time 6476289624, :process 2, :value nil, :error [:unknown "not leader"], :index 71}
{:type :invoke, :f :read, :time 6640374433, :process 2, :value nil, :index 72}
{:type :fail, :f :read, :time 6643383043, :process 2, :value nil, :error [:unknown "not leader"], :index 73}
{:type :invoke, :f :cas, :value [2 1], :time 6846441849, :process 27, :index 74}
{:type :info, :f :cas, :value [2 1], :time 6852684935, :process 27, :error [:unknown "not leader"], :index 75}
{:type :invoke, :f :cas, :value [0 1], :time 6955538478, :process 28, :index 76}
{:type :invoke, :f :read, :time 7110934935, :process 4, :value nil, :index 77}
{:type :fail, :f :read, :time 7171817908, :process 4, :value nil, :error [:unknown "not leader"], :index 78}
{:type :invoke, :f :cas, :value [4 0], :time 7356560995, :process 39, :index 79}
{:type :info, :f :cas, :value [4 0], :time 7363928065, :process 39, :error [:unknown "not leader"], :index 80}
{:type :info, :f :cas, :value [0 1], :time 7369500535, :process 28, :error [:unknown "does not match"], :index 81}
{:type :invoke, :f :cas, :value [4 1], :time 7391366926, :process 49, :index 82}
{:type :info, :f :cas, :value [4 1], :time 7398909241, :process 49, :error [:unknown "not leader"], :index 83}
{:type :invoke, :f :read, :time 7742137120, :process 0, :value nil, :index 84}
{:type :fail, :f :read, :time 7749315918, :process 0, :value nil, :error [:unknown "not leader"], :index 85}
{:type :invoke, :f :read, :time 7921811686, :process 2, :value nil, :index 86}
{:type :fail, :f :read, :time 7924637785, :process 2, :value nil, :error [:unknown "not leader"], :index 87}
{:type :invoke, :f :cas, :value [1 0], :time 8073918437, :process 45, :index 88}
{:type :info, :f :cas, :value [1 0], :time 8081062943, :process 45, :error [:unknown "not leader"], :index 89}
