{:type :invoke, :f :read, :time 19134600600, :process 3, :value nil, :index 779}
{:type :fail, :f :read, :time 19139894535, :process 3, :value nil, :error [:unknown "not leader"], :index 780}
{:type :invoke, :f :read, :time 19147589515, :process 2, :value nil, :index 781}
{:type :fail, :f :read, :time 19151766652, :process 2, :value nil, :error [:unknown "not leader"], :index 782}
{:type :invoke, :f :cas, :value [4 1], :time 19208204587, :process 458, :index 783}
{:type :info, :f :cas, :value [4 1], :time 19212319995, :process 458, :error [:unknown "not leader"], :index 784}
{:type :invoke, :f :read, :time 19270361586, :process 1, :value nil, :index 785}
{:type :fail, :f :read, :time 19275412188, :process 1, :value nil, :error [:unknown "not leader"], :index 786}
{:type :invoke, :f :cas, :value [4 1], :time 19292285021, :process 468, :index 787}
{:type :info, :f :cas, :value [4 1], :time 19294939983, :process 468, :error [:unknown "not leader"], :index 788}
{:type :invoke, :f :read, :time 19308454093, :process 0, :value nil, :index 789}
{:type :invoke, :f :cas, :value [2 1], :time 19312312759, :process 316, :index 790}
{:type :fail, :f :read, :time 19313423734, :process 0, :value nil, :error [:unknown "not leader"], :index 791}
{:type :info, :f :cas, :value [2 1], :time 19316323613, :process 316, :error [:unknown "not leader"], :index 792}
{:type :invoke, :f :cas, :value [1 2], :time 19364333582, :process 407, :index 794}
{:type :info, :f :cas, :value [1 2], :time 19367193813, :process 407, :error [:unknown "not leader"], :index 795}
{:type :invoke, :f :write, :value 2, :time 19389209611, :process 326, :index 796}
{:type :info, :f :write, :value 2, :time 19396988892, :process 326, :error [:unknown "not leader"], :index 797}
{:type :invoke, :f :write, :value 3, :time 19450076988, :process 519, :index 798}
{:type :invoke, :f :cas, :value [0 0], :time 19474151227, :process 225, :index 799}
{:type :invoke, :f :read, :time 19573581978, :process 4, :value nil, :index 800}
{:type :invoke, :f :read, :time 19629776516, :process 1, :value nil, :index 801}
{:type :info, :f :cas, :value [0 0], :time 19656086804, :process 225, :error [:unknown "not leader"], :index 802}
{:type :fail, :f :read, :time 19656522493, :process 1, :value nil, :error [:unknown "not leader"], :index 803}
{:type :invoke, :f :cas, :value [2 0], :time 19671613980, :process 235, :index 804}
{:type :invoke, :f :read, :time 19714433128, :process 0, :value nil, :index 805}
{:type :fail, :f :read, :time 19778706779, :process 0, :value nil, :error [:unknown "not leader"], :index 806}
{:type :info, :f :cas, :value [2 0], :time 19778958431, :process 235, :error [:unknown "not leader"], :index 807}
{:type :invoke, :f :read, :time 19801348781, :process 0, :value nil, :index 808}
{:type :invoke, :f :cas, :value [1 3], :time 19890999415, :process 478, :index 809}
{:type :info, :f :cas, :value [1 3], :time 19895605845, :process 478, :error [:unknown "not leader"], :index 810}
{:type :invoke, :f :read, :time 19913117634, :process 1, :value nil, :index 811}
{:type :invoke, :f :write, :value 2, :time 19916961437, :process 245, :index 812}
{:type :invoke, :f :write, :value 1, :time 19939887567, :process 488, :index 813}
{:type :info, :f :write, :value 1, :time 19941910369, :process 488, :error [:unknown "not leader"], :index 814}
{:type :fail, :f :read, :time 19949162813, :process 0, :value nil, :error [:unknown "not leader"], :index 815}
{:type :fail, :f :read, :time 19949303673, :process 1, :value nil, :error [:unknown "not leader"], :index 816}
{:type :info, :f :write, :value 2, :time 19949386806, :process 245, :error [:unknown "not leader"], :index 817}
{:type :info, :f :write, :value 3, :time 21450847808, :process 519, :error :net-timeout, :index 818}
{:type :fail, :f :read, :time 21573754496, :process 4, :value nil, :error :net-timeout, :index 819}
