{:type :invoke, :f :read, :time 14074999943, :process 1, :value nil, :index 589}
{:type :fail, :f :read, :time 14076658652, :process 1, :value nil, :error [:unknown "not leader"], :index 590}
{:type :invoke, :f :read, :time 14148191163, :process 1, :value nil, :index 591}
{:type :fail, :f :read, :time 14150111974, :process 1, :value nil, :error [:unknown "not leader"], :index 592}
{:type :invoke, :f :read, :time 14237235047, :process 0, :value nil, :index 593}
{:type :invoke, :f :read, :time 14281316647, :process 2, :value nil, :index 594}
{:type :invoke, :f :cas, :value [0 3], :time 14346435496, :process 247, :index 595}
{:type :info, :f :cas, :value [0 3], :time 14441954470, :process 247, :error [:unknown "not leader"], :index 596}
{:type :fail, :f :read, :time 14442081645, :process 2, :value nil, :error [:unknown "not leader"], :index 597}
{:type :invoke, :f :read, :time 14443961018, :process 4, :value nil, :index 598}
{:type :fail, :f :read, :time 14445316565, :process 4, :value nil, :error [:unknown "not leader"], :index 599}
{:type :invoke, :f :cas, :value [3 4], :time 14480157709, :process 328, :index 601}
{:type :info, :f :cas, :value [3 4], :time 14481880730, :process 328, :error [:unknown "not leader"], :index 602}
{:type :invoke, :f :cas, :value [0 4], :time 14549662601, :process 165, :index 603}
{:type :invoke, :f :write, :value 1, :time 14622216664, :process 257, :index 604}
{:type :info, :f :write, :value 1, :time 14627488432, :process 257, :error [:unknown "not leader"], :index 605}
{:type :invoke, :f :read, :time 14716206850, :process 1, :value nil, :index 606}
{:type :invoke, :f :cas, :value [3 1], :time 14773056150, :process 419, :index 607}
{:type :fail, :f :read, :time 14844043775, :process 1, :value nil, :error [:unknown "not leader"], :index 608}
{:type :info, :f :cas, :value [3 1], :time 14844652082, :process 419, :error [:unknown "not leader"], :index 609}
{:type :invoke, :f :read, :time 14863286577, :process 1, :value nil, :index 610}
{:type :fail, :f :read, :time 14868525674, :process 1, :value nil, :error [:unknown "not leader"], :index 611}
{:type :invoke, :f :read, :time 14881249780, :process 1, :value nil, :index 612}
{:type :fail, :f :read, :time 14885616457, :process 1, :value nil, :error [:unknown "not leader"], :index 613}
{:type :invoke, :f :cas, :value [1 4], :time 14975301290, :process 267, :index 614}
{:type :info, :f :cas, :value [1 4], :time 14980652717, :process 267, :error [:unknown "not leader"], :index 615}
{:type :invoke, :f :write, :value 3, :time 15033365167, :process 429, :index 616}
{:type :info, :f :write, :value 3, :time 15034918404, :process 429, :error [:unknown "not leader"], :index 617}
{:type :invoke, :f :read, :time 15076858706, :process 2, :value nil, :index 618}
{:type :fail, :f :read, :time 15078270582, :process 2, :value nil, :error [:unknown "not leader"], :index 619}
{:type :invoke, :f :cas, :value [2 4], :time 15151596992, :process 439, :index 620}
{:type :info, :f :cas, :value [2 4], :time 15153653093, :process 439, :error [:unknown "not leader"], :index 621}
{:type :invoke, :f :write, :value 1, :time 15202741633, :process 277, :index 622}
{:type :info, :f :write, :value 1, :time 15205017644, :process 277, :error [:unknown "not leader"], :index 623}
{:type :invoke, :f :cas, :value [4 0], :time 15253452583, :process 338, :index 624}
{:type :info, :f :cas, :value [4 0], :time 15255547433, :process 338, :error [:unknown "not leader"], :index 625}
{:type :invoke, :f :read, :time 15342386586, :process 2, :value nil, :index 626}
{:type :fail, :f :read, :time 15345671923, :process 2, :value nil, :error [:unknown "not leader"], :index 627}
{:type :invoke, :f :write, :value 3, :time 15383782358, :process 449, :index 628}
{:type :info, :f :write, :value 3, :time 15388504702, :process 449, :error [:unknown "not leader"], :index 629}
{:type :fail, :f :read, :time 16238437616, :process 0, :value nil, :error :net-timeout, :index 664}
{:type :info, :f :cas, :value [0 4], :time 16550808688, :process 165, :error :net-timeout, :index 677}
