{:type :invoke, :f :cas, :value [3 2], :time 10831342725, :process 56, :index 99}
{:type :info, :f :cas, :value [3 2], :time 10838558153, :process 56, :error [:unknown "not leader"], :index 100}
{:type :invoke, :f :read, :time 11076521861, :process 2, :value nil, :index 102}
{:type :fail, :f :read, :time 11100823929, :process 2, :value nil, :error [:unknown "not leader"], :index 103}
{:type :invoke, :f :read, :time 11466077682, :process 3, :value nil, :index 104}
{:type :fail, :f :read, :time 11603145143, :process 3, :value nil, :error [:unknown "not leader"], :index 105}
{:type :invoke, :f :write, :value 4, :time 11613826927, :process 58, :index 106}
{:type :info, :f :write, :value 4, :time 11624174047, :process 58, :error [:unknown "not leader"], :index 107}
{:type :invoke, :f :read, :time 11838565010, :process 0, :value nil, :index 108}
{:type :invoke, :f :read, :time 11904264946, :process 2, :value nil, :index 109}
{:type :fail, :f :read, :time 12045837858, :process 2, :value nil, :error [:unknown "not leader"], :index 110}
{:type :invoke, :f :write, :value 4, :time 12228858735, :process 47, :index 111}
{:type :info, :f :write, :value 4, :time 12234446076, :process 47, :error [:unknown "not leader"], :index 112}
{:type :invoke, :f :write, :value 4, :time 12616028746, :process 68, :index 113}
{:type :info, :f :write, :value 4, :time 12622001526, :process 68, :error [:unknown "not leader"], :index 114}
{:type :invoke, :f :read, :time 12954490042, :process 1, :value nil, :index 115}
{:type :fail, :f :read, :time 13106339601, :process 1, :value nil, :error [:unknown "not leader"], :index 116}
{:type :invoke, :f :cas, :value [4 1], :time 13341673071, :process 59, :index 117}
{:type :info, :f :cas, :value [4 1], :time 13347003222, :process 59, :error [:unknown "not leader"], :index 118}
{:type :invoke, :f :cas, :value [2 4], :time 13393899800, :process 69, :index 119}
{:type :info, :f :cas, :value [2 4], :time 13401767063, :process 69, :error [:unknown "not leader"], :index 120}
{:type :invoke, :f :read, :time 13590266436, :process 3, :value nil, :index 121}
{:type :fail, :f :read, :time 13607857802, :process 3, :value nil, :error [:unknown "not leader"], :index 122}
{:type :invoke, :f :cas, :value [4 0], :time 13717651514, :process 66, :index 123}
{:type :info, :f :cas, :value [4 0], :time 13725021589, :process 66, :error [:unknown "not leader"], :index 124}
{:type :fail, :f :read, :time 13841066724, :process 0, :value nil, :error :net-timeout, :index 125}
{:type :invoke, :f :read, :time 13881283407, :process 3, :value nil, :index 126}
{:type :fail, :f :read, :time 13888695565, :process 3, :value nil, :error [:unknown "not leader"], :index 127}
{:type :invoke, :f :write, :value 3, :time 14155988850, :process 79, :index 128}
{:type :info, :f :write, :value 3, :time 14161489437, :process 79, :error [:unknown "not leader"], :index 129}
{:type :invoke, :f :write, :value 0, :time 14505964856, :process 76, :index 130}
{:type :info, :f :write, :value 0, :time 14608851705, :process 76, :error [:unknown "not leader"], :index 131}
{:type :invoke, :f :cas, :value [4 2], :time 14655239017, :process 86, :index 132}
{:type :info, :f :cas, :value [4 2], :time 14662161376, :process 86, :error [:unknown "not leader"], :index 133}
{:type :invoke, :f :cas, :value [2 3], :time 14748160071, :process 57, :index 134}
{:type :info, :f :cas, :value [2 3], :time 14750740736, :process 57, :error [:unknown "not leader"], :index 135}
