{:type :invoke, :f :read, :time 10930012, :process 1, :value [0 nil], :index 0}
{:type :fail, :f :read, :time 34456064, :process 1, :value [0 nil], :error [:unknown "not found"], :index 1}
{:type :invoke, :f :read, :time 34800476, :process 0, :value [0 nil], :index 2}
{:type :fail, :f :read, :time 42248281, :process 0, :value [0 nil], :error [:unknown "not found"], :index 3}
{:type :invoke, :f :write, :value [0 4], :time 89156029, :process 3, :index 4}
{:type :ok, :f :write, :value [0 4], :time 96847990, :process 3, :index 5}
{:type :invoke, :f :read, :time 252659719, :process 0, :value [0 nil], :index 6}
{:type :ok, :f :read, :time 272696808, :process 0, :value [0 4], :index 7}
{:type :invoke, :f :read, :time 584968000, :process 0, :value [0 nil], :index 8}
{:type :ok, :f :read, :time 596851362, :process 0, :value [0 4], :index 9}
{:type :invoke, :f :write, :value [0 0], :time 891772703, :process 3, :index 10}
{:type :ok, :f :write, :value [0 0], :time 911541535, :process 3, :index 11}
{:type :invoke, :f :cas, :value [0 [1 4]], :time 1221513124, :process 5, :index 12}
{:type :info, :f :cas, :value [0 [1 4]], :time 1235025678, :process 5, :error [:unknown "does not match"], :index 13}
{:type :invoke, :f :read, :time 1446684909, :process 0, :value [0 nil], :index 14}
{:type :ok, :f :read, :time 1465064748, :process 0, :value [0 0], :index 15}
{:type :invoke, :f :cas, :value [0 [0 0]], :time 1629070633, :process 3, :index 16}
{:type :ok, :f :cas, :value [0 [0 0]], :time 1649715748, :process 3, :index 17}
{:type :invoke, :f :cas, :value [0 [3 1]], :time 1960109894, :process 11, :index 18}
{:type :info, :f :cas, :value [0 [3 1]], :time 1970819295, :process 11, :error [:unknown "does not match"], :index 19}
{:type :invoke, :f :read, :time 2076171885, :process 1, :value [0 nil], :index 20}
{:type :ok, :f :read, :time 2095211801, :process 1, :value [0 0], :index 21}
{:type :invoke, :f :cas, :value [0 [4 0]], :time 2259200844, :process 3, :index 22}
{:type :info, :f :cas, :value [0 [4 0]], :time 2278004597, :process 3, :error [:unknown "does not match"], :index 23}
{:type :invoke, :f :read, :time 2574928702, :process 0, :value [0 nil], :index 24}
{:type :ok, :f :read, :time 2586455608, :process 0, :value [0 0], :index 25}
{:type :invoke, :f :read, :time 2753418157, :process 2, :value [0 nil], :index 26}
{:type :ok, :f :read, :time 2772148827, :process 2, :value [0 0], :index 27}
{:type :invoke, :f :read, :time 2779288042, :process 2, :value [0 nil], :index 28}
{:type :ok, :f :read, :time 2795551820, :process 2, :value [0 0], :index 29}
{:type :invoke, :f :read, :time 2913368029, :process 0, :value [0 nil], :index 30}
{:type :ok, :f :read, :time 2929415315, :process 0, :value [0 0], :index 31}
{:type :invoke, :f :read, :time 2945661359, :process 2, :value [0 nil], :index 32}
{:type :ok, :f :read, :time 2963277276, :process 2, :value [0 0], :index 33}
{:type :invoke, :f :write, :value [0 3], :time 3076188116, :process 17, :index 34}
{:type :ok, :f :write, :value [0 3], :time 3092925193, :process 17, :index 35}
{:type :invoke, :f :read, :time 3346119428, :process 2, :value [0 nil], :index 36}
{:type :invoke, :f :cas, :value [0 [1 3]], :time 3361820133, :process 17, :index 37}
{:type :ok, :f :read, :time 3365191598, :process 2, :value [0 3], :index 38}
{:type :info, :f :cas, :value [0 [1 3]], :time 3379855455, :process 17, :error [:unknown "does not match"], :index 39}
{:type :invoke, :f :cas, :value [0 [2 4]], :time 3757981360, :process 9, :index 40}
{:type :info, :f :cas, :value [0 [2 4]], :time 3775063713, :process 9, :error [:unknown "does not match"], :index 41}
{:type :invoke, :f :read, :time 4101528414, :process 0, :value [0 nil], :index 42}
{:type :ok, :f :read, :time 4118836205, :process 0, :value [0 3], :index 43}
{:type :invoke, :f :read, :time 4139287090, :process 0, :value [0 nil], :index 44}
{:type :ok, :f :read, :time 4155017464, :process 0, :value [0 3], :index 45}
{:type :invoke, :f :read, :time 4478312343, :process 2, :value [0 nil], :index 46}
{:type :ok, :f :read, :time 4487785312, :process 2, :value [0 3], :index 47}
{:type :invoke, :f :write, :value [0 3], :time 4699020691, :process 23, :index 48}
{:type :ok, :f :write, :value [0 3], :time 4712831689, :process 23, :index 49}
{:type :invoke, :f :cas, :value [0 [0 3]], :time 4816491738, :process 4, :index 50}
{:type :info, :f :cas, :value [0 [0 3]], :time 4827661133, :process 4, :error [:unknown "does not match"], :index 51}
{:type :invoke, :f :read, :time 5117107414, :process 0, :value [0 nil], :index 52}
{:type :ok, :f :read, :time 5132980168, :process 0, :value [0 3], :index 53}
{:type :invoke, :f :read, :time 5274490644, :process 0, :value [0 nil], :index 54}
{:type :ok, :f :read, :time 5289320991, :process 0, :value [0 3], :index 55}
{:type :invoke, :f :cas, :value [0 [0 4]], :time 5654027705, :process 10, :index 56}
{:type :info, :f :cas, :value [0 [0 4]], :time 5672293057, :process 10, :error [:unknown "does not match"], :index 57}
{:type :invoke, :f :read, :time 5780462502, :process 1, :value [0 nil], :index 58}
{:type :ok, :f :read, :time 5796511487, :process 1, :value [0 3], :index 59}
{:type :invoke, :f :cas, :value [0 [2 3]], :time 5971729729, :process 15, :index 60}
{:type :info, :f :cas, :value [0 [2 3]], :time 5989599510, :process 15, :error [:unknown "does not match"], :index 61}
{:type :invoke, :f :read, :time 6287502916, :process 1, :value [0 nil], :index 62}
{:type :ok, :f :read, :time 6297735243, :process 1, :value [0 3], :index 63}
{:type :invoke, :f :read, :time 6615325942, :process 1, :value [0 nil], :index 64}
{:type :ok, :f :read, :time 6633467415, :process 1, :value [0 3], :index 65}
{:type :invoke, :f :read, :time 6697705702, :process 0, :value [0 nil], :index 66}
{:type :ok, :f :read, :time 6713557353, :process 0, :value [0 3], :index 67}
{:type :invoke, :f :cas, :value [0 [0 2]], :time 6816581851, :process 16, :index 68}
{:type :info, :f :cas, :value [0 [0 2]], :time 6823005232, :process 16, :error [:unknown "does not match"], :index 69}
{:type :invoke, :f :cas, :value [0 [1 3]], :time 6900849341, :process 23, :index 70}
{:type :info, :f :cas, :value [0 [1 3]], :time 6917528487, :process 23, :error [:unknown "does not match"], :index 71}
{:type :invoke, :f :cas, :value [0 [1 1]], :time 7016634594, :process 29, :index 72}
{:type :info, :f :cas, :value [0 [1 1]], :time 7021469738, :process 29, :error [:unknown "does not match"], :index 73}
{:type :invoke, :f :cas, :value [0 [2 3]], :time 7075248823, :process 35, :index 74}
{:type :info, :f :cas, :value [0 [2 3]], :time 7080770639, :process 35, :error [:unknown "does not match"], :index 75}
{:type :invoke, :f :read, :time 7304580115, :process 1, :value [0 nil], :index 76}
{:type :ok, :f :read, :time 7320230847, :process 1, :value [0 3], :index 77}
{:type :invoke, :f :read, :time 7448551706, :process 1, :value [0 nil], :index 78}
{:type :ok, :f :read, :time 7458995063, :process 1, :value [0 3], :index 79}
{:type :invoke, :f :write, :value [0 2], :time 7633589541, :process 41, :index 80}
{:type :ok, :f :write, :value [0 2], :time 7650401953, :process 41, :index 81}
{:type :invoke, :f :write, :value [0 2], :time 7860957698, :process 22, :index 82}
{:type :ok, :f :write, :value [0 2], :time 7871273658, :process 22, :index 83}
{:type :invoke, :f :read, :time 7935297843, :process 0, :value [0 nil], :index 84}
{:type :ok, :f :read, :time 7946406132, :process 0, :value [0 2], :index 85}
{:type :invoke, :f :read, :time 8266234822, :process 2, :value [0 nil], :index 86}
{:type :ok, :f :read, :time 8274443094, :process 2, :value [0 2], :index 87}
{:type :invoke, :f :write, :value [0 3], :time 8440482577, :process 41, :index 88}
{:type :ok, :f :write, :value [0 3], :time 8451331115, :process 41, :index 89}
{:type :invoke, :f :cas, :value [0 [4 3]], :time 8809401170, :process 22, :index 90}
{:type :info, :f :cas, :value [0 [4 3]], :time 8825900146, :process 22, :error [:unknown "does not match"], :index 91}
{:type :invoke, :f :write, :value [0 0], :time 9067473954, :process 41, :index 92}
{:type :ok, :f :write, :value [0 0], :time 9082816240, :process 41, :index 93}
{:type :invoke, :f :read, :time 9262386417, :process 1, :value [0 nil], :index 94}
{:type :ok, :f :read, :time 9278508464, :process 1, :value [0 0], :index 95}
{:type :invoke, :f :cas, :value [0 [0 0]], :time 9634196137, :process 21, :index 96}
{:type :ok, :f :cas, :value [0 [0 0]], :time 9649884222, :process 21, :index 97}
{:type :invoke, :f :cas, :value [0 [1 4]], :time 9993121720, :process 21, :index 98}
{:type :info, :f :cas, :value [0 [1 4]], :time 10003887817, :process 21, :error [:unknown "does not match"], :index 99}
