{:type :invoke, :f :cas, :value [0 [2 1]], :time 19323751, :process 3, :index 0}
{:type :invoke, :f :cas, :value [0 [2 2]], :time 32828001, :process 5, :index 1}
{:type :info, :f :cas, :value [0 [2 2]], :time 69495954, :process 5, :error [:unknown "not found"], :index 2}
{:type :info, :f :cas, :value [0 [2 1]], :time 70230903, :process 3, :error [:unknown "locked state"], :index 3}
{:type :invoke, :f :cas, :value [0 [2 1]], :time 232769715, :process 4, :index 4}
{:type :info, :f :cas, :value [0 [2 1]], :time 241860252, :process 4, :error [:unknown "not found"], :index 5}
{:type :invoke, :f :read, :time 586106208, :process 0, :value [0 nil], :index 6}
{:type :fail, :f :read, :time 611191166, :process 0, :value [0 nil], :error [:unknown "not found"], :index 7}
{:type :invoke, :f :read, :time 735307324, :process 1, :value [0 nil], :index 8}
{:type :fail, :f :read, :time 743301586, :process 1, :value [0 nil], :error [:unknown "not found"], :index 9}
{:type :invoke, :f :write, :value [0 3], :time 929242997, :process 10, :index 10}
{:type :invoke, :f :cas, :value [0 [1 2]], :time 944222571, :process 9, :index 11}
{:type :ok, :f :write, :value [0 3], :time 950909977, :process 10, :index 12}
{:type :info, :f :cas, :value [0 [1 2]], :time 968672223, :process 9, :error [:unknown "not found"], :index 13}
{:type :invoke, :f :cas, :value [0 [0 3]], :time 1339393186, :process 11, :index 14}
{:type :info, :f :cas, :value [0 [0 3]], :time 1351240165, :process 11, :error [:unknown "not found"], :index 15}
{:type :invoke, :f :read, :time 1545067634, :process 0, :value [0 nil], :index 16}
{:type :ok, :f :read, :time 1566214586, :process 0, :value [0 3], :index 17}
{:type :invoke, :f :cas, :value [0 [4 3]], :time 1795383958, :process 17, :index 18}
{:type :info, :f :cas, :value [0 [4 3]], :time 1815667328, :process 17, :error [:unknown "does not match"], :index 19}
{:type :invoke, :f :cas, :value [0 [4 1]], :time 2066934957, :process 10, :index 20}
{:type :info, :f :cas, :value [0 [4 1]], :time 2081623749, :process 10, :error [:unknown "not found"], :index 21}
{:type :invoke, :f :read, :time 2353999023, :process 2, :value [0 nil], :index 22}
{:type :ok, :f :read, :time 2366281129, :process 2, :value [0 3], :index 23}
{:type :invoke, :f :read, :time 2636745972, :process 0, :value [0 nil], :index 24}
{:type :ok, :f :read, :time 2647423918, :process 0, :value [0 3], :index 25}
{:type :invoke, :f :cas, :value [0 [1 0]], :time 3004369416, :process 15, :index 26}
{:type :info, :f :cas, :value [0 [1 0]], :time 3019694461, :process 15, :error [:unknown "does not match"], :index 27}
{:type :invoke, :f :cas, :value [0 [2 1]], :time 3368316634, :process 23, :index 28}
{:type :info, :f :cas, :value [0 [2 1]], :time 3387995597, :process 23, :error [:unknown "does not match"], :index 29}
{:type :invoke, :f :read, :time 3646165423, :process 0, :value [0 nil], :index 30}
{:type :ok, :f :read, :time 3657140185, :process 0, :value [0 3], :index 31}
{:type :invoke, :f :cas, :value [0 [2 1]], :time 3852332459, :process 16, :index 32}
{:type :info, :f :cas, :value [0 [2 1]], :time 3872506748, :process 16, :error [:unknown "not found"], :index 33}
{:type :invoke, :f :read, :time 4216385460, :process 1, :value [0 nil], :index 34}
{:type :ok, :f :read, :time 4228176778, :process 1, :value [0 3], :index 35}
{:type :invoke, :f :read, :time 4550193489, :process 1, :value [0 nil], :index 36}
{:type :ok, :f :read, :time 4569722348, :process 1, :value [0 3], :index 37}
{:type :invoke, :f :read, :time 4687667494, :process 0, :value [0 nil], :index 38}
{:type :ok, :f :read, :time 4694730880, :process 0, :value [0 3], :index 39}
{:type :invoke, :f :read, :time 5030505639, :process 1, :value [0 nil], :index 40}
{:type :ok, :f :read, :time 5049183344, :process 1, :value [0 3], :index 41}
{:type :invoke, :f :cas, :value [0 [2 0]], :time 5424723870, :process 29, :index 42}
{:type :info, :f :cas, :value [0 [2 0]], :time 5435342171, :process 29, :error [:unknown "not found"], :index 43}
{:type :invoke, :f :read, :time 5692653347, :process 0, :value [0 nil], :index 44}
{:type :ok, :f :read, :time 5709981640, :process 0, :value [0 3], :index 45}
{:type :invoke, :f :write, :value [0 4], :time 5952709341, :process 35, :index 46}
{:type :ok, :f :write, :value [0 4], :time 5972037103, :process 35, :index 47}
{:type :invoke, :f :cas, :value [0 [0 3]], :time 6292405994, :process 21, :index 48}
{:type :info, :f :cas, :value [0 [0 3]], :time 6309714573, :process 21, :error [:unknown "not found"], :index 49}
{:type :invoke, :f :read, :time 6454607207, :process 0, :value [0 nil], :index 50}
{:type :ok, :f :read, :time 6465641056, :process 0, :value [0 4], :index 51}
{:type :invoke, :f :read, :time 6593207833, :process 1, :value [0 nil], :index 52}
{:type :ok, :f :read, :time 6610043406, :process 1, :value [0 4], :index 53}
{:type :invoke, :f :cas, :value [0 [3 2]], :time 6752375942, :process 22, :index 54}
{:type :info, :f :cas, :value [0 [3 2]], :time 6771536087, :process 22, :error [:unknown "not found"], :index 55}
{:type :invoke, :f :read, :time 7077560824, :process 0, :value [0 nil], :index 56}
{:type :ok, :f :read, :time 7091595431, :process 0, :value [0 4], :index 57}
{:type :invoke, :f :cas, :value [0 [4 1]], :time 7392039487, :process 27, :index 58}
{:type :ok, :f :cas, :value [0 [4 1]], :time 7408165754, :process 27, :index 59}
{:type :invoke, :f :read, :time 7516493982, :process 1, :value [0 nil], :index 60}
{:type :invoke, :f :cas, :value [0 [4 0]], :time 7528961765, :process 28, :index 61}
{:type :ok, :f :read, :time 7532392072, :process 1, :value [0 1], :index 62}
{:type :info, :f :cas, :value [0 [4 0]], :time 7545501132, :process 28, :error [:unknown "does not match"], :index 63}
{:type :invoke, :f :read, :time 7735351273, :process 2, :value [0 nil], :index 64}
{:type :ok, :f :read, :time 7753415125, :process 2, :value [0 1], :index 65}
{:type :invoke, :f :read, :time 8085250670, :process 0, :value [0 nil], :index 66}
{:type :ok, :f :read, :time 8095426006, :process 0, :value [0 1], :index 67}
{:type :invoke, :f :read, :time 8416416652, :process 1, :value [0 nil], :index 68}
{:type :ok, :f :read, :time 8427115441, :process 1, :value [0 1], :index 69}
{:type :invoke, :f :write, :value [0 0], :time 8558121413, :process 27, :index 70}
{:type :ok, :f :write, :value [0 0], :time 8575540795, :process 27, :index 71}
{:type :invoke, :f :read, :time 8929053355, :process 1, :value [0 nil], :index 72}
{:type :ok, :f :read, :time 8944507376, :process 1, :value [0 0], :index 73}
{:type :invoke, :f :read, :time 9024387774, :process 2, :value [0 nil], :index 74}
{:type :ok, :f :read, :time 9038743140, :process 2, :value [0 0], :index 75}
{:type :invoke, :f :cas, :value [0 [3 3]], :time 9347794997, :process 35, :index 76}
{:type :invoke, :f :read, :time 9355202657, :process 1, :value [0 nil], :index 77}
{:type :info, :f :cas, :value [0 [3 3]], :time 9361477623, :process 35, :error [:unknown "does not match"], :index 78}
{:type :ok, :f :read, :time 9364009154, :process 1, :value [0 0], :index 79}
{:type :invoke, :f :read, :time 9438079680, :process 2, :value [1 nil], :index 80}
{:type :fail, :f :read, :time 9454927906, :process 2, :value [1 nil], :error [:unknown "not found"], :index 81}
{:type :invoke, :f :read, :time 9648098228, :process 0, :value [1 nil], :index 82}
{:type :fail, :f :read, :time 9666049270, :process 0, :value [1 nil], :error [:unknown "not found"], :index 83}
{:type :invoke, :f :read, :time 9697190350, :process 1, :value [1 nil], :index 84}
{:type :fail, :f :read, :time 9713369972, :process 1, :value [1 nil], :error [:unknown "not found"], :index 85}
{:type :invoke, :f :write, :value [1 1], :time 9882966970, :process 41, :index 86}
{:type :ok, :f :write, :value [1 1], :time 9897913117, :process 41, :index 87}
{:type :invoke, :f :write, :value [1 1], :time 9955533487, :process 27, :index 88}
{:type :ok, :f :write, :value [1 1], :time 9969122790, :process 27, :index 89}
