{:type :invoke, :f :read, :time 12386558, :process 1, :value nil, :index 0}
{:type :fail, :f :read, :time 36940561, :process 1, :value nil, :error [:unknown "not found"], :index 1}
{:type :invoke, :f :read, :time 42073220, :process 1, :value nil, :index 2}
{:type :fail, :f :read, :time 48639590, :process 1, :value nil, :error [:unknown "not found"], :index 3}
{:type :invoke, :f :write, :value 0, :time 396804448, :process 2, :index 4}
{:type :ok, :f :write, :value 0, :time 411884952, :process 2, :index 5}
{:type :invoke, :f :read, :time 751653173, :process 0, :value nil, :index 6}
{:type :ok, :f :read, :time 769474854, :process 0, :value 0, :index 7}
{:type :invoke, :f :read, :time 888338724, :process 0, :value nil, :index 8}
{:type :ok, :f :read, :time 906491098, :process 0, :value 0, :index 9}
{:type :invoke, :f :read, :time 1257994013, :process 0, :value nil, :index 10}
{:type :ok, :f :read, :time 1263419448, :process 0, :value 0, :index 11}
{:type :invoke, :f :read, :time 1345531821, :process 1, :value nil, :index 12}
{:type :ok, :f :read, :time 1350632383, :process 1, :value 0, :index 13}
{:type :invoke, :f :write, :value 1, :time 1510067591, :process 3, :index 14}
{:type :ok, :f :write, :value 1, :time 1519721895, :process 3, :index 15}
{:type :invoke, :f :read, :time 1794863289, :process 0, :value nil, :index 16}
{:type :ok, :f :read, :time 1808995100, :process 0, :value 1, :index 17}
{:type :invoke, :f :read, :time 1864980556, :process 0, :value nil, :index 18}
{:type :ok, :f :read, :time 1869922407, :process 0, :value 1, :index 19}
{:type :invoke, :f :read, :time 2125926391, :process 0, :value nil, :index 20}
{:type :ok, :f :read, :time 2139192989, :process 0, :value 1, :index 21}
{:type :invoke, :f :read, :time 2514551521, :process 1, :value nil, :index 22}
{:type :ok, :f :read, :time 2529347013, :process 1, :value 1, :index 23}
{:type :invoke, :f :cas, :value [1 3], :time 2800444448, :process 3, :index 24}
{:type :ok, :f :cas, :value [1 3], :time 2808443232, :process 3, :index 25}
{:type :invoke, :f :read, :time 3057268382, :process 0, :value nil, :index 26}
{:type :ok, :f :read, :time 3070973965, :process 0, :value 3, :index 27}
{:type :invoke, :f :cas, :value [2 2], :time 3434644966, :process 3, :index 28}
{:type :info, :f :cas, :value [2 2], :time 3444129873, :process 3, :error [:unknown "does not match"], :index 29}
{:type :invoke, :f :read, :time 3647463534, :process 0, :value nil, :index 30}
{:type :ok, :f :read, :time 3656593227, :process 0, :value 3, :index 31}
{:type :invoke, :f :cas, :value [1 1], :time 4024907014, :process 2, :index 32}
{:type :ok, :f :cas, :value [1 1], :time 4032699574, :process 2, :index 33}
{:type :invoke, :f :read, :time 4096564767, :process 0, :value nil, :index 34}
{:type :ok, :f :read, :time 4110017618, :process 0, :value 3, :index 35}
{:type :invoke, :f :read, :time 4374144604, :process 0, :value nil, :index 36}
{:type :ok, :f :read, :time 4388212712, :process 0, :value 3, :index 37}
{:type :invoke, :f :read, :time 4556944863, :process 1, :value nil, :index 38}
{:type :ok, :f :read, :time 4561699115, :process 1, :value 3, :index 39}
{:type :invoke, :f :cas, :value [4 3], :time 4719182034, :process 2, :index 40}
{:type :info, :f :cas, :value [4 3], :time 4721666619, :process 2, :error [:unknown "does not match"], :index 41}
{:type :invoke, :f :cas, :value [2 1], :time 4844022546, :process 7, :index 42}
{:type :info, :f :cas, :value [2 1], :time 4847259556, :process 7, :error [:unknown "does not match"], :index 43}
{:type :invoke, :f :cas, :value [1 3], :time 5055846848, :process 11, :index 44}
{:type :info, :f :cas, :value [1 3], :time 5063311403, :process 11, :error [:unknown "does not match"], :index 45}
{:type :invoke, :f :read, :time 5421252739, :process 0, :value nil, :index 46}
{:type :ok, :f :read, :time 5434009648, :process 0, :value 1, :index 47}
{:type :invoke, :f :read, :time 5687063709, :process 1, :value nil, :index 48}
{:type :ok, :f :read, :time 5701883474, :process 1, :value 3, :index 49}
{:type :invoke, :f :cas, :value [3 0], :time 5734430532, :process 6, :index 50}
{:type :info, :f :cas, :value [3 0], :time 5741992209, :process 6, :error [:unknown "does not match"], :index 51}
{:type :invoke, :f :cas, :value [0 1], :time 5817333118, :process 10, :index 52}
{:type :info, :f :cas, :value [0 1], :time 5824582147, :process 10, :error [:unknown "does not match"], :index 53}
{:type :invoke, :f :write, :value 3, :time 5918978507, :process 14, :index 54}
{:type :ok, :f :write, :value 3, :time 5940538509, :process 14, :index 55}
{:type :invoke, :f :write, :value 4, :time 6121539521, :process 15, :index 56}
{:type :ok, :f :write, :value 4, :time 6141778691, :process 15, :index 57}
{:type :invoke, :f :write, :value 4, :time 6210277735, :process 15, :index 58}
{:type :ok, :f :write, :value 4, :time 6225205434, :process 15, :index 59}
{:type :invoke, :f :cas, :value [1 1], :time 6293145186, :process 14, :index 60}
{:type :info, :f :cas, :value [1 1], :time 6295448863, :process 14, :error [:unknown "does not match"], :index 61}
{:type :invoke, :f :read, :time 6597028782, :process 0, :value nil, :index 62}
{:type :ok, :f :read, :time 6608321340, :process 0, :value 4, :index 63}
{:type :invoke, :f :read, :time 6832202409, :process 1, :value nil, :index 64}
{:type :ok, :f :read, :time 6836917661, :process 1, :value 4, :index 65}
{:type :invoke, :f :read, :time 6854381525, :process 0, :value nil, :index 66}
{:type :ok, :f :read, :time 6858491790, :process 0, :value 4, :index 67}
{:type :invoke, :f :read, :time 7247965174, :process 0, :value nil, :index 68}
{:type :ok, :f :read, :time 7258662217, :process 0, :value 4, :index 69}
{:type :invoke, :f :read, :time 7583408294, :process 1, :value nil, :index 70}
{:type :ok, :f :read, :time 7587783598, :process 1, :value 4, :index 71}
{:type :invoke, :f :read, :time 7898299969, :process 1, :value nil, :index 72}
{:type :ok, :f :read, :time 7911276875, :process 1, :value 4, :index 73}
{:type :invoke, :f :cas, :value [2 2], :time 8179739884, :process 18, :index 74}
{:type :info, :f :cas, :value [2 2], :time 8187672387, :process 18, :error [:unknown "does not match"], :index 75}
{:type :invoke, :f :cas, :value [3 4], :time 8341945785, :process 15, :index 76}
{:type :info, :f :cas, :value [3 4], :time 8349038976, :process 15, :error [:unknown "does not match"], :index 77}
{:type :invoke, :f :write, :value 2, :time 8519613474, :process 22, :index 78}
{:type :ok, :f :write, :value 2, :time 8536263984, :process 22, :index 79}
{:type :invoke, :f :write, :value 3, :time 8721454118, :process 22, :index 80}
{:type :ok, :f :write, :value 3, :time 8737430576, :process 22, :index 81}
{:type :invoke, :f :read, :time 9034136991, :process 0, :value nil, :index 82}
{:type :ok, :f :read, :time 9047306526, :process 0, :value 3, :index 83}
{:type :invoke, :f :write, :value 4, :time 9180654541, :process 22, :index 84}
{:type :ok, :f :write, :value 4, :time 9197700741, :process 22, :index 85}
{:type :invoke, :f :read, :time 9344253863, :process 1, :value nil, :index 86}
{:type :ok, :f :read, :time 9355362865, :process 1, :value 4, :index 87}
{:type :invoke, :f :write, :value 0, :time 9407670598, :process 19, :index 88}
{:type :ok, :f :write, :value 0, :time 9413027770, :process 19, :index 89}
{:type :invoke, :f :read, :time 9463185285, :process 0, :value nil, :index 90}
{:type :ok, :f :read, :time 9472604484, :process 0, :value 0, :index 91}
{:type :invoke, :f :read, :time 9683264335, :process 1, :value nil, :index 92}
{:type :ok, :f :read, :time 9694900063, :process 1, :value 0, :index 93}
{:type :invoke, :f :cas, :value [3 3], :time 9915289926, :process 22, :index 94}
{:type :info, :f :cas, :value [3 3], :time 9922439105, :process 22, :error [:unknown "does not match"], :index 95}
