{:type :invoke, :f :cas, :value [4 3], :time 18178748991, :process 418, :index 741}
{:type :info, :f :cas, :value [4 3], :time 18181791731, :process 418, :error [:unknown "not leader"], :index 742}
{:type :invoke, :f :write, :value 1, :time 18244819772, :process 205, :index 746}
{:type :info, :f :write, :value 1, :time 18247507838, :process 205, :error [:unknown "not leader"], :index 747}
{:type :invoke, :f :read, :time 18295757829, :process 0, :value nil, :index 748}
{:type :fail, :f :read, :time 18297864127, :process 0, :value nil, :error [:unknown "not leader"], :index 749}
{:type :invoke, :f :cas, :value [2 2], :time 18338642942, :process 387, :index 750}
{:type :info, :f :cas, :value [2 2], :time 18340766108, :process 387, :error [:unknown "not leader"], :index 751}
{:type :invoke, :f :read, :time 18426274378, :process 3, :value nil, :index 752}
{:type :fail, :f :read, :time 18428318549, :process 3, :value nil, :error [:unknown "not leader"], :index 753}
{:type :invoke, :f :read, :time 18476259420, :process 1, :value nil, :index 754}
{:type :fail, :f :read, :time 18478810470, :process 1, :value nil, :error [:unknown "not leader"], :index 755}
{:type :invoke, :f :read, :time 18498272689, :process 1, :value nil, :index 756}
{:type :fail, :f :read, :time 18500730608, :process 1, :value nil, :error [:unknown "not leader"], :index 757}
{:type :invoke, :f :cas, :value [3 4], :time 18557890887, :process 428, :index 758}
{:type :info, :f :cas, :value [3 4], :time 18559620609, :process 428, :error [:unknown "not leader"], :index 759}
{:type :invoke, :f :read, :time 18602956317, :process 3, :value nil, :index 760}
{:type :fail, :f :read, :time 18604255148, :process 3, :value nil, :error [:unknown "not leader"], :index 761}
{:type :invoke, :f :cas, :value [2 2], :time 18642773337, :process 438, :index 762}
{:type :info, :f :cas, :value [2 2], :time 18644553989, :process 438, :error [:unknown "not leader"], :index 763}
{:type :invoke, :f :read, :time 18704016783, :process 3, :value nil, :index 764}
{:type :fail, :f :read, :time 18706007232, :process 3, :value nil, :error [:unknown "not leader"], :index 765}
{:type :invoke, :f :cas, :value [2 1], :time 18803520928, :process 397, :index 766}
{:type :info, :f :cas, :value [2 1], :time 18808604367, :process 397, :error [:unknown "not leader"], :index 767}
{:type :invoke, :f :read, :time 18894362885, :process 2, :value nil, :index 768}
{:type :fail, :f :read, :time 18898631128, :process 2, :value nil, :error [:unknown "not leader"], :index 769}
{:type :invoke, :f :cas, :value [2 1], :time 18906313911, :process 215, :index 770}
{:type :info, :f :cas, :value [2 1], :time 18912417651, :process 215, :error [:unknown "not leader"], :index 771}
{:type :invoke, :f :read, :time 18951386550, :process 2, :value nil, :index 772}
{:type :fail, :f :read, :time 18953896791, :process 2, :value nil, :error [:unknown "not leader"], :index 773}
{:type :invoke, :f :read, :time 19036562742, :process 0, :value nil, :index 774}
{:type :fail, :f :read, :time 19038372548, :process 0, :value nil, :error [:unknown "not leader"], :index 775}
{:type :invoke, :f :write, :value 4, :time 19121115831, :process 448, :index 776}
{:type :info, :f :write, :value 4, :time 19123516518, :process 448, :error [:unknown "not leader"], :index 778}
