{:type :invoke, :f :read, :time 25353105, :process 0, :value nil, :index 0}
{:type :fail, :f :read, :time 49464572, :process 0, :value nil, :error [:unknown "not leader"], :index 1}
{:type :invoke, :f :cas, :value [4 0], :time 278555543, :process 6, :index 2}
{:type :info, :f :cas, :value [4 0], :time 284981434, :process 6, :error [:unknown "not leader"], :index 3}
{:type :invoke, :f :read, :time 321276540, :process 0, :value nil, :index 4}
{:type :fail, :f :read, :time 325393164, :process 0, :value nil, :error [:unknown "not leader"], :index 5}
{:type :invoke, :f :read, :time 683104377, :process 2, :value nil, :index 6}
{:type :fail, :f :read, :time 693343519, :process 2, :value nil, :error [:unknown "not leader"], :index 7}
{:type :invoke, :f :write, :value 2, :time 932018716, :process 9, :index 8}
{:type :info, :f :write, :value 2, :time 935366993, :process 9, :error [:unknown "not leader"], :index 9}
{:type :invoke, :f :read, :time 1026074165, :process 3, :value nil, :index 10}
{:type :invoke, :f :read, :time 1113890384, :process 4, :value nil, :index 11}
{:type :fail, :f :read, :time 1187428486, :process 4, :value nil, :error [:unknown "not leader"], :index 12}
{:type :fail, :f :read, :time 1188144467, :process 3, :value nil, :error [:unknown "not leader"], :index 13}
{:type :invoke, :f :read, :time 1335317981, :process 3, :value nil, :index 14}
{:type :fail, :f :read, :time 1343197358, :process 3, :value nil, :error [:unknown "not leader"], :index 15}
{:type :invoke, :f :cas, :value [3 4], :time 1471577697, :process 16, :index 16}
{:type :invoke, :f :read, :time 1539025145, :process 1, :value nil, :index 17}
{:type :invoke, :f :read, :time 1656178606, :process 4, :value nil, :index 18}
{:type :fail, :f :read, :time 1687313843, :process 4, :value nil, :error [:unknown "not leader"], :index 19}
{:type :invoke, :f :read, :time 1863931376, :process 0, :value nil, :index 20}
{:type :fail, :f :read, :time 1871557371, :process 0, :value nil, :error [:unknown "not leader"], :index 21}
{:type :info, :f :cas, :value [3 4], :time 1888434703, :process 16, :error [:unknown "not found"], :index 22}
{:type :fail, :f :read, :time 1949191082, :process 1, :value nil, :error [:unknown "not found"], :index 23}
{:type :invoke, :f :cas, :value [3 0], :time 2229210976, :process 5, :index 24}
{:type :info, :f :cas, :value [3 0], :time 2237765701, :process 5, :error [:unknown "not leader"], :index 25}
{:type :invoke, :f :read, :time 2355436054, :process 2, :value nil, :index 26}
{:type :fail, :f :read, :time 2366111965, :process 2, :value nil, :error [:unknown "not leader"], :index 27}
{:type :invoke, :f :read, :time 2719506874, :process 4, :value nil, :index 28}
{:type :fail, :f :read, :time 2727146390, :process 4, :value nil, :error [:unknown "not leader"], :index 29}
{:type :invoke, :f :write, :value 4, :time 2908239819, :process 19, :index 30}
{:type :info, :f :write, :value 4, :time 2911591513, :process 19, :error [:unknown "not leader"], :index 31}
{:type :invoke, :f :read, :time 2929046454, :process 4, :value nil, :index 32}
{:type :fail, :f :read, :time 2932428287, :process 4, :value nil, :error [:unknown "not leader"], :index 33}
{:type :invoke, :f :read, :time 2961109307, :process 4, :value nil, :index 34}
{:type :fail, :f :read, :time 2964896223, :process 4, :value nil, :error [:unknown "not leader"], :index 35}
{:type :invoke, :f :write, :value 3, :time 3107913775, :process 15, :index 36}
{:type :info, :f :write, :value 3, :time 3115560133, :process 15, :error [:unknown "not leader"], :index 37}
{:type :invoke, :f :cas, :value [1 4], :time 3239732623, :process 8, :index 38}
{:type :info, :f :cas, :value [1 4], :time 3248690235, :process 8, :error [:unknown "not leader"], :index 39}
{:type :invoke, :f :cas, :value [1 4], :time 3456223711, :process 18, :index 40}
{:type :info, :f :cas, :value [1 4], :time 3463698895, :process 18, :error [:unknown "not leader"], :index 41}
{:type :invoke, :f :read, :time 3624734695, :process 4, :value nil, :index 42}
{:type :fail, :f :read, :time 3627668479, :process 4, :value nil, :error [:unknown "not leader"], :index 43}
{:type :invoke, :f :cas, :value [4 3], :time 3877275579, :process 7, :index 44}
{:type :info, :f :cas, :value [4 3], :time 3885619364, :process 7, :error [:unknown "not leader"], :index 45}
{:type :invoke, :f :cas, :value [1 3], :time 4275684363, :process 26, :index 46}
{:type :info, :f :cas, :value [1 3], :time 4334991607, :process 26, :error [:unknown "not leader"], :index 47}
{:type :invoke, :f :read, :time 4496561394, :process 1, :value nil, :index 48}
{:type :fail, :f :read, :time 4587600862, :process 1, :value nil, :error [:unknown "not leader"], :index 49}
{:type :invoke, :f :read, :time 4879073802, :process 2, :value nil, :index 50}
{:type :fail, :f :read, :time 4885946446, :process 2, :value nil, :error [:unknown "not leader"], :index 51}
{:type :invoke, :f :read, :time 5243653959, :process 3, :value nil, :index 52}
{:type :fail, :f :read, :time 5250471824, :process 3, :value nil, :error [:unknown "not leader"], :index 53}
{:type :invoke, :f :write, :value 2, :time 5333631795, :process 17, :index 54}
{:type :info, :f :write, :value 2, :time 5341216253, :process 17, :error [:unknown "not leader"], :index 55}
