{:type :invoke, :f :read, :time 1942886086, :process 0, :value nil, :index 41}
{:type :invoke, :f :read, :time 2028408092, :process 1, :value nil, :index 42}
{:type :fail, :f :read, :time 2031773381, :process 1, :value nil, :error [:unknown "not leader"], :index 43}
{:type :fail, :f :read, :time 2084467329, :process 0, :value nil, :error [:unknown "not leader"], :index 44}
{:type :invoke, :f :write, :value 1, :time 2191796232, :process 6, :index 46}
{:type :invoke, :f :read, :time 2284261288, :process 4, :value nil, :index 47}
{:type :fail, :f :read, :time 2288157405, :process 4, :value nil, :error [:unknown "not leader"], :index 48}
{:type :invoke, :f :cas, :value [4 2], :time 2379625543, :process 39, :index 49}
{:type :info, :f :cas, :value [4 2], :time 2382508952, :process 39, :error [:unknown "not leader"], :index 50}
{:type :invoke, :f :read, :time 2566793331, :process 2, :value nil, :index 51}
{:type :fail, :f :read, :time 2573170646, :process 2, :value nil, :error [:unknown "not leader"], :index 52}
{:type :info, :f :write, :value 1, :time 2587390124, :process 6, :error [:unknown "not leader"], :index 53}
{:type :invoke, :f :read, :time 2699880050, :process 4, :value nil, :index 54}
{:type :fail, :f :read, :time 2704214356, :process 4, :value nil, :error [:unknown "not leader"], :index 55}
{:type :invoke, :f :read, :time 2800024449, :process 4, :value nil, :index 56}
{:type :fail, :f :read, :time 2803251382, :process 4, :value nil, :error [:unknown "not leader"], :index 57}
{:type :invoke, :f :read, :time 2827253784, :process 2, :value nil, :index 58}
{:type :fail, :f :read, :time 2830337045, :process 2, :value nil, :error [:unknown "not leader"], :index 59}
{:type :invoke, :f :cas, :value [2 1], :time 2837114418, :process 16, :index 60}
{:type :info, :f :cas, :value [2 1], :time 2840241914, :process 16, :error [:unknown "not leader"], :index 61}
{:type :invoke, :f :read, :time 3024461712, :process 2, :value nil, :index 62}
{:type :fail, :f :read, :time 3031706387, :process 2, :value nil, :error [:unknown "not leader"], :index 63}
{:type :invoke, :f :cas, :value [2 4], :time 3115163629, :process 49, :index 64}
{:type :info, :f :cas, :value [2 4], :time 3123117533, :process 49, :error [:unknown "not leader"], :index 65}
{:type :invoke, :f :read, :time 3140681128, :process 1, :value nil, :index 66}
{:type :fail, :f :read, :time 3149315474, :process 1, :value nil, :error [:unknown "not leader"], :index 67}
{:type :invoke, :f :read, :time 3324929717, :process 1, :value nil, :index 68}
{:type :fail, :f :read, :time 3331144901, :process 1, :value nil, :error [:unknown "not leader"], :index 69}
{:type :invoke, :f :write, :value 0, :time 3499451722, :process 27, :index 70}
{:type :info, :f :write, :value 0, :time 3502910684, :process 27, :error [:unknown "not leader"], :index 71}
{:type :invoke, :f :read, :time 3568092848, :process 0, :value nil, :index 72}
{:type :fail, :f :read, :time 3570555136, :process 0, :value nil, :error [:unknown "not leader"], :index 73}
{:type :invoke, :f :read, :time 3743564249, :process 2, :value nil, :index 74}
{:type :fail, :f :read, :time 3749985852, :process 2, :value nil, :error [:unknown "not leader"], :index 75}
{:type :invoke, :f :read, :time 3912650718, :process 4, :value nil, :index 76}
{:type :fail, :f :read, :time 3915785668, :process 4, :value nil, :error [:unknown "not leader"], :index 77}
{:type :invoke, :f :read, :time 3960209409, :process 1, :value nil, :index 78}
{:type :fail, :f :read, :time 3963312418, :process 1, :value nil, :error [:unknown "not leader"], :index 79}
{:type :invoke, :f :cas, :value [4 2], :time 4077350494, :process 35, :index 80}
{:type :info, :f :cas, :value [4 2], :time 4083777492, :process 35, :error [:unknown "not leader"], :index 81}
{:type :invoke, :f :cas, :value [0 0], :time 4277575176, :process 45, :index 82}
{:type :info, :f :cas, :value [0 0], :time 4281412219, :process 45, :error [:unknown "not leader"], :index 83}
{:type :invoke, :f :read, :time 4360008580, :process 4, :value nil, :index 84}
{:type :invoke, :f :read, :time 4392399781, :process 2, :value nil, :index 85}
{:type :invoke, :f :write, :value 0, :time 4545079594, :process 26, :index 86}
{:type :invoke, :f :cas, :value [0 1], :time 4661895556, :process 48, :index 87}
{:type :invoke, :f :read, :time 4674642339, :process 0, :value nil, :index 88}
{:type :fail, :f :read, :time 4684798046, :process 0, :value nil, :error [:unknown "not leader"], :index 89}
{:type :info, :f :cas, :value [0 1], :time 4708707028, :process 48, :error [:unknown "not leader"], :index 90}
{:type :fail, :f :read, :time 4709310039, :process 2, :value nil, :error [:unknown "not leader"], :index 91}
{:type :info, :f :write, :value 0, :time 4709715166, :process 26, :error [:unknown "not leader"], :index 92}
{:type :fail, :f :read, :time 4710105898, :process 4, :value nil, :error [:unknown "not leader"], :index 93}
{:type :invoke, :f :read, :time 4772903716, :process 3, :value nil, :index 94}
{:type :fail, :f :read, :time 4781536595, :process 3, :value nil, :error [:unknown "not leader"], :index 95}
{:type :invoke, :f :read, :time 4866602579, :process 0, :value nil, :index 96}
{:type :invoke, :f :read, :time 4876824073, :process 3, :value nil, :index 97}
{:type :fail, :f :read, :time 4884315918, :process 3, :value nil, :error [:unknown "not leader"], :index 98}
{:type :invoke, :f :read, :time 5002582109, :process 2, :value nil, :index 99}
{:type :fail, :f :read, :time 5005220659, :process 2, :value nil, :error [:unknown "not leader"], :index 100}
{:type :invoke, :f :read, :time 5173016694, :process 4, :value nil, :index 101}
{:type :fail, :f :read, :time 5178574895, :process 4, :value nil, :error [:unknown "not leader"], :index 102}
{:type :fail, :f :read, :time 5210205577, :process 0, :value nil, :error [:unknown "not leader"], :index 103}
{:type :invoke, :f :write, :value 3, :time 5322724074, :process 59, :index 104}
{:type :invoke, :f :cas, :value [3 1], :time 5360260108, :process 37, :index 105}
{:type :invoke, :f :write, :value 3, :time 5405567152, :process 36, :index 106}
{:type :invoke, :f :read, :time 5516277892, :process 0, :value nil, :index 107}
{:type :invoke, :f :cas, :value [1 4], :time 5668941320, :process 55, :index 108}
{:type :invoke, :f :cas, :value [4 4], :time 5714190964, :process 58, :index 109}
{:type :info, :f :write, :value 3, :time 5720183932, :process 36, :error [:unknown "not leader"], :index 110}
{:type :info, :f :cas, :value [3 1], :time 5720824247, :process 37, :error [:unknown "not leader"], :index 111}
{:type :info, :f :write, :value 3, :time 5723533594, :process 59, :error [:unknown "not leader"], :index 112}
{:type :info, :f :cas, :value [4 4], :time 6025895899, :process 58, :error [:unknown "not leader"], :index 116}
{:type :fail, :f :read, :time 6528299963, :process 0, :value nil, :error [:unknown "not found"], :index 130}
{:type :info, :f :cas, :value [1 4], :time 6680268418, :process 55, :error [:unknown "not found"], :index 138}
