{:type :invoke, :f :read, :time 25353105, :process 0, :value [0 nil], :index 0}
{:type :fail, :f :read, :time 49464572, :process 0, :value [0 nil], :error [:unknown "not leader"], :index 1}
{:type :invoke, :f :cas, :value [0 [4 0]], :time 278555543, :process 6, :index 2}
{:type :info, :f :cas, :value [0 [4 0]], :time 284981434, :process 6, :error [:unknown "not leader"], :index 3}
{:type :invoke, :f :read, :time 321276540, :process 0, :value [0 nil], :index 4}
{:type :fail, :f :read, :time 325393164, :process 0, :value [0 nil], :error [:unknown "not leader"], :index 5}
{:type :invoke, :f :read, :time 683104377, :process 2, :value [0 nil], :index 6}
{:type :fail, :f :read, :time 693343519, :process 2, :value [0 nil], :error [:unknown "not leader"], :index 7}
{:type :invoke, :f :write, :value [0 2], :time 932018716, :process 9, :index 8}
{:type :info, :f :write, :value [0 2], :time 935366993, :process 9, :error [:unknown "not leader"], :index 9}
{:type :invoke, :f :read, :time 1026074165, :process 3, :value [0 nil], :index 10}
{:type :invoke, :f :read, :time 1113890384, :process 4, :value [0 nil], :index 11}
{:type :fail, :f :read, :time 1187428486, :process 4, :value [0 nil], :error [:unknown "not leader"], :index 12}
{:type :fail, :f :read, :time 1188144467, :process 3, :value [0 nil], :error [:unknown "not leader"], :index 13}
{:type :invoke, :f :read, :time 1335317981, :process 3, :value [0 nil], :index 14}
{:type :fail, :f :read, :time 1343197358, :process 3, :value [0 nil], :error [:unknown "not leader"], :index 15}
{:type :invoke, :f :cas, :value [0 [3 4]], :time 1471577697, :process 16, :index 16}
{:type :invoke, :f :read, :time 1539025145, :process 1, :value [0 nil], :index 17}
{:type :invoke, :f :read, :time 1656178606, :process 4, :value [0 nil], :index 18}
{:type :fail, :f :read, :time 1687313843, :process 4, :value [0 nil], :error [:unknown "not leader"], :index 19}
{:type :invoke, :f :read, :time 1863931376, :process 0, :value [0 nil], :index 20}
{:type :fail, :f :read, :time 1871557371, :process 0, :value [0 nil], :error [:unknown "not leader"], :index 21}
{:type :info, :f :cas, :value [0 [3 4]], :time 1888434703, :process 16, :error [:unknown "not found"], :index 22}
{:type :fail, :f :read, :time 1949191082, :process 1, :value [0 nil], :error [:unknown "not found"], :index 23}
{:type :invoke, :f :cas, :value [0 [3 0]], :time 2229210976, :process 5, :index 24}
{:type :info, :f :cas, :value [0 [3 0]], :time 2237765701, :process 5, :error [:unknown "not leader"], :index 25}
{:type :invoke, :f :read, :time 2355436054, :process 2, :value [0 nil], :index 26}
{:type :fail, :f :read, :time 2366111965, :process 2, :value [0 nil], :error [:unknown "not leader"], :index 27}
{:type :invoke, :f :read, :time 2719506874, :process 4, :value [0 nil], :index 28}
{:type :fail, :f :read, :time 2727146390, :process 4, :value [0 nil], :error [:unknown "not leader"], :index 29}
{:type :invoke, :f :write, :value [0 4], :time 2908239819, :process 19, :index 30}
{:type :info, :f :write, :value [0 4], :time 2911591513, :process 19, :error [:unknown "not leader"], :index 31}
{:type :invoke, :f :read, :time 2929046454, :process 4, :value [0 nil], :index 32}
{:type :fail, :f :read, :time 2932428287, :process 4, :value [0 nil], :error [:unknown "not leader"], :index 33}
{:type :invoke, :f :read, :time 2961109307, :process 4, :value [0 nil], :index 34}
{:type :fail, :f :read, :time 2964896223, :process 4, :value [0 nil], :error [:unknown "not leader"], :index 35}
{:type :invoke, :f :write, :value [0 3], :time 3107913775, :process 15, :index 36}
{:type :info, :f :write, :value [0 3], :time 3115560133, :process 15, :error [:unknown "not leader"], :index 37}
{:type :invoke, :f :cas, :value [0 [1 4]], :time 3239732623, :process 8, :index 38}
{:type :info, :f :cas, :value [0 [1 4]], :time 3248690235, :process 8, :error [:unknown "not leader"], :index 39}
{:type :invoke, :f :cas, :value [0 [1 4]], :time 3456223711, :process 18, :index 40}
{:type :info, :f :cas, :value [0 [1 4]], :time 3463698895, :process 18, :error [:unknown "not leader"], :index 41}
{:type :invoke, :f :read, :time 3624734695, :process 4, :value [0 nil], :index 42}
{:type :fail, :f :read, :time 3627668479, :process 4, :value [0 nil], :error [:unknown "not leader"], :index 43}
{:type :invoke, :f :cas, :value [0 [4 3]], :time 3877275579, :process 7, :index 44}
{:type :info, :f :cas, :value [0 [4 3]], :time 3885619364, :process 7, :error [:unknown "not leader"], :index 45}
{:type :invoke, :f :cas, :value [0 [1 3]], :time 4275684363, :process 26, :index 46}
{:type :info, :f :cas, :value [0 [1 3]], :time 4334991607, :process 26, :error [:unknown "not leader"], :index 47}
{:type :invoke, :f :read, :time 4496561394, :process 1, :value [0 nil], :index 48}
{:type :fail, :f :read, :time 4587600862, :process 1, :value [0 nil], :error [:unknown "not leader"], :index 49}
{:type :invoke, :f :read, :time 4879073802, :process 2, :value [0 nil], :index 50}
{:type :fail, :f :read, :time 4885946446, :process 2, :value [0 nil], :error [:unknown "not leader"], :index 51}
{:type :invoke, :f :read, :time 5243653959, :process 3, :value [0 nil], :index 52}
{:type :fail, :f :read, :time 5250471824, :process 3, :value [0 nil], :error [:unknown "not leader"], :index 53}
{:type :invoke, :f :write, :value [0 2], :time 5333631795, :process 17, :index 54}
{:type :info, :f :write, :value [0 2], :time 5341216253, :process 17, :error [:unknown "not leader"], :index 55}
{:type :invoke, :f :cas, :value [1 [4 4]], :time 5625040079, :process 36, :index 56}
{:type :info, :f :cas, :value [1 [4 4]], :time 5632126394, :process 36, :error [:unknown "not leader"], :index 57}
{:type :invoke, :f :read, :time 5939236557, :process 2, :value [1 nil], :index 58}
{:type :fail, :f :read, :time 6091386946, :process 2, :value [1 nil], :error [:unknown "not leader"], :index 59}
{:type :invoke, :f :read, :time 6129885522, :process 2, :value [1 nil], :index 60}
{:type :fail, :f :read, :time 6143388678, :process 2, :value [1 nil], :error [:unknown "not leader"], :index 61}
{:type :invoke, :f :write, :value [1 4], :time 6398162873, :process 25, :index 62}
{:type :invoke, :f :read, :time 6593611552, :process 4, :value [1 nil], :index 63}
{:type :fail, :f :read, :time 6610298784, :process 4, :value [1 nil], :error [:unknown "not leader"], :index 64}
{:type :invoke, :f :read, :time 6906858688, :process 2, :value [1 nil], :index 65}
{:type :invoke, :f :read, :time 7018357630, :process 3, :value [1 nil], :index 66}
{:type :fail, :f :read, :time 7094753074, :process 3, :value [1 nil], :error [:unknown "not leader"], :index 67}
{:type :fail, :f :read, :time 7095168731, :process 2, :value [1 nil], :error [:unknown "not leader"], :index 68}
{:type :invoke, :f :cas, :value [1 [4 0]], :time 7334111013, :process 27, :index 69}
{:type :info, :f :cas, :value [1 [4 0]], :time 7340836992, :process 27, :error [:unknown "not leader"], :index 70}
{:type :invoke, :f :read, :time 7635568257, :process 1, :value [1 nil], :index 71}
{:type :fail, :f :read, :time 7642324432, :process 1, :value [1 nil], :error [:unknown "not leader"], :index 72}
{:type :invoke, :f :read, :time 7907838971, :process 1, :value [1 nil], :index 73}
{:type :invoke, :f :cas, :value [1 [2 0]], :time 8007204338, :process 29, :index 74}
{:type :info, :f :cas, :value [1 [2 0]], :time 8096231309, :process 29, :error [:unknown "not leader"], :index 75}
{:type :fail, :f :read, :time 8096676390, :process 1, :value [1 nil], :error [:unknown "not leader"], :index 76}
{:type :invoke, :f :write, :value [1 4], :time 8330206201, :process 28, :index 77}
{:type :info, :f :write, :value [1 4], :time 8336149973, :process 28, :error [:unknown "not leader"], :index 78}
{:type :info, :f :write, :value [1 4], :time 8401458516, :process 25, :error :net-timeout, :index 79}
{:type :invoke, :f :cas, :value [1 [1 2]], :time 8537772563, :process 39, :index 80}
{:type :info, :f :cas, :value [1 [1 2]], :time 8596397583, :process 39, :error [:unknown "not leader"], :index 81}
{:type :invoke, :f :cas, :value [1 [2 2]], :time 8912838571, :process 38, :index 82}
{:type :invoke, :f :read, :time 8981135018, :process 0, :value [1 nil], :index 83}
{:type :invoke, :f :read, :time 8983115528, :process 3, :value [1 nil], :index 84}
{:type :fail, :f :read, :time 9097133207, :process 3, :value [1 nil], :error [:unknown "not leader"], :index 85}
{:type :info, :f :cas, :value [1 [2 2]], :time 9097324102, :process 38, :error [:unknown "not leader"], :index 86}
{:type :invoke, :f :cas, :value [1 [0 0]], :time 9336818807, :process 49, :index 87}
{:type :info, :f :cas, :value [1 [0 0]], :time 9342869587, :process 49, :error [:unknown "not leader"], :index 88}
{:type :invoke, :f :cas, :value [1 [4 0]], :time 9718416571, :process 37, :index 89}
{:type :info, :f :cas, :value [1 [4 0]], :time 9725678533, :process 37, :error [:unknown "not leader"], :index 90}
{:type :invoke, :f :cas, :value [1 [3 2]], :time 10105383722, :process 48, :index 91}
{:type :info, :f :cas, :value [1 [3 2]], :time 10111629611, :process 48, :error [:unknown "not leader"], :index 92}
{:type :invoke, :f :read, :time 10334278658, :process 4, :value [1 nil], :index 93}
{:type :fail, :f :read, :time 10339886260, :process 4, :value [1 nil], :error [:unknown "not leader"], :index 94}
{:type :invoke, :f :read, :time 10497686315, :process 3, :value [1 nil], :index 95}
{:type :invoke, :f :cas, :value [1 [3 0]], :time 10566146494, :process 46, :index 96}
{:type :info, :f :cas, :value [1 [3 0]], :time 10599822452, :process 46, :error [:unknown "not leader"], :index 97}
{:type :fail, :f :read, :time 10601145825, :process 3, :value [1 nil], :error [:unknown "not leader"], :index 98}
{:type :invoke, :f :cas, :value [2 [3 2]], :time 10831342725, :process 56, :index 99}
{:type :info, :f :cas, :value [2 [3 2]], :time 10838558153, :process 56, :error [:unknown "not leader"], :index 100}
{:type :fail, :f :read, :time 10984735600, :process 0, :value [1 nil], :error :net-timeout, :index 101}
{:type :invoke, :f :read, :time 11076521861, :process 2, :value [2 nil], :index 102}
{:type :fail, :f :read, :time 11100823929, :process 2, :value [2 nil], :error [:unknown "not leader"], :index 103}
{:type :invoke, :f :read, :time 11466077682, :process 3, :value [2 nil], :index 104}
{:type :fail, :f :read, :time 11603145143, :process 3, :value [2 nil], :error [:unknown "not leader"], :index 105}
{:type :invoke, :f :write, :value [2 4], :time 11613826927, :process 58, :index 106}
{:type :info, :f :write, :value [2 4], :time 11624174047, :process 58, :error [:unknown "not leader"], :index 107}
{:type :invoke, :f :read, :time 11838565010, :process 0, :value [2 nil], :index 108}
{:type :invoke, :f :read, :time 11904264946, :process 2, :value [2 nil], :index 109}
{:type :fail, :f :read, :time 12045837858, :process 2, :value [2 nil], :error [:unknown "not leader"], :index 110}
{:type :invoke, :f :write, :value [2 4], :time 12228858735, :process 47, :index 111}
{:type :info, :f :write, :value [2 4], :time 12234446076, :process 47, :error [:unknown "not leader"], :index 112}
{:type :invoke, :f :write, :value [2 4], :time 12616028746, :process 68, :index 113}
{:type :info, :f :write, :value [2 4], :time 12622001526, :process 68, :error [:unknown "not leader"], :index 114}
{:type :invoke, :f :read, :time 12954490042, :process 1, :value [2 nil], :index 115}
{:type :fail, :f :read, :time 13106339601, :process 1, :value [2 nil], :error [:unknown "not leader"], :index 116}
{:type :invoke, :f :cas, :value [2 [4 1]], :time 13341673071, :process 59, :index 117}
{:type :info, :f :cas, :value [2 [4 1]], :time 13347003222, :process 59, :error [:unknown "not leader"], :index 118}
{:type :invoke, :f :cas, :value [2 [2 4]], :time 13393899800, :process 69, :index 119}
{:type :info, :f :cas, :value [2 [2 4]], :time 13401767063, :process 69, :error [:unknown "not leader"], :index 120}
{:type :invoke, :f :read, :time 13590266436, :process 3, :value [2 nil], :index 121}
{:type :fail, :f :read, :time 13607857802, :process 3, :value [2 nil], :error [:unknown "not leader"], :index 122}
{:type :invoke, :f :cas, :value [2 [4 0]], :time 13717651514, :process 66, :index 123}
{:type :info, :f :cas, :value [2 [4 0]], :time 13725021589, :process 66, :error [:unknown "not leader"], :index 124}
{:type :fail, :f :read, :time 13841066724, :process 0, :value [2 nil], :error :net-timeout, :index 125}
{:type :invoke, :f :read, :time 13881283407, :process 3, :value [2 nil], :index 126}
{:type :fail, :f :read, :time 13888695565, :process 3, :value [2 nil], :error [:unknown "not leader"], :index 127}
{:type :invoke, :f :write, :value [2 3], :time 14155988850, :process 79, :index 128}
{:type :info, :f :write, :value [2 3], :time 14161489437, :process 79, :error [:unknown "not leader"], :index 129}
{:type :invoke, :f :write, :value [2 0], :time 14505964856, :process 76, :index 130}
{:type :info, :f :write, :value [2 0], :time 14608851705, :process 76, :error [:unknown "not leader"], :index 131}
{:type :invoke, :f :cas, :value [2 [4 2]], :time 14655239017, :process 86, :index 132}
{:type :info, :f :cas, :value [2 [4 2]], :time 14662161376, :process 86, :error [:unknown "not leader"], :index 133}
{:type :invoke, :f :cas, :value [2 [2 3]], :time 14748160071, :process 57, :index 134}
{:type :info, :f :cas, :value [2 [2 3]], :time 14750740736, :process 57, :error [:unknown "not leader"], :index 135}
{:type :invoke, :f :cas, :value [3 [4 0]], :time 14955993834, :process 35, :index 136}
{:type :invoke, :f :write, :value [3 0], :time 15282677676, :process 96, :index 137}
{:type :info, :f :write, :value [3 0], :time 15289361012, :process 96, :error [:unknown "not leader"], :index 138}
{:type :invoke, :f :read, :time 15555030575, :process 4, :value [3 nil], :index 139}
{:type :invoke, :f :read, :time 15603098569, :process 0, :value [3 nil], :index 140}
{:type :fail, :f :read, :time 15614292089, :process 4, :value [3 nil], :error [:unknown "not leader"], :index 141}
{:type :invoke, :f :cas, :value [3 [1 1]], :time 15782109531, :process 67, :index 142}
{:type :info, :f :cas, :value [3 [1 1]], :time 15816344894, :process 67, :error [:unknown "not leader"], :index 143}
{:type :invoke, :f :cas, :value [3 [0 1]], :time 15847601125, :process 106, :index 144}
{:type :info, :f :cas, :value [3 [0 1]], :time 15854875211, :process 106, :error [:unknown "not leader"], :index 145}
{:type :invoke, :f :cas, :value [3 [2 4]], :time 16086832230, :process 77, :index 146}
{:type :info, :f :cas, :value [3 [2 4]], :time 16113334950, :process 77, :error [:unknown "not leader"], :index 147}
{:type :invoke, :f :cas, :value [3 [2 0]], :time 16153966590, :process 116, :index 148}
{:type :info, :f :cas, :value [3 [2 0]], :time 16160975842, :process 116, :error [:unknown "not leader"], :index 149}
{:type :invoke, :f :cas, :value [3 [2 3]], :time 16302450661, :process 126, :index 150}
{:type :info, :f :cas, :value [3 [2 3]], :time 16305572443, :process 126, :error [:unknown "not leader"], :index 151}
{:type :invoke, :f :read, :time 16311261022, :process 1, :value [3 nil], :index 152}
{:type :fail, :f :read, :time 16315791674, :process 1, :value [3 nil], :error [:unknown "not leader"], :index 153}
{:type :invoke, :f :cas, :value [3 [3 4]], :time 16577075573, :process 78, :index 154}
{:type :invoke, :f :cas, :value [3 [3 1]], :time 16603994968, :process 87, :index 155}
{:type :info, :f :cas, :value [3 [3 4]], :time 16617741771, :process 78, :error [:unknown "not leader"], :index 156}
{:type :info, :f :cas, :value [3 [3 1]], :time 16618228998, :process 87, :error [:unknown "not leader"], :index 157}
{:type :invoke, :f :read, :time 16957845844, :process 4, :value [3 nil], :index 158}
{:type :info, :f :cas, :value [3 [4 0]], :time 16959158539, :process 35, :error :net-timeout, :index 159}
{:type :invoke, :f :read, :time 17097298052, :process 1, :value [3 nil], :index 160}
{:type :fail, :f :read, :time 17115011238, :process 1, :value [3 nil], :error [:unknown "not leader"], :index 161}
{:type :fail, :f :read, :time 17115432973, :process 4, :value [3 nil], :error [:unknown "not leader"], :index 162}
{:type :invoke, :f :cas, :value [3 [4 3]], :time 17234161252, :process 89, :index 163}
{:type :info, :f :cas, :value [3 [4 3]], :time 17237954593, :process 89, :error [:unknown "not leader"], :index 164}
{:type :invoke, :f :cas, :value [3 [3 4]], :time 17385957929, :process 136, :index 165}
{:type :info, :f :cas, :value [3 [3 4]], :time 17391177782, :process 136, :error [:unknown "not leader"], :index 166}
{:type :invoke, :f :cas, :value [4 [4 4]], :time 17517547860, :process 88, :index 167}
{:type :fail, :f :read, :time 17606422329, :process 0, :value [3 nil], :error :net-timeout, :index 168}
{:type :info, :f :cas, :value [4 [4 4]], :time 17614333087, :process 88, :error [:unknown "not leader"], :index 169}
{:type :invoke, :f :cas, :value [4 [1 0]], :time 17730111051, :process 146, :index 170}
{:type :info, :f :cas, :value [4 [1 0]], :time 17734989742, :process 146, :error [:unknown "not leader"], :index 171}
{:type :invoke, :f :read, :time 18074496601, :process 4, :value [4 nil], :index 172}
{:type :fail, :f :read, :time 18116144931, :process 4, :value [4 nil], :error [:unknown "not leader"], :index 173}
{:type :invoke, :f :cas, :value [4 [1 0]], :time 18171033868, :process 98, :index 174}
{:type :info, :f :cas, :value [4 [1 0]], :time 18176252674, :process 98, :error [:unknown "not leader"], :index 175}
{:type :invoke, :f :cas, :value [4 [0 2]], :time 18325132599, :process 156, :index 176}
{:type :info, :f :cas, :value [4 [0 2]], :time 18330457115, :process 156, :error [:unknown "not leader"], :index 177}
{:type :invoke, :f :read, :time 18380304480, :process 4, :value [4 nil], :index 178}
{:type :fail, :f :read, :time 18388306060, :process 4, :value [4 nil], :error [:unknown "not leader"], :index 179}
{:type :invoke, :f :read, :time 18670281073, :process 0, :value [4 nil], :index 180}
{:type :invoke, :f :cas, :value [4 [2 1]], :time 18689733588, :process 97, :index 181}
{:type :info, :f :cas, :value [4 [2 1]], :time 18695950652, :process 97, :error [:unknown "not leader"], :index 182}
{:type :invoke, :f :read, :time 18881098029, :process 4, :value [4 nil], :index 183}
{:type :fail, :f :read, :time 19025060570, :process 4, :value [4 nil], :error [:unknown "not leader"], :index 184}
{:type :invoke, :f :read, :time 19081027488, :process 1, :value [4 nil], :index 185}
{:type :fail, :f :read, :time 19117974172, :process 1, :value [4 nil], :error [:unknown "not leader"], :index 186}
{:type :invoke, :f :read, :time 19170207544, :process 4, :value [4 nil], :index 187}
{:type :fail, :f :read, :time 19174556033, :process 4, :value [4 nil], :error [:unknown "not leader"], :index 188}
{:type :invoke, :f :read, :time 19472540904, :process 4, :value [4 nil], :index 189}
{:type :fail, :f :read, :time 19619209116, :process 4, :value [4 nil], :error [:unknown "not leader"], :index 190}
{:type :invoke, :f :read, :time 19735557883, :process 1, :value [4 nil], :index 191}
{:type :fail, :f :read, :time 19740433226, :process 1, :value [4 nil], :error [:unknown "not leader"], :index 192}
{:type :fail, :f :read, :time 20672596296, :process 0, :value [4 nil], :error :net-timeout, :index 193}
