{:type :invoke, :f :read, :time 17573039323, :process 2, :value nil, :index 334}
{:type :fail, :f :read, :time 17576769038, :process 2, :value nil, :error [:unknown "not leader"], :index 335}
{:type :invoke, :f :read, :time 17644979136, :process 2, :value nil, :index 336}
{:type :fail, :f :read, :time 17652569070, :process 2, :value nil, :error [:unknown "not leader"], :index 337}
{:type :invoke, :f :read, :time 17755354724, :process 2, :value nil, :index 338}
{:type :fail, :f :read, :time 17757111096, :process 2, :value nil, :error [:unknown "not leader"], :index 339}
{:type :invoke, :f :read, :time 17877955046, :process 4, :value nil, :index 340}
{:type :fail, :f :read, :time 17882114318, :process 4, :value nil, :error [:unknown "not leader"], :index 341}
{:type :invoke, :f :read, :time 18063581882, :process 2, :value nil, :index 342}
{:type :fail, :f :read, :time 18069199967, :process 2, :value nil, :error [:unknown "not leader"], :index 343}
{:type :invoke, :f :cas, :value [1 2], :time 18201237263, :process 167, :index 344}
{:type :info, :f :cas, :value [1 2], :time 18205669185, :process 167, :error [:unknown "not leader"], :index 345}
{:type :invoke, :f :read, :time 18384224636, :process 3, :value nil, :index 346}
{:type :fail, :f :read, :time 18388403479, :process 3, :value nil, :error [:unknown "not leader"], :index 347}
{:type :invoke, :f :cas, :value [3 3], :time 18412635670, :process 139, :index 348}
{:type :info, :f :cas, :value [3 3], :time 18417325271, :process 139, :error [:unknown "not leader"], :index 349}
{:type :invoke, :f :cas, :value [4 1], :time 18566773073, :process 106, :index 350}
{:type :invoke, :f :read, :time 18617905066, :process 3, :value nil, :index 351}
{:type :fail, :f :read, :time 18673380265, :process 3, :value nil, :error [:unknown "not leader"], :index 352}
{:type :invoke, :f :read, :time 18800056470, :process 3, :value nil, :index 353}
{:type :fail, :f :read, :time 18802394795, :process 3, :value nil, :error [:unknown "not leader"], :index 354}
{:type :invoke, :f :cas, :value [2 4], :time 18987836500, :process 177, :index 355}
{:type :info, :f :cas, :value [2 4], :time 18992155925, :process 177, :error [:unknown "not leader"], :index 356}
{:type :invoke, :f :read, :time 19072127078, :process 4, :value nil, :index 357}
{:type :fail, :f :read, :time 19076432575, :process 4, :value nil, :error [:unknown "not leader"], :index 358}
{:type :invoke, :f :read, :time 19253769638, :process 3, :value nil, :index 359}
{:type :fail, :f :read, :time 19257788155, :process 3, :value nil, :error [:unknown "not leader"], :index 360}
{:type :invoke, :f :cas, :value [3 2], :time 19332329926, :process 188, :index 361}
{:type :info, :f :cas, :value [3 2], :time 19337573781, :process 188, :error [:unknown "not leader"], :index 362}
{:type :invoke, :f :read, :time 19493149199, :process 1, :value nil, :index 363}
{:type :invoke, :f :read, :time 19566081460, :process 2, :value nil, :index 364}
{:type :info, :f :cas, :value [4 1], :time 19568225502, :process 106, :error :net-timeout, :index 365}
{:type :fail, :f :read, :time 19602000709, :process 2, :value nil, :error [:unknown "not leader"], :index 366}
{:type :invoke, :f :cas, :value [0 1], :time 19673796192, :process 149, :index 367}
{:type :info, :f :cas, :value [0 1], :time 19675533437, :process 149, :error [:unknown "not leader"], :index 368}
{:type :invoke, :f :write, :value 3, :time 19872882682, :process 116, :index 369}
{:type :invoke, :f :read, :time 19977775817, :process 2, :value nil, :index 370}
{:type :fail, :f :read, :time 19982135521, :process 2, :value nil, :error [:unknown "not leader"], :index 371}
{:type :invoke, :f :read, :time 20001892517, :process 3, :value nil, :index 372}
{:type :fail, :f :read, :time 20007471458, :process 3, :value nil, :error [:unknown "not leader"], :index 373}
{:type :fail, :f :read, :time 20083382107, :process 1, :value nil, :error [:unknown "not found"], :index 374}
{:type :info, :f :write, :value 3, :time 20875578257, :process 116, :error :net-timeout, :index 375}
