{:type :invoke, :f :cas, :value [3 0], :time 16363046889, :process 479, :index 669}
{:type :info, :f :cas, :value [3 0], :time 16366197775, :process 479, :error [:unknown "not leader"], :index 670}
{:type :invoke, :f :write, :value 1, :time 16407724198, :process 246, :index 671}
{:type :info, :f :write, :value 1, :time 16410729102, :process 246, :error [:unknown "not leader"], :index 672}
{:type :invoke, :f :read, :time 16477845104, :process 4, :value nil, :index 673}
{:type :fail, :f :read, :time 16480969226, :process 4, :value nil, :error [:unknown "not leader"], :index 674}
{:type :invoke, :f :read, :time 16489776172, :process 3, :value nil, :index 675}
{:type :fail, :f :read, :time 16492292792, :process 3, :value nil, :error [:unknown "not leader"], :index 676}
{:type :invoke, :f :cas, :value [3 1], :time 16552025583, :process 378, :index 678}
{:type :info, :f :cas, :value [3 1], :time 16553429149, :process 378, :error [:unknown "not leader"], :index 679}
{:type :invoke, :f :read, :time 16600886693, :process 1, :value nil, :index 680}
{:type :fail, :f :read, :time 16602248113, :process 1, :value nil, :error [:unknown "not leader"], :index 681}
{:type :invoke, :f :write, :value 1, :time 16655790736, :process 256, :index 682}
{:type :invoke, :f :read, :time 16706953394, :process 2, :value nil, :index 683}
{:type :invoke, :f :cas, :value [0 4], :time 16754790614, :process 489, :index 684}
{:type :info, :f :cas, :value [0 4], :time 16757220578, :process 489, :error [:unknown "not leader"], :index 685}
{:type :fail, :f :read, :time 16818742397, :process 2, :value nil, :error [:unknown "not leader"], :index 686}
{:type :info, :f :write, :value 1, :time 16818884860, :process 256, :error [:unknown "not leader"], :index 687}
{:type :invoke, :f :cas, :value [0 3], :time 16853102268, :process 327, :index 688}
{:type :info, :f :cas, :value [0 3], :time 16857674735, :process 327, :error [:unknown "not leader"], :index 689}
{:type :invoke, :f :cas, :value [1 3], :time 16924076958, :process 266, :index 690}
{:type :invoke, :f :cas, :value [1 0], :time 16925996023, :process 499, :index 691}
{:type :info, :f :cas, :value [1 3], :time 16926476674, :process 266, :error [:unknown "not leader"], :index 692}
{:type :info, :f :cas, :value [1 0], :time 17018293531, :process 499, :error [:unknown "not leader"], :index 693}
{:type :invoke, :f :cas, :value [0 4], :time 17022178085, :process 337, :index 694}
{:type :invoke, :f :cas, :value [3 2], :time 17091707987, :process 388, :index 695}
{:type :invoke, :f :read, :time 17102806918, :process 3, :value nil, :index 696}
{:type :invoke, :f :cas, :value [4 3], :time 17122261133, :process 509, :index 697}
{:type :invoke, :f :cas, :value [2 0], :time 17220513922, :process 175, :index 698}
{:type :info, :f :cas, :value [0 4], :time 17221392888, :process 337, :error [:unknown "not leader"], :index 699}
{:type :fail, :f :read, :time 17221571815, :process 3, :value nil, :error [:unknown "not leader"], :index 700}
{:type :info, :f :cas, :value [3 2], :time 17221701934, :process 388, :error [:unknown "not leader"], :index 701}
{:type :info, :f :cas, :value [2 0], :time 17327644606, :process 175, :error [:unknown "not leader"], :index 703}
{:type :info, :f :cas, :value [4 3], :time 19123015237, :process 509, :error :net-timeout, :index 777}
