{:type :invoke, :f :read, :time 29453306, :process 4, :value [0 nil], :index 0}
{:type :fail, :f :read, :time 52120580, :process 4, :value [0 nil], :error [:unknown "not leader"], :index 1}
{:type :invoke, :f :read, :time 411396838, :process 3, :value [0 nil], :index 2}
{:type :fail, :f :read, :time 415642022, :process 3, :value [0 nil], :error [:unknown "not leader"], :index 3}
{:type :invoke, :f :write, :value [0 1], :time 439647657, :process 5, :index 4}
{:type :info, :f :write, :value [0 1], :time 442935479, :process 5, :error [:unknown "not leader"], :index 5}
{:type :invoke, :f :read, :time 461978556, :process 2, :value [0 nil], :index 6}
{:type :fail, :f :read, :time 466685860, :process 2, :value [0 nil], :error [:unknown "not leader"], :index 7}
{:type :invoke, :f :read, :time 628613120, :process 2, :value [0 nil], :index 8}
{:type :fail, :f :read, :time 636863655, :process 2, :value [0 nil], :error [:unknown "not leader"], :index 9}
{:type :invoke, :f :cas, :value [0 [4 4]], :time 942354330, :process 9, :index 10}
{:type :info, :f :cas, :value [0 [4 4]], :time 952604794, :process 9, :error [:unknown "not leader"], :index 11}
{:type :invoke, :f :cas, :value [0 [2 2]], :time 1118721139, :process 6, :index 12}
{:type :info, :f :cas, :value [0 [2 2]], :time 1127947309, :process 6, :error [:unknown "not leader"], :index 13}
{:type :invoke, :f :write, :value [0 0], :time 1313628094, :process 16, :index 14}
{:type :info, :f :write, :value [0 0], :time 1322937237, :process 16, :error [:unknown "not leader"], :index 15}
{:type :invoke, :f :cas, :value [0 [2 0]], :time 1345884698, :process 26, :index 16}
{:type :info, :f :cas, :value [0 [2 0]], :time 1355370703, :process 26, :error [:unknown "not leader"], :index 17}
{:type :invoke, :f :write, :value [0 0], :time 1487113018, :process 19, :index 18}
{:type :info, :f :write, :value [0 0], :time 1490422425, :process 19, :error [:unknown "not leader"], :index 19}
{:type :invoke, :f :read, :time 1600442250, :process 1, :value [0 nil], :index 20}
{:type :fail, :f :read, :time 1604937419, :process 1, :value [0 nil], :error [:unknown "not leader"], :index 21}
{:type :invoke, :f :read, :time 1879185245, :process 1, :value [0 nil], :index 22}
{:type :fail, :f :read, :time 1886405818, :process 1, :value [0 nil], :error [:unknown "not leader"], :index 23}
{:type :invoke, :f :read, :time 2187503078, :process 2, :value [0 nil], :index 24}
{:type :fail, :f :read, :time 2195282783, :process 2, :value [0 nil], :error [:unknown "not leader"], :index 25}
{:type :invoke, :f :cas, :value [0 [1 1]], :time 2461879400, :process 29, :index 26}
{:type :info, :f :cas, :value [0 [1 1]], :time 2469589018, :process 29, :error [:unknown "not leader"], :index 27}
{:type :invoke, :f :read, :time 2572634457, :process 0, :value [0 nil], :index 28}
{:type :fail, :f :read, :time 2606750486, :process 0, :value [0 nil], :error [:unknown "not found"], :index 29}
{:type :invoke, :f :cas, :value [0 [2 2]], :time 2827262039, :process 15, :index 30}
{:type :info, :f :cas, :value [0 [2 2]], :time 2848076243, :process 15, :error [:unknown "not found"], :index 31}
{:type :invoke, :f :cas, :value [0 [4 2]], :time 2983370901, :process 25, :index 32}
{:type :info, :f :cas, :value [0 [4 2]], :time 2990743196, :process 25, :error [:unknown "not found"], :index 33}
{:type :invoke, :f :write, :value [0 2], :time 3365895737, :process 39, :index 34}
{:type :info, :f :write, :value [0 2], :time 3373402186, :process 39, :error [:unknown "not leader"], :index 35}
{:type :invoke, :f :cas, :value [0 [0 3]], :time 3529955939, :process 36, :index 36}
{:type :info, :f :cas, :value [0 [0 3]], :time 3539121502, :process 36, :error [:unknown "not leader"], :index 37}
{:type :invoke, :f :read, :time 3705887478, :process 2, :value [1 nil], :index 38}
{:type :fail, :f :read, :time 3714719793, :process 2, :value [1 nil], :error [:unknown "not leader"], :index 39}
{:type :invoke, :f :read, :time 3728322140, :process 0, :value [1 nil], :index 40}
{:type :fail, :f :read, :time 3749086248, :process 0, :value [1 nil], :error [:unknown "not found"], :index 41}
{:type :invoke, :f :cas, :value [1 [1 0]], :time 4016828059, :process 49, :index 42}
{:type :info, :f :cas, :value [1 [1 0]], :time 4023528123, :process 49, :error [:unknown "not leader"], :index 43}
{:type :invoke, :f :cas, :value [1 [1 1]], :time 4389489303, :process 46, :index 44}
{:type :info, :f :cas, :value [1 [1 1]], :time 4396811727, :process 46, :error [:unknown "not leader"], :index 45}
{:type :invoke, :f :cas, :value [1 [2 4]], :time 4706744786, :process 35, :index 46}
{:type :info, :f :cas, :value [1 [2 4]], :time 4721886359, :process 35, :error [:unknown "not found"], :index 47}
{:type :invoke, :f :read, :time 4805441434, :process 2, :value [1 nil], :index 48}
{:type :fail, :f :read, :time 4812650086, :process 2, :value [1 nil], :error [:unknown "not leader"], :index 49}
{:type :invoke, :f :cas, :value [1 [1 4]], :time 5031221124, :process 8, :index 50}
{:type :info, :f :cas, :value [1 [1 4]], :time 5041364453, :process 8, :error [:unknown "not leader"], :index 51}
{:type :invoke, :f :write, :value [1 3], :time 5373332317, :process 45, :index 52}
{:type :ok, :f :write, :value [1 3], :time 5384803784, :process 45, :index 53}
{:type :invoke, :f :read, :time 5682153129, :process 1, :value [1 nil], :index 54}
{:type :fail, :f :read, :time 5689258599, :process 1, :value [1 nil], :error [:unknown "not leader"], :index 55}
{:type :invoke, :f :write, :value [1 3], :time 6012408763, :process 56, :index 56}
{:type :info, :f :write, :value [1 3], :time 6019804480, :process 56, :error [:unknown "not leader"], :index 57}
{:type :invoke, :f :write, :value [1 4], :time 6076929377, :process 59, :index 58}
{:type :info, :f :write, :value [1 4], :time 6085522420, :process 59, :error [:unknown "not leader"], :index 59}
{:type :invoke, :f :read, :time 6324182862, :process 0, :value [1 nil], :index 60}
{:type :ok, :f :read, :time 6336299698, :process 0, :value [1 3], :index 61}
{:type :invoke, :f :write, :value [1 1], :time 6449248908, :process 66, :index 62}
{:type :info, :f :write, :value [1 1], :time 6466766651, :process 66, :error [:unknown "not leader"], :index 63}
{:type :invoke, :f :cas, :value [1 [4 0]], :time 6588327614, :process 45, :index 64}
{:type :info, :f :cas, :value [1 [4 0]], :time 6594762072, :process 45, :error [:unknown "does not match"], :index 65}
{:type :invoke, :f :read, :time 6799216000, :process 1, :value [1 nil], :index 66}
{:type :fail, :f :read, :time 6805309528, :process 1, :value [1 nil], :error [:unknown "not leader"], :index 67}
{:type :invoke, :f :read, :time 6932866439, :process 1, :value [1 nil], :index 68}
{:type :fail, :f :read, :time 6940183371, :process 1, :value [1 nil], :error [:unknown "not leader"], :index 69}
{:type :invoke, :f :cas, :value [1 [4 0]], :time 7196264546, :process 55, :index 70}
{:type :info, :f :cas, :value [1 [4 0]], :time 7203732980, :process 55, :error [:unknown "does not match"], :index 71}
{:type :invoke, :f :read, :time 7520000344, :process 0, :value [1 nil], :index 72}
{:type :ok, :f :read, :time 7532554725, :process 0, :value [1 3], :index 73}
{:type :invoke, :f :read, :time 7836903372, :process 4, :value [1 nil], :index 74}
{:type :fail, :f :read, :time 7842986993, :process 4, :value [1 nil], :error [:unknown "not leader"], :index 75}
{:type :invoke, :f :cas, :value [1 [2 1]], :time 7988657010, :process 76, :index 76}
{:type :info, :f :cas, :value [1 [2 1]], :time 7997529941, :process 76, :error [:unknown "not leader"], :index 77}
{:type :invoke, :f :write, :value [1 1], :time 8352846682, :process 18, :index 78}
{:type :info, :f :write, :value [1 1], :time 8360440622, :process 18, :error [:unknown "not leader"], :index 79}
{:type :invoke, :f :write, :value [2 4], :time 8463875717, :process 86, :index 80}
{:type :info, :f :write, :value [2 4], :time 8475334883, :process 86, :error [:unknown "not leader"], :index 81}
{:type :invoke, :f :write, :value [2 4], :time 8605838234, :process 65, :index 82}
{:type :ok, :f :write, :value [2 4], :time 8610112530, :process 65, :index 83}
{:type :invoke, :f :cas, :value [2 [1 2]], :time 8975890825, :process 96, :index 84}
{:type :info, :f :cas, :value [2 [1 2]], :time 8983415964, :process 96, :error [:unknown "not leader"], :index 85}
{:type :invoke, :f :cas, :value [2 [3 2]], :time 9110711086, :process 69, :index 86}
{:type :info, :f :cas, :value [2 [3 2]], :time 9118389411, :process 69, :error [:unknown "not leader"], :index 87}
{:type :invoke, :f :read, :time 9202443401, :process 2, :value [2 nil], :index 88}
{:type :fail, :f :read, :time 9205005802, :process 2, :value [2 nil], :error [:unknown "not leader"], :index 89}
{:type :invoke, :f :cas, :value [2 [1 0]], :time 9507459370, :process 7, :index 90}
{:type :info, :f :cas, :value [2 [1 0]], :time 9516182576, :process 7, :error [:unknown "not leader"], :index 91}
{:type :invoke, :f :write, :value [2 0], :time 9797211398, :process 28, :index 92}
{:type :info, :f :write, :value [2 0], :time 9803118357, :process 28, :error [:unknown "not leader"], :index 93}
{:type :invoke, :f :cas, :value [2 [3 1]], :time 10179610431, :process 17, :index 94}
{:type :info, :f :cas, :value [2 [3 1]], :time 10186194029, :process 17, :error [:unknown "not leader"], :index 95}
{:type :invoke, :f :read, :time 10359201436, :process 4, :value [2 nil], :index 96}
{:type :fail, :f :read, :time 10363455483, :process 4, :value [2 nil], :error [:unknown "not leader"], :index 97}
{:type :invoke, :f :cas, :value [2 [1 4]], :time 10392911409, :process 38, :index 98}
{:type :info, :f :cas, :value [2 [1 4]], :time 10395971934, :process 38, :error [:unknown "not leader"], :index 99}
{:type :invoke, :f :read, :time 10498603287, :process 1, :value [2 nil], :index 100}
{:type :fail, :f :read, :time 10501992688, :process 1, :value [2 nil], :error [:unknown "not leader"], :index 101}
{:type :invoke, :f :cas, :value [2 [0 0]], :time 10834319682, :process 48, :index 102}
{:type :info, :f :cas, :value [2 [0 0]], :time 10841357581, :process 48, :error [:unknown "not leader"], :index 103}
{:type :invoke, :f :read, :time 11050364368, :process 4, :value [2 nil], :index 104}
{:type :fail, :f :read, :time 11054779063, :process 4, :value [2 nil], :error [:unknown "not leader"], :index 105}
{:type :invoke, :f :read, :time 11158432502, :process 0, :value [2 nil], :index 106}
{:type :ok, :f :read, :time 11174188390, :process 0, :value [2 4], :index 107}
{:type :invoke, :f :cas, :value [2 [1 1]], :time 11185752713, :process 79, :index 108}
{:type :info, :f :cas, :value [2 [1 1]], :time 11192318372, :process 79, :error [:unknown "not leader"], :index 109}
{:type :invoke, :f :read, :time 11444983566, :process 4, :value [2 nil], :index 110}
{:type :fail, :f :read, :time 11451973427, :process 4, :value [2 nil], :error [:unknown "not leader"], :index 111}
{:type :invoke, :f :read, :time 11744214944, :process 0, :value [2 nil], :index 112}
{:type :ok, :f :read, :time 11756091989, :process 0, :value [2 4], :index 113}
{:type :invoke, :f :write, :value [2 2], :time 11791617744, :process 89, :index 114}
{:type :info, :f :write, :value [2 2], :time 11798237478, :process 89, :error [:unknown "not leader"], :index 115}
{:type :invoke, :f :read, :time 12109411295, :process 2, :value [2 nil], :index 116}
{:type :fail, :f :read, :time 12114540671, :process 2, :value [2 nil], :error [:unknown "not leader"], :index 117}
{:type :invoke, :f :cas, :value [2 [2 2]], :time 12138814839, :process 106, :index 118}
{:type :info, :f :cas, :value [2 [2 2]], :time 12146246520, :process 106, :error [:unknown "not leader"], :index 119}
{:type :invoke, :f :read, :time 12185924585, :process 4, :value [3 nil], :index 120}
{:type :fail, :f :read, :time 12193236493, :process 4, :value [3 nil], :error [:unknown "not leader"], :index 121}
{:type :invoke, :f :read, :time 12441170117, :process 3, :value [3 nil], :index 122}
{:type :fail, :f :read, :time 12446329467, :process 3, :value [3 nil], :error [:unknown "not leader"], :index 123}
{:type :invoke, :f :read, :time 12538278164, :process 0, :value [3 nil], :index 124}
{:type :fail, :f :read, :time 12556765319, :process 0, :value [3 nil], :error [:unknown "not found"], :index 125}
{:type :invoke, :f :write, :value [3 1], :time 12567242824, :process 99, :index 126}
{:type :info, :f :write, :value [3 1], :time 12574143177, :process 99, :error [:unknown "not leader"], :index 127}
{:type :invoke, :f :cas, :value [3 [4 3]], :time 12736361769, :process 58, :index 128}
{:type :info, :f :cas, :value [3 [4 3]], :time 12742216440, :process 58, :error [:unknown "not leader"], :index 129}
{:type :invoke, :f :write, :value [3 3], :time 12861498552, :process 65, :index 130}
{:type :ok, :f :write, :value [3 3], :time 12881932565, :process 65, :index 131}
{:type :invoke, :f :read, :time 13261146163, :process 1, :value [3 nil], :index 132}
{:type :fail, :f :read, :time 13266475022, :process 1, :value [3 nil], :error [:unknown "not leader"], :index 133}
{:type :invoke, :f :write, :value [3 4], :time 13388751935, :process 27, :index 134}
{:type :info, :f :write, :value [3 4], :time 13392822457, :process 27, :error [:unknown "not leader"], :index 135}
{:type :invoke, :f :cas, :value [3 [1 1]], :time 13764260969, :process 37, :index 136}
{:type :info, :f :cas, :value [3 [1 1]], :time 13770508318, :process 37, :error [:unknown "not leader"], :index 137}
{:type :invoke, :f :read, :time 14048019827, :process 2, :value [3 nil], :index 138}
{:type :fail, :f :read, :time 14053502900, :process 2, :value [3 nil], :error [:unknown "not leader"], :index 139}
{:type :invoke, :f :read, :time 14196018721, :process 4, :value [3 nil], :index 140}
{:type :fail, :f :read, :time 14210797758, :process 4, :value [3 nil], :error [:unknown "not leader"], :index 141}
{:type :invoke, :f :read, :time 14522182327, :process 3, :value [3 nil], :index 142}
{:type :fail, :f :read, :time 14528290341, :process 3, :value [3 nil], :error [:unknown "not leader"], :index 143}
{:type :invoke, :f :write, :value [3 2], :time 14615987121, :process 47, :index 144}
{:type :info, :f :write, :value [3 2], :time 14622136902, :process 47, :error [:unknown "not leader"], :index 145}
{:type :invoke, :f :write, :value [3 4], :time 14769945960, :process 109, :index 146}
{:type :info, :f :write, :value [3 4], :time 14774976065, :process 109, :error [:unknown "not leader"], :index 147}
{:type :invoke, :f :read, :time 14816443541, :process 1, :value [3 nil], :index 148}
{:type :fail, :f :read, :time 14823129050, :process 1, :value [3 nil], :error [:unknown "not leader"], :index 149}
{:type :invoke, :f :cas, :value [3 [3 3]], :time 14836449746, :process 68, :index 150}
{:type :info, :f :cas, :value [3 [3 3]], :time 14843382920, :process 68, :error [:unknown "not leader"], :index 151}
{:type :invoke, :f :cas, :value [3 [2 2]], :time 14957432271, :process 78, :index 152}
{:type :info, :f :cas, :value [3 [2 2]], :time 14960269109, :process 78, :error [:unknown "not leader"], :index 153}
{:type :invoke, :f :write, :value [3 0], :time 15057728161, :process 119, :index 154}
{:type :info, :f :write, :value [3 0], :time 15060542874, :process 119, :error [:unknown "not leader"], :index 155}
{:type :invoke, :f :read, :time 15326750862, :process 0, :value [3 nil], :index 156}
{:type :ok, :f :read, :time 15337230844, :process 0, :value [3 3], :index 157}
{:type :invoke, :f :cas, :value [3 [1 2]], :time 15711726510, :process 57, :index 158}
{:type :invoke, :f :cas, :value [3 [4 4]], :time 15717808886, :process 88, :index 159}
{:type :info, :f :cas, :value [3 [1 2]], :time 15719593790, :process 57, :error [:unknown "not leader"], :index 160}
{:type :info, :f :cas, :value [3 [4 4]], :time 15723913150, :process 88, :error [:unknown "not leader"], :index 161}
{:type :invoke, :f :write, :value [4 3], :time 15733018221, :process 67, :index 162}
{:type :info, :f :write, :value [4 3], :time 15739828731, :process 67, :error [:unknown "not leader"], :index 163}
{:type :invoke, :f :read, :time 16055972710, :process 1, :value [4 nil], :index 164}
{:type :fail, :f :read, :time 16061848751, :process 1, :value [4 nil], :error [:unknown "not leader"], :index 165}
{:type :invoke, :f :read, :time 16067821006, :process 4, :value [4 nil], :index 166}
{:type :fail, :f :read, :time 16073014840, :process 4, :value [4 nil], :error [:unknown "not leader"], :index 167}
{:type :invoke, :f :cas, :value [4 [3 1]], :time 16183476248, :process 65, :index 168}
{:type :info, :f :cas, :value [4 [3 1]], :time 16204860690, :process 65, :error [:unknown "not found"], :index 169}
{:type :invoke, :f :read, :time 16243967022, :process 3, :value [4 nil], :index 170}
{:type :fail, :f :read, :time 16246408651, :process 3, :value [4 nil], :error [:unknown "not leader"], :index 171}
{:type :invoke, :f :read, :time 16565764293, :process 3, :value [4 nil], :index 172}
{:type :fail, :f :read, :time 16571710003, :process 3, :value [4 nil], :error [:unknown "not leader"], :index 173}
{:type :invoke, :f :read, :time 16854856775, :process 4, :value [4 nil], :index 174}
{:type :fail, :f :read, :time 16861421578, :process 4, :value [4 nil], :error [:unknown "not leader"], :index 175}
{:type :invoke, :f :cas, :value [4 [3 4]], :time 17228129249, :process 98, :index 176}
{:type :info, :f :cas, :value [4 [3 4]], :time 17233256091, :process 98, :error [:unknown "not leader"], :index 177}
{:type :invoke, :f :write, :value [4 1], :time 17509570648, :process 116, :index 178}
{:type :info, :f :write, :value [4 1], :time 17515461446, :process 116, :error [:unknown "not leader"], :index 179}
{:type :invoke, :f :cas, :value [4 [4 1]], :time 17660619202, :process 77, :index 180}
{:type :info, :f :cas, :value [4 [4 1]], :time 17664193393, :process 77, :error [:unknown "not leader"], :index 181}
{:type :invoke, :f :read, :time 17981203711, :process 4, :value [4 nil], :index 182}
{:type :fail, :f :read, :time 17987715448, :process 4, :value [4 nil], :error [:unknown "not leader"], :index 183}
{:type :invoke, :f :read, :time 18338550125, :process 1, :value [4 nil], :index 184}
{:type :fail, :f :read, :time 18343731544, :process 1, :value [4 nil], :error [:unknown "not leader"], :index 185}
{:type :invoke, :f :write, :value [4 4], :time 18696642844, :process 126, :index 186}
{:type :info, :f :write, :value [4 4], :time 18702645822, :process 126, :error [:unknown "not leader"], :index 187}
{:type :invoke, :f :read, :time 19022090087, :process 1, :value [4 nil], :index 188}
{:type :invoke, :f :read, :time 19025440230, :process 2, :value [4 nil], :index 189}
{:type :fail, :f :read, :time 19027567571, :process 1, :value [4 nil], :error [:unknown "not leader"], :index 190}
{:type :fail, :f :read, :time 19031001029, :process 2, :value [4 nil], :error [:unknown "not leader"], :index 191}
{:type :invoke, :f :cas, :value [4 [3 3]], :time 19392623236, :process 136, :index 192}
{:type :info, :f :cas, :value [4 [3 3]], :time 19398434281, :process 136, :error [:unknown "not leader"], :index 193}
{:type :invoke, :f :read, :time 19706748131, :process 1, :value [4 nil], :index 194}
{:type :fail, :f :read, :time 19711881921, :process 1, :value [4 nil], :error [:unknown "not leader"], :index 195}
{:type :invoke, :f :cas, :value [4 [0 3]], :time 19800570303, :process 129, :index 196}
{:type :info, :f :cas, :value [4 [0 3]], :time 19807267016, :process 129, :error [:unknown "not leader"], :index 197}
