{:type :invoke, :f :read, :time 1314268096, :process 1, :value nil, :index 66}
{:type :fail, :f :read, :time 1319400987, :process 1, :value nil, :error [:unknown "not leader"], :index 67}
{:type :invoke, :f :read, :time 1400994650, :process 3, :value nil, :index 72}
{:type :fail, :f :read, :time 1403425124, :process 3, :value nil, :error [:unknown "not leader"], :index 73}
{:type :invoke, :f :read, :time 1496343242, :process 1, :value nil, :index 74}
{:type :fail, :f :read, :time 1529019168, :process 1, :value nil, :error [:unknown "not leader"], :index 75}
{:type :invoke, :f :cas, :value [4 3], :time 1593314728, :process 26, :index 76}
{:type :invoke, :f :read, :time 1684520470, :process 1, :value nil, :index 77}
{:type :invoke, :f :write, :value 0, :time 1724981499, :process 57, :index 78}
{:type :info, :f :write, :value 0, :time 1738861179, :process 57, :error [:unknown "not leader"], :index 79}
{:type :invoke, :f :cas, :value [2 1], :time 1785250003, :process 49, :index 80}
{:type :info, :f :cas, :value [2 1], :time 1803396141, :process 49, :error [:unknown "not leader"], :index 81}
{:type :invoke, :f :cas, :value [3 2], :time 1862413573, :process 15, :index 82}
{:type :invoke, :f :read, :time 1886238360, :process 3, :value nil, :index 83}
{:type :info, :f :cas, :value [3 2], :time 1890269146, :process 15, :error [:unknown "not leader"], :index 84}
{:type :fail, :f :read, :time 1892402157, :process 3, :value nil, :error [:unknown "not leader"], :index 85}
{:type :invoke, :f :cas, :value [4 3], :time 1911460115, :process 25, :index 86}
{:type :info, :f :cas, :value [4 3], :time 1914762647, :process 25, :error [:unknown "not leader"], :index 87}
{:type :invoke, :f :read, :time 1994165568, :process 3, :value nil, :index 88}
{:type :fail, :f :read, :time 1997050081, :process 3, :value nil, :error [:unknown "not leader"], :index 89}
{:type :info, :f :cas, :value [4 3], :time 2003450316, :process 26, :error [:unknown "not found"], :index 90}
{:type :invoke, :f :read, :time 2047182142, :process 4, :value nil, :index 91}
{:type :fail, :f :read, :time 2089658335, :process 1, :value nil, :error [:unknown "not found"], :index 92}
{:type :invoke, :f :write, :value 4, :time 2099356138, :process 67, :index 93}
{:type :invoke, :f :cas, :value [3 1], :time 2105169245, :process 35, :index 94}
{:type :invoke, :f :write, :value 2, :time 2196183739, :process 59, :index 95}
{:type :invoke, :f :write, :value 1, :time 2229752497, :process 18, :index 96}
{:type :invoke, :f :cas, :value [2 1], :time 2239760866, :process 36, :index 97}
{:type :info, :f :write, :value 1, :time 2270897701, :process 18, :error [:unknown "not leader"], :index 98}
{:type :fail, :f :read, :time 2271552771, :process 4, :value nil, :error [:unknown "not leader"], :index 99}
{:type :info, :f :write, :value 2, :time 2271922507, :process 59, :error [:unknown "not leader"], :index 100}
{:type :info, :f :write, :value 4, :time 2272398494, :process 67, :error [:unknown "not leader"], :index 101}
{:type :info, :f :cas, :value [3 1], :time 2272761605, :process 35, :error [:unknown "not leader"], :index 102}
{:type :info, :f :cas, :value [2 1], :time 2443711767, :process 36, :error [:unknown "not found"], :index 109}
