{:type :invoke, :f :cas, :value [3 2], :time 11950917673, :process 109, :index 237}
{:type :info, :f :cas, :value [3 2], :time 12022969235, :process 109, :error [:unknown "not leader"], :index 238}
{:type :invoke, :f :read, :time 12106056821, :process 0, :value nil, :index 239}
{:type :fail, :f :read, :time 12109558702, :process 0, :value nil, :error [:unknown "not leader"], :index 240}
{:type :invoke, :f :read, :time 12143732227, :process 1, :value nil, :index 241}
{:type :invoke, :f :read, :time 12223575403, :process 3, :value nil, :index 242}
{:type :fail, :f :read, :time 12253827236, :process 3, :value nil, :error [:unknown "not leader"], :index 243}
{:type :invoke, :f :cas, :value [3 2], :time 12376042310, :process 119, :index 245}
{:type :info, :f :cas, :value [3 2], :time 12385786105, :process 119, :error [:unknown "not leader"], :index 246}
{:type :invoke, :f :cas, :value [0 1], :time 12536449892, :process 135, :index 247}
{:type :info, :f :cas, :value [0 1], :time 12538530922, :process 135, :error [:unknown "not leader"], :index 248}
{:type :invoke, :f :read, :time 12723824923, :process 4, :value nil, :index 249}
{:type :fail, :f :read, :time 12778332862, :process 4, :value nil, :error [:unknown "not leader"], :index 250}
{:type :invoke, :f :read, :time 12888305146, :process 0, :value nil, :index 251}
{:type :fail, :f :read, :time 12892277404, :process 0, :value nil, :error [:unknown "not leader"], :index 252}
{:type :invoke, :f :write, :value 2, :time 13032310794, :process 97, :index 253}
{:type :info, :f :write, :value 2, :time 13037103985, :process 97, :error [:unknown "not leader"], :index 254}
{:type :invoke, :f :read, :time 13132746934, :process 3, :value nil, :index 255}
{:type :fail, :f :read, :time 13138563578, :process 3, :value nil, :error [:unknown "not leader"], :index 256}
{:type :fail, :f :read, :time 13146588646, :process 1, :value nil, :error :net-timeout, :index 257}
{:type :invoke, :f :read, :time 13213996103, :process 1, :value nil, :index 258}
{:type :invoke, :f :write, :value 0, :time 13382312578, :process 145, :index 259}
{:type :info, :f :write, :value 0, :time 13386855411, :process 145, :error [:unknown "not leader"], :index 260}
{:type :invoke, :f :read, :time 13566143606, :process 2, :value nil, :index 261}
{:type :fail, :f :read, :time 13568516556, :process 2, :value nil, :error [:unknown "not leader"], :index 262}
{:type :invoke, :f :read, :time 13655677101, :process 3, :value nil, :index 263}
{:type :fail, :f :read, :time 13658511740, :process 3, :value nil, :error [:unknown "not leader"], :index 264}
{:type :invoke, :f :write, :value 3, :time 13816388548, :process 155, :index 265}
{:type :info, :f :write, :value 3, :time 13820210556, :process 155, :error [:unknown "not leader"], :index 266}
{:type :invoke, :f :cas, :value [1 2], :time 13985458905, :process 129, :index 267}
{:type :info, :f :cas, :value [1 2], :time 13987903137, :process 129, :error [:unknown "not leader"], :index 268}
{:type :invoke, :f :cas, :value [0 2], :time 14102233118, :process 178, :index 269}
{:type :info, :f :cas, :value [0 2], :time 14106719843, :process 178, :error [:unknown "not leader"], :index 270}
{:type :fail, :f :read, :time 14215048268, :process 1, :value nil, :error :net-timeout, :index 271}
{:type :invoke, :f :read, :time 14232356652, :process 3, :value nil, :index 272}
{:type :fail, :f :read, :time 14278490634, :process 3, :value nil, :error [:unknown "not leader"], :index 273}
{:type :invoke, :f :read, :time 14411401462, :process 0, :value nil, :index 274}
{:type :fail, :f :read, :time 14414462928, :process 0, :value nil, :error [:unknown "not leader"], :index 275}
{:type :invoke, :f :read, :time 14447516311, :process 2, :value nil, :index 276}
{:type :fail, :f :read, :time 14453001431, :process 2, :value nil, :error [:unknown "not leader"], :index 277}
{:type :invoke, :f :cas, :value [0 0], :time 14454367862, :process 165, :index 278}
{:type :info, :f :cas, :value [0 0], :time 14460119074, :process 165, :error [:unknown "not leader"], :index 279}
{:type :invoke, :f :write, :value 0, :time 14549156884, :process 107, :index 280}
{:type :info, :f :write, :value 0, :time 14552395257, :process 107, :error [:unknown "not leader"], :index 281}
