{:type :invoke, :f :read, :time 27615891788, :process 0, :value nil, :index 249}
{:type :invoke, :f :read, :time 27901937247, :process 1, :value nil, :index 251}
{:type :fail, :f :read, :time 28029323205, :process 0, :value nil, :error [:unknown "not found"], :index 252}
{:type :invoke, :f :cas, :value [3 1], :time 28035564842, :process 87, :index 253}
{:type :invoke, :f :read, :time 28143127391, :process 2, :value nil, :index 254}
{:type :invoke, :f :read, :time 28227867971, :process 0, :value nil, :index 255}
{:type :info, :f :cas, :value [3 1], :time 28245976076, :process 87, :error [:unknown "locked state"], :index 256}
{:type :fail, :f :read, :time 28316363485, :process 1, :value nil, :error [:unknown "not found"], :index 257}
{:type :fail, :f :read, :time 28449749197, :process 0, :value nil, :error [:unknown "locked state"], :index 258}
{:type :invoke, :f :read, :time 28464740674, :process 1, :value nil, :index 259}
{:type :fail, :f :read, :time 28623038555, :process 2, :value nil, :error [:unknown "not found"], :index 260}
{:type :invoke, :f :cas, :value [0 1], :time 28834873296, :process 93, :index 261}
{:type :invoke, :f :read, :time 28845062204, :process 0, :value nil, :index 262}
{:type :fail, :f :read, :time 28927463551, :process 1, :value nil, :error [:unknown "not found"], :index 263}
{:type :invoke, :f :cas, :value [4 2], :time 29028467931, :process 94, :index 264}
{:type :invoke, :f :read, :time 29099531491, :process 2, :value nil, :index 265}
{:type :fail, :f :read, :time 29148044604, :process 0, :value nil, :error [:unknown "locked state"], :index 266}
{:type :info, :f :cas, :value [0 1], :time 29248530691, :process 93, :error [:unknown "not found"], :index 267}
{:type :fail, :f :read, :time 29309362898, :process 2, :value nil, :error [:unknown "locked state"], :index 268}
{:type :info, :f :cas, :value [4 2], :time 29462429271, :process 94, :error [:unknown "not found"], :index 269}
{:type :invoke, :f :cas, :value [2 1], :time 29493177084, :process 100, :index 270}
{:type :invoke, :f :read, :time 29643761553, :process 1, :value nil, :index 271}
{:type :invoke, :f :write, :value 0, :time 29674106748, :process 99, :index 272}
{:type :info, :f :write, :value 0, :time 29884363887, :process 99, :error [:unknown "locked_state"], :index 273}
{:type :fail, :f :read, :time 29907629364, :process 1, :value nil, :error [:unknown "locked state"], :index 274}
{:type :info, :f :cas, :value [2 1], :time 29908996394, :process 100, :error [:unknown "not found"], :index 275}
{:type :invoke, :f :read, :time 29932038445, :process 1, :value nil, :index 276}
{:type :invoke, :f :read, :time 30247574800, :process 2, :value nil, :index 277}
{:type :fail, :f :read, :time 30344728063, :process 1, :value nil, :error [:unknown "not found"], :index 278}
{:type :invoke, :f :cas, :value [1 1], :time 30534097437, :process 106, :index 279}
{:type :fail, :f :read, :time 30659352019, :process 2, :value nil, :error [:unknown "not found"], :index 280}
{:type :invoke, :f :cas, :value [2 3], :time 30916209022, :process 105, :index 281}
{:type :info, :f :cas, :value [1 1], :time 30947422243, :process 106, :error [:unknown "not found"], :index 282}
{:type :invoke, :f :write, :value 0, :time 31288527342, :process 112, :index 283}
{:type :invoke, :f :cas, :value [3 0], :time 31326559249, :process 101, :index 284}
{:type :info, :f :cas, :value [2 3], :time 31329588868, :process 105, :error [:unknown "not found"], :index 285}
{:type :info, :f :cas, :value [3 0], :time 31533347883, :process 101, :error [:unknown "locked state"], :index 286}
{:type :ok, :f :write, :value 0, :time 31701619059, :process 112, :index 287}
{:type :invoke, :f :read, :time 31712146740, :process 2, :value nil, :index 288}
{:type :invoke, :f :write, :value 4, :time 32002462692, :process 112, :index 289}
{:type :ok, :f :read, :time 32125495044, :process 2, :value 0, :index 290}
{:type :invoke, :f :read, :time 32189796607, :process 2, :value nil, :index 291}
{:type :invoke, :f :read, :time 32263514126, :process 0, :value nil, :index 292}
{:type :fail, :f :read, :time 32401055389, :process 2, :value nil, :error [:unknown "locked state"], :index 293}
{:type :ok, :f :write, :value 4, :time 32431101768, :process 112, :index 294}
{:type :invoke, :f :read, :time 32500108850, :process 2, :value nil, :index 295}
{:type :fail, :f :read, :time 32503242277, :process 0, :value nil, :error [:unknown "locked state"], :index 296}
{:type :invoke, :f :write, :value 4, :time 32647444316, :process 111, :index 297}
{:type :info, :f :write, :value 4, :time 32913186348, :process 111, :error [:unknown "locked_state"], :index 298}
{:type :invoke, :f :read, :time 32964335876, :process 0, :value nil, :index 299}
{:type :ok, :f :read, :time 33012017129, :process 2, :value 4, :index 300}
{:type :invoke, :f :cas, :value [4 1], :time 33362507890, :process 117, :index 301}
{:type :ok, :f :read, :time 33376321632, :process 0, :value 4, :index 302}
{:type :invoke, :f :read, :time 33496236834, :process 1, :value nil, :index 303}
{:type :fail, :f :read, :time 33706794887, :process 1, :value nil, :error [:unknown "locked state"], :index 304}
{:type :invoke, :f :cas, :value [2 2], :time 33730733872, :process 107, :index 305}
{:type :invoke, :f :cas, :value [3 1], :time 33752433178, :process 112, :index 306}
{:type :ok, :f :cas, :value [4 1], :time 33783059518, :process 117, :index 307}
{:type :invoke, :f :cas, :value [1 3], :time 33934478822, :process 117, :index 308}
{:type :info, :f :cas, :value [3 1], :time 34013534142, :process 112, :error [:unknown "locked state"], :index 309}
{:type :invoke, :f :cas, :value [3 3], :time 34108607489, :process 118, :index 310}
{:type :invoke, :f :read, :time 34122948166, :process 0, :value nil, :index 311}
{:type :info, :f :cas, :value [2 2], :time 34142356771, :process 107, :error [:unknown "does not match"], :index 312}
{:type :invoke, :f :write, :value 1, :time 34159331977, :process 113, :index 313}
{:type :info, :f :cas, :value [3 3], :time 34320625266, :process 118, :error [:unknown "locked state"], :index 314}
{:type :ok, :f :cas, :value [1 3], :time 34348689697, :process 117, :index 315}
{:type :fail, :f :read, :time 34348996790, :process 0, :value nil, :error [:unknown "locked state"], :index 316}
{:type :invoke, :f :write, :value 0, :time 34418634136, :process 124, :index 317}
{:type :info, :f :write, :value 1, :time 34422670102, :process 113, :error [:unknown "locked_state"], :index 318}
{:type :invoke, :f :cas, :value [3 2], :time 34620468202, :process 119, :index 319}
{:type :invoke, :f :cas, :value [2 3], :time 34670868713, :process 117, :index 320}
{:type :ok, :f :write, :value 0, :time 34829730955, :process 124, :index 321}
{:type :info, :f :cas, :value [3 2], :time 34831712932, :process 119, :error [:unknown "locked state"], :index 322}
{:type :info, :f :cas, :value [2 3], :time 34933355005, :process 117, :error [:unknown "locked state"], :index 323}
