{:type :invoke, :f :write, :value 4, :time 14530943130, :process 158, :index 290}
{:type :info, :f :write, :value 4, :time 14538170741, :process 158, :error [:unknown "not leader"], :index 291}
{:type :invoke, :f :read, :time 14601907548, :process 1, :value nil, :index 293}
{:type :fail, :f :read, :time 14604571318, :process 1, :value nil, :error [:unknown "not leader"], :index 294}
{:type :invoke, :f :read, :time 14640362712, :process 3, :value nil, :index 295}
{:type :fail, :f :read, :time 14642403753, :process 3, :value nil, :error [:unknown "not leader"], :index 296}
{:type :invoke, :f :cas, :value [0 4], :time 14654849564, :process 197, :index 297}
{:type :info, :f :cas, :value [0 4], :time 14656388942, :process 197, :error [:unknown "not leader"], :index 298}
{:type :invoke, :f :read, :time 14708568684, :process 4, :value nil, :index 299}
{:type :fail, :f :read, :time 14710151435, :process 4, :value nil, :error [:unknown "not leader"], :index 300}
{:type :invoke, :f :read, :time 14783478913, :process 3, :value nil, :index 301}
{:type :fail, :f :read, :time 14788601643, :process 3, :value nil, :error [:unknown "not leader"], :index 302}
{:type :invoke, :f :read, :time 14909046691, :process 2, :value nil, :index 303}
{:type :fail, :f :read, :time 14915552964, :process 2, :value nil, :error [:unknown "not leader"], :index 304}
{:type :invoke, :f :cas, :value [4 0], :time 14964125518, :process 168, :index 305}
{:type :info, :f :cas, :value [4 0], :time 14967108896, :process 168, :error [:unknown "not leader"], :index 306}
{:type :invoke, :f :cas, :value [3 2], :time 15094667733, :process 85, :index 307}
{:type :invoke, :f :write, :value 3, :time 15102343566, :process 179, :index 308}
{:type :invoke, :f :cas, :value [4 2], :time 15193811111, :process 106, :index 309}
{:type :invoke, :f :read, :time 15349372125, :process 2, :value nil, :index 310}
{:type :invoke, :f :read, :time 15522515938, :process 1, :value nil, :index 311}
{:type :invoke, :f :read, :time 15569397898, :process 4, :value nil, :index 312}
{:type :fail, :f :read, :time 15600715278, :process 2, :value nil, :error [:unknown "not leader"], :index 313}
{:type :info, :f :cas, :value [4 2], :time 15601153165, :process 106, :error [:unknown "not leader"], :index 314}
{:type :fail, :f :read, :time 15601464661, :process 1, :value nil, :error [:unknown "not leader"], :index 315}
{:type :info, :f :write, :value 3, :time 15601702347, :process 179, :error [:unknown "not leader"], :index 316}
{:type :fail, :f :read, :time 15602026089, :process 4, :value nil, :error [:unknown "not leader"], :index 317}
{:type :invoke, :f :cas, :value [1 0], :time 15668593307, :process 178, :index 318}
{:type :info, :f :cas, :value [1 0], :time 15674212797, :process 178, :error [:unknown "not leader"], :index 319}
{:type :invoke, :f :write, :value 4, :time 15854375774, :process 189, :index 320}
{:type :info, :f :write, :value 4, :time 15858988497, :process 189, :error [:unknown "not leader"], :index 321}
{:type :invoke, :f :cas, :value [0 3], :time 15946324602, :process 188, :index 322}
{:type :info, :f :cas, :value [0 3], :time 15950800202, :process 188, :error [:unknown "not leader"], :index 323}
{:type :invoke, :f :read, :time 16000307544, :process 1, :value nil, :index 324}
{:type :fail, :f :read, :time 16006346502, :process 1, :value nil, :error [:unknown "not leader"], :index 325}
{:type :invoke, :f :cas, :value [3 3], :time 16143251484, :process 199, :index 327}
{:type :info, :f :cas, :value [3 3], :time 16144930511, :process 199, :error [:unknown "not leader"], :index 328}
{:type :invoke, :f :read, :time 16216931252, :process 3, :value nil, :index 329}
{:type :fail, :f :read, :time 16219172973, :process 3, :value nil, :error [:unknown "not leader"], :index 330}
{:type :invoke, :f :read, :time 16362170553, :process 1, :value nil, :index 331}
{:type :fail, :f :read, :time 16367299959, :process 1, :value nil, :error [:unknown "not leader"], :index 332}
{:type :invoke, :f :cas, :value [2 3], :time 16456098073, :process 207, :index 333}
{:type :info, :f :cas, :value [2 3], :time 16461839381, :process 207, :error [:unknown "not leader"], :index 334}
{:type :info, :f :cas, :value [3 2], :time 19692012616, :process 85, :error [:unknown "not found"], :index 398}
