{:type :invoke, :f :cas, :value [1 1], :time 10608796331, :process 33, :index 73}
{:type :invoke, :f :read, :time 11110751172, :process 2, :value nil, :index 75}
{:type :invoke, :f :cas, :value [1 1], :time 11112126239, :process 28, :index 77}
{:type :invoke, :f :cas, :value [3 4], :time 11613548245, :process 53, :index 80}
{:type :invoke, :f :read, :time 11614249311, :process 0, :value nil, :index 81}
{:type :invoke, :f :read, :time 12115602008, :process 1, :value nil, :index 83}
{:type :fail, :f :read, :time 12617429004, :process 2, :value nil, :error [:unknown "locked state"], :index 84}
{:type :invoke, :f :read, :time 12617687570, :process 2, :value nil, :index 85}
{:type :info, :f :cas, :value [1 1], :time 12619596350, :process 28, :error [:unknown "locked state"], :index 86}
{:type :invoke, :f :cas, :value [1 0], :time 12619705036, :process 34, :index 87}
{:type :fail, :f :read, :time 13122730067, :process 0, :value nil, :error [:unknown "locked state"], :index 88}
{:type :invoke, :f :read, :time 13122861533, :process 0, :value nil, :index 89}
{:type :info, :f :cas, :value [3 4], :time 13123192996, :process 53, :error [:unknown "locked state"], :index 90}
{:type :info, :f :cas, :value [1 1], :time 13123282473, :process 33, :error [:unknown "not found"], :index 91}
{:type :invoke, :f :cas, :value [4 3], :time 13123343942, :process 59, :index 92}
{:type :invoke, :f :cas, :value [0 4], :time 13123617996, :process 39, :index 93}
{:type :fail, :f :read, :time 14130924593, :process 2, :value nil, :error [:unknown "locked state"], :index 94}
{:type :invoke, :f :read, :time 14131046899, :process 2, :value nil, :index 95}
{:type :fail, :f :read, :time 14633929022, :process 1, :value nil, :error [:unknown "not found"], :index 96}
{:type :invoke, :f :read, :time 14634082447, :process 1, :value nil, :index 97}
{:type :fail, :f :read, :time 14634504155, :process 0, :value nil, :error [:unknown "locked state"], :index 98}
{:type :info, :f :cas, :value [0 4], :time 14634568194, :process 39, :error [:unknown "locked state"], :index 99}
{:type :info, :f :cas, :value [4 3], :time 14634657485, :process 59, :error [:unknown "locked state"], :index 100}
{:type :invoke, :f :write, :value 4, :time 14634784033, :process 45, :index 101}
{:type :invoke, :f :cas, :value [2 3], :time 14635073062, :process 65, :index 102}
{:type :invoke, :f :read, :time 14635305631, :process 0, :value nil, :index 103}
{:type :info, :f :cas, :value [1 0], :time 15137559369, :process 34, :error [:unknown "not found"], :index 104}
{:type :invoke, :f :cas, :value [4 3], :time 15137905500, :process 40, :index 105}
{:type :info, :f :write, :value 4, :time 16144670654, :process 45, :error [:unknown "locked_state"], :index 106}
{:type :info, :f :cas, :value [2 3], :time 16145234852, :process 65, :error [:unknown "locked state"], :index 107}
{:type :invoke, :f :write, :value 1, :time 16145621562, :process 51, :index 108}
{:type :fail, :f :read, :time 16146715568, :process 0, :value nil, :error [:unknown "locked state"], :index 109}
{:type :invoke, :f :cas, :value [3 3], :time 16146774760, :process 71, :index 110}
{:type :invoke, :f :read, :time 16147026764, :process 0, :value nil, :index 111}
{:type :fail, :f :read, :time 16646236735, :process 2, :value nil, :error [:unknown "not found"], :index 112}
{:type :invoke, :f :read, :time 16646558037, :process 2, :value nil, :index 113}
{:type :info, :f :cas, :value [4 3], :time 16647185007, :process 40, :error [:unknown "locked state"], :index 114}
{:type :invoke, :f :write, :value 1, :time 16647311459, :process 46, :index 115}
{:type :fail, :f :read, :time 17149151779, :process 1, :value nil, :error [:unknown "not found"], :index 116}
{:type :invoke, :f :read, :time 17149388726, :process 1, :value nil, :index 117}
{:type :info, :f :write, :value 1, :time 17652688540, :process 51, :error [:unknown "locked_state"], :index 118}
{:type :fail, :f :read, :time 17653015236, :process 0, :value nil, :error [:unknown "locked state"], :index 119}
{:type :invoke, :f :write, :value 2, :time 17653151561, :process 57, :index 120}
{:type :invoke, :f :read, :time 17654020440, :process 0, :value nil, :index 121}
{:type :info, :f :write, :value 1, :time 18152946748, :process 46, :error [:unknown "locked_state"], :index 122}
{:type :invoke, :f :cas, :value [1 1], :time 18153101354, :process 52, :index 123}
{:type :fail, :f :read, :time 18153518896, :process 2, :value nil, :error [:unknown "locked state"], :index 124}
{:type :invoke, :f :read, :time 18153566744, :process 2, :value nil, :index 125}
{:type :fail, :f :read, :time 18656774231, :process 1, :value nil, :error [:unknown "locked state"], :index 126}
{:type :invoke, :f :read, :time 18657099402, :process 1, :value nil, :index 127}
{:type :info, :f :cas, :value [3 3], :time 18658856361, :process 71, :error [:unknown "not found"], :index 128}
{:type :invoke, :f :cas, :value [0 4], :time 18659129859, :process 77, :index 129}
{:type :fail, :f :read, :time 19160681898, :process 0, :value nil, :error [:unknown "locked state"], :index 130}
{:type :invoke, :f :read, :time 19160858945, :process 0, :value nil, :index 131}
{:type :fail, :f :read, :time 19662029158, :process 2, :value nil, :error [:unknown "locked state"], :index 132}
{:type :info, :f :cas, :value [1 1], :time 19662158734, :process 52, :error [:unknown "locked state"], :index 133}
{:type :ok, :f :write, :value 2, :time 20165367682, :process 57, :index 136}
{:type :fail, :f :read, :time 20165877494, :process 1, :value nil, :error [:unknown "locked state"], :index 138}
{:type :info, :f :cas, :value [0 4], :time 20166128269, :process 77, :error [:unknown "locked state"], :index 140}
{:type :ok, :f :read, :time 21677988840, :process 0, :value 2, :index 150}
