{:type :invoke, :f :write, :value 4, :time 8463875717, :process 86, :index 80}
{:type :info, :f :write, :value 4, :time 8475334883, :process 86, :error [:unknown "not leader"], :index 81}
{:type :invoke, :f :write, :value 4, :time 8605838234, :process 65, :index 82}
{:type :ok, :f :write, :value 4, :time 8610112530, :process 65, :index 83}
{:type :invoke, :f :cas, :value [1 2], :time 8975890825, :process 96, :index 84}
{:type :info, :f :cas, :value [1 2], :time 8983415964, :process 96, :error [:unknown "not leader"], :index 85}
{:type :invoke, :f :cas, :value [3 2], :time 9110711086, :process 69, :index 86}
{:type :info, :f :cas, :value [3 2], :time 9118389411, :process 69, :error [:unknown "not leader"], :index 87}
{:type :invoke, :f :read, :time 9202443401, :process 2, :value nil, :index 88}
{:type :fail, :f :read, :time 9205005802, :process 2, :value nil, :error [:unknown "not leader"], :index 89}
{:type :invoke, :f :cas, :value [1 0], :time 9507459370, :process 7, :index 90}
{:type :info, :f :cas, :value [1 0], :time 9516182576, :process 7, :error [:unknown "not leader"], :index 91}
{:type :invoke, :f :write, :value 0, :time 9797211398, :process 28, :index 92}
{:type :info, :f :write, :value 0, :time 9803118357, :process 28, :error [:unknown "not leader"], :index 93}
{:type :invoke, :f :cas, :value [3 1], :time 10179610431, :process 17, :index 94}
{:type :info, :f :cas, :value [3 1], :time 10186194029, :process 17, :error [:unknown "not leader"], :index 95}
{:type :invoke, :f :read, :time 10359201436, :process 4, :value nil, :index 96}
{:type :fail, :f :read, :time 10363455483, :process 4, :value nil, :error [:unknown "not leader"], :index 97}
{:type :invoke, :f :cas, :value [1 4], :time 10392911409, :process 38, :index 98}
{:type :info, :f :cas, :value [1 4], :time 10395971934, :process 38, :error [:unknown "not leader"], :index 99}
{:type :invoke, :f :read, :time 10498603287, :process 1, :value nil, :index 100}
{:type :fail, :f :read, :time 10501992688, :process 1, :value nil, :error [:unknown "not leader"], :index 101}
{:type :invoke, :f :cas, :value [0 0], :time 10834319682, :process 48, :index 102}
{:type :info, :f :cas, :value [0 0], :time 10841357581, :process 48, :error [:unknown "not leader"], :index 103}
{:type :invoke, :f :read, :time 11050364368, :process 4, :value nil, :index 104}
{:type :fail, :f :read, :time 11054779063, :process 4, :value nil, :error [:unknown "not leader"], :index 105}
{:type :invoke, :f :read, :time 11158432502, :process 0, :value nil, :index 106}
{:type :ok, :f :read, :time 11174188390, :process 0, :value 4, :index 107}
{:type :invoke, :f :cas, :value [1 1], :time 11185752713, :process 79, :index 108}
{:type :info, :f :cas, :value [1 1], :time 11192318372, :process 79, :error [:unknown "not leader"], :index 109}
{:type :invoke, :f :read, :time 11444983566, :process 4, :value nil, :index 110}
{:type :fail, :f :read, :time 11451973427, :process 4, :value nil, :error [:unknown "not leader"], :index 111}
{:type :invoke, :f :read, :time 11744214944, :process 0, :value nil, :index 112}
{:type :ok, :f :read, :time 11756091989, :process 0, :value 4, :index 113}
{:type :invoke, :f :write, :value 2, :time 11791617744, :process 89, :index 114}
{:type :info, :f :write, :value 2, :time 11798237478, :process 89, :error [:unknown "not leader"], :index 115}
{:type :invoke, :f :read, :time 12109411295, :process 2, :value nil, :index 116}
{:type :fail, :f :read, :time 12114540671, :process 2, :value nil, :error [:unknown "not leader"], :index 117}
{:type :invoke, :f :cas, :value [2 2], :time 12138814839, :process 106, :index 118}
{:type :info, :f :cas, :value [2 2], :time 12146246520, :process 106, :error [:unknown "not leader"], :index 119}
