{:type :invoke, :f :write, :value 2, :time 19662253680, :process 58, :index 134}
{:type :invoke, :f :read, :time 19662801058, :process 2, :value nil, :index 135}
{:type :invoke, :f :write, :value 3, :time 20165517021, :process 57, :index 137}
{:type :invoke, :f :read, :time 20165920776, :process 1, :value nil, :index 139}
{:type :invoke, :f :cas, :value [4 2], :time 20166189654, :process 83, :index 141}
{:type :info, :f :write, :value 2, :time 21175885053, :process 58, :error [:unknown "locked_state"], :index 142}
{:type :info, :f :cas, :value [4 2], :time 21176238417, :process 83, :error [:unknown "locked state"], :index 143}
{:type :invoke, :f :cas, :value [2 2], :time 21176499320, :process 64, :index 144}
{:type :fail, :f :read, :time 21177414223, :process 2, :value nil, :error [:unknown "locked state"], :index 145}
{:type :invoke, :f :cas, :value [3 1], :time 21177540662, :process 89, :index 146}
{:type :invoke, :f :read, :time 21178340952, :process 2, :value nil, :index 147}
{:type :info, :f :write, :value 3, :time 21675652989, :process 57, :error [:unknown "locked_state"], :index 148}
{:type :invoke, :f :cas, :value [3 3], :time 21675984194, :process 63, :index 149}
{:type :invoke, :f :read, :time 21678084460, :process 0, :value nil, :index 151}
{:type :fail, :f :read, :time 21678380844, :process 1, :value nil, :error [:unknown "locked state"], :index 152}
{:type :invoke, :f :read, :time 21678420487, :process 1, :value nil, :index 153}
{:type :info, :f :cas, :value [3 1], :time 22683680748, :process 89, :error [:unknown "locked state"], :index 154}
{:type :fail, :f :read, :time 22683829339, :process 2, :value nil, :error [:unknown "locked state"], :index 155}
{:type :invoke, :f :write, :value 1, :time 22683896365, :process 95, :index 156}
{:type :invoke, :f :read, :time 22684394666, :process 2, :value nil, :index 157}
{:type :info, :f :cas, :value [3 3], :time 23184218712, :process 63, :error [:unknown "locked state"], :index 158}
{:type :invoke, :f :cas, :value [1 3], :time 23184648359, :process 69, :index 159}
{:type :fail, :f :read, :time 23185754793, :process 0, :value nil, :error [:unknown "locked state"], :index 160}
{:type :invoke, :f :read, :time 23185813204, :process 0, :value nil, :index 161}
{:type :fail, :f :read, :time 23186243021, :process 1, :value nil, :error [:unknown "locked state"], :index 162}
{:type :invoke, :f :read, :time 23186326685, :process 1, :value nil, :index 163}
{:type :info, :f :cas, :value [2 2], :time 23688994795, :process 64, :error [:unknown "not found"], :index 164}
{:type :invoke, :f :cas, :value [2 0], :time 23689376498, :process 70, :index 165}
{:type :fail, :f :read, :time 24192895609, :process 2, :value nil, :error [:unknown "locked state"], :index 166}
{:type :invoke, :f :read, :time 24193033396, :process 2, :value nil, :index 167}
{:type :fail, :f :read, :time 24193386637, :process 0, :value nil, :error [:unknown "locked state"], :index 168}
{:type :invoke, :f :read, :time 24193437643, :process 0, :value nil, :index 169}
{:type :info, :f :cas, :value [1 3], :time 24193650979, :process 69, :error [:unknown "locked state"], :index 170}
{:type :invoke, :f :cas, :value [2 1], :time 24193701125, :process 75, :index 171}
{:type :fail, :f :read, :time 24690879992, :process 1, :value nil, :error [:unknown "locked state"], :index 172}
{:type :invoke, :f :read, :time 24691201625, :process 1, :value nil, :index 173}
{:type :info, :f :cas, :value [2 0], :time 25195464436, :process 70, :error [:unknown "locked state"], :index 174}
{:type :invoke, :f :write, :value 3, :time 25195825319, :process 76, :index 175}
{:type :ok, :f :write, :value 1, :time 25196735651, :process 95, :index 176}
{:type :invoke, :f :write, :value 4, :time 25196950535, :process 95, :index 177}
{:type :info, :f :cas, :value [2 1], :time 25699332914, :process 75, :error [:unknown "locked state"], :index 178}
{:type :invoke, :f :cas, :value [1 2], :time 25699473945, :process 81, :index 179}
{:type :fail, :f :read, :time 25699989841, :process 2, :value nil, :error [:unknown "locked state"], :index 180}
{:type :invoke, :f :read, :time 25700062041, :process 2, :value nil, :index 181}
{:type :fail, :f :read, :time 26198781974, :process 1, :value nil, :error [:unknown "locked state"], :index 182}
{:type :invoke, :f :read, :time 26199097671, :process 1, :value nil, :index 183}
{:type :info, :f :write, :value 3, :time 26701877639, :process 76, :error [:unknown "locked_state"], :index 184}
{:type :invoke, :f :cas, :value [1 4], :time 26702013868, :process 82, :index 185}
{:type :ok, :f :read, :time 26702940305, :process 0, :value 1, :index 186}
{:type :invoke, :f :read, :time 26703024580, :process 0, :value nil, :index 187}
{:type :fail, :f :read, :time 27205707391, :process 2, :value nil, :error [:unknown "locked state"], :index 188}
{:type :invoke, :f :read, :time 27205857196, :process 2, :value nil, :index 189}
{:type :info, :f :cas, :value [1 2], :time 27206393622, :process 81, :error [:unknown "locked state"], :index 190}
{:type :invoke, :f :write, :value 4, :time 27206497862, :process 87, :index 191}
{:type :fail, :f :read, :time 27709647129, :process 1, :value nil, :error [:unknown "locked state"], :index 192}
{:type :invoke, :f :read, :time 27709852575, :process 1, :value nil, :index 193}
{:type :ok, :f :write, :value 4, :time 27710488074, :process 95, :index 194}
{:type :invoke, :f :cas, :value [1 1], :time 27710574251, :process 95, :index 195}
{:type :fail, :f :read, :time 28214140612, :process 0, :value nil, :error [:unknown "locked state"], :index 196}
{:type :invoke, :f :read, :time 28214236170, :process 0, :value nil, :index 197}
{:type :fail, :f :read, :time 28720195689, :process 2, :value nil, :error [:unknown "locked state"], :index 198}
{:type :invoke, :f :read, :time 28720523868, :process 2, :value nil, :index 199}
{:type :fail, :f :read, :time 29219872854, :process 1, :value nil, :error [:unknown "locked state"], :index 200}
{:type :invoke, :f :read, :time 29220174777, :process 1, :value nil, :index 201}
{:type :info, :f :cas, :value [1 1], :time 29224453833, :process 95, :error [:unknown "locked state"], :index 202}
{:type :info, :f :cas, :value [1 4], :time 29224725943, :process 82, :error [:unknown "does not match"], :index 203}
{:type :invoke, :f :write, :value 4, :time 29224861342, :process 101, :index 204}
{:type :invoke, :f :cas, :value [4 3], :time 29225620796, :process 88, :index 205}
{:type :ok, :f :write, :value 4, :time 29724955362, :process 87, :index 206}
{:type :invoke, :f :write, :value 4, :time 29725313796, :process 87, :index 207}
{:type :fail, :f :read, :time 29726549955, :process 0, :value nil, :error [:unknown "locked state"], :index 208}
{:type :invoke, :f :read, :time 29726739015, :process 0, :value nil, :index 209}
{:type :fail, :f :read, :time 30224277474, :process 2, :value nil, :error [:unknown "locked state"], :index 210}
{:type :fail, :f :read, :time 30230643181, :process 1, :value nil, :error [:unknown "locked state"], :index 211}
{:type :info, :f :write, :value 4, :time 30726782223, :process 101, :error [:unknown "locked_state"], :index 212}
{:type :info, :f :cas, :value [4 3], :time 30731562832, :process 88, :error [:unknown "locked state"], :index 213}
{:type :fail, :f :read, :time 31231985973, :process 0, :value nil, :error [:unknown "locked state"], :index 214}
{:type :ok, :f :write, :value 4, :time 32233584958, :process 87, :index 215}
