{:type :invoke, :f :read, :time 9438079680, :process 2, :value nil, :index 80}
{:type :fail, :f :read, :time 9454927906, :process 2, :value nil, :error [:unknown "not found"], :index 81}
{:type :invoke, :f :read, :time 9648098228, :process 0, :value nil, :index 82}
{:type :fail, :f :read, :time 9666049270, :process 0, :value nil, :error [:unknown "not found"], :index 83}
{:type :invoke, :f :read, :time 9697190350, :process 1, :value nil, :index 84}
{:type :fail, :f :read, :time 9713369972, :process 1, :value nil, :error [:unknown "not found"], :index 85}
{:type :invoke, :f :write, :value 1, :time 9882966970, :process 41, :index 86}
{:type :ok, :f :write, :value 1, :time 9897913117, :process 41, :index 87}
{:type :invoke, :f :write, :value 1, :time 9955533487, :process 27, :index 88}
{:type :ok, :f :write, :value 1, :time 9969122790, :process 27, :index 89}
